{% if ArrayData is not empty %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block thead %}
            {% for key , value in ArrayData[0]["table"] %}
                <th scope="col">{{ key }}</th>
            {% endfor %}
        {% endblock %}
        {% block tbody %}
            {% for i in 0..ArrayData|length - 1 %}
                <tr class="td-hover">
                    {% for key , value in ArrayData[i]["table"] %}
                        <td>
                            <a class="link-person"
                               href="{{ path('core_person_natural_show', {id: ArrayData[i]["bubble"]["person_id"] }) }}">
                                <div class="{% if isCommercial == false %}personnal-info{% endif %}"
                                     data-info-client="{{ ArrayData[i]["bubble"] | json_encode }}">
                                    <p>{{ value }}</p>
                                </div>
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endblock %}

    {% endembed %}
{% else %}
    <p>Aucun client</p>
{% endif %}
