{% if ArrayData is not empty %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block thead %}
            {% for key , value in ArrayData[0]["table"].offer %}
                <th scope="col">{{ key }}</th>
            {% endfor %}
            {% for key , value in ArrayData[0]["table"] %}
                {% if value is not iterable %}
                    <th scope="col">{{ key }}</th>
                {% endif %}
            {% endfor %}

        {% endblock %}
        {% block tbody %}
            {% for i in 0..ArrayData|length - 1 %}
                <tr class="td-hover">
                    {% for key , value in ArrayData[i]["table"].offer %}
                        <td>
                            <a href="{{ path('core_person_natural_show', {id: ArrayData[i]["bubble"]["person_id"] }) }}">
                                <div class="personnal-info"
                                     data-info-client="{{ ArrayData[i]["bubble"] | json_encode }}">
                                    <p>{{ value }}</p>
                                </div>
                            </a>
                        </td>
                    {% endfor %}
                    {% for key , value in ArrayData[i]["table"] %}
                        {% if value is not iterable %}
                            <td>
                                <a href="{{ path('core_person_natural_show', {id: ArrayData[i]["bubble"]["person_id"] }) }}">
                                    <div class="personnal-info"
                                         data-info-client="{{ ArrayData[i]["bubble"] | json_encode }}">
                                        <p>{{ value }}</p>
                                    </div>
                                </a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% else %}
    <p>Aucun client</p>
{% endif %}