<div class="container">
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6">
            <div class="input-text-group">
                <small>
                    <p class="help-text">Nom de famille</p>
                </small>
                <input type="text" class="form-control" placeholder="Nom de famille" name="lastname" value="{{ personNatural is defined ? personNatural.lastName : '' }}" required maxlength="255">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-text-group">
                <small>
                    <p class="help-text">Prénom</p>
                </small>
                <input type="text" class="form-control" placeholder="Prénom" name="firstname" value="{{ personNatural is defined ? personNatural.firstName : '' }}" required maxlength="255">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-5">
            <small>
                <span class="help-text">Origine</span>
            </small>
            <select id="contact_service_person_origin" name="origin" class="selectpicker">
                {% for origin in origins %}
                    {% if personNatural is defined and personNatural.origin == origin %}
                        <option selected value="{{ origin.id }}">{{ origin.label }}</option>
                    {% else %}
                        <option value="{{ origin.id }}">{{ origin.label }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-5">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.service,'title':'Service','placeholder':'Service'} %}
        </div>
        <div class="col-sm-2">
            <small>
                <p class="help-text">Service manquant ?</p>
            </small>
            <a onclick="popupContactService(this,'{{ url('core_contact_service_new') }}')"
               class="bubble-info"
               aria-label="Nouveau service">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6">
            {% include 'BaseTheme/inputText.html.twig' with {'field':form.label,'title':'Intitulé personnalisé'} %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6 text-center">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-fill btn-primary'},'label': 'Enregistrer'}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
