{% extends 'base.html.twig' %}
{% block title %}Nouveau contact pour : {{ personLegal.corporateName }}{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('core_person_legal_show',{"id":personLegal.id}) }}"
           class="bubble-info"
           aria-label="Retour fiche établissement">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }}
    </h1>
    {{ include('Core/ContactInstitution/_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}