<form action="{{ path('core_contact_service_new') }}" id="form-contact-service" method="POST">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="input-text-group">
                <small>
                    <span class="help-text">Libellé</span>
                </small>
                <input type="text" class="form-control" placeholder="Libellé" name="label" required maxlength="255">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <input class="btn btn-primary" id="btn-contact-service-submit" type="submit" value="Créer">
    </div>
</form>