{% extends 'base.html.twig' %}

{% block title %}
    Visualisation des Spécialités Médicales
{% endblock %}
{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="row">
                <div class="col-11">Liste des spécialités médicales</div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer un nouveau type de spécialité médicale"
                       data-controller="Core\MedicalSpecialtyController\new">
                        <i class="fas fa-plus"
                           title='Nouvelle Spécialité Médicale'
                           onclick='popupOnHtmlResponse(this,"{{ url("core_medical_specialty_new") }}","POST")'></i>
                    </a>

                </div>
            </div>
        {% endblock %}

        {% block thead %}
            <th>Id</th>
            <th>Libellé officiel</th>
            <th>Libellé du métier</th>
            <th>Types</th>
            <th>Actions</th>
        {% endblock %}
        {% block tbody %}
            {% for medical_specialty in medical_specialties %}
                <tr>
                    <td>{{ medical_specialty.id }}</td>
                    <td>{{ medical_specialty.officialLabel }}</td>
                    <td>{{ medical_specialty.jobTitle }}</td>
                    <td>{{ include('BaseTheme/arrayToString.html.twig', {'array':medical_specialty.relatedType}) }}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-6">
                                <a class="bubble-info" aria-label="Modifier"
                                   data-controller="Core\MedicalSpecialtyController\edit">
                                    <i class="fas fa-pen"
                                       title='Modifier Service'
                                       onclick='popupOnHtmlResponse(this,"{{ url("core_medical_specialty_edit",{"id":medical_specialty.id }) }}", "POST")'></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <a class=" bubble-info" aria-label="Supprimer"
                                   data-controller="Core\MedicalSpecialtyController\delete">
                                    <i class=" fas fa-trash-alt"
                                       onclick='confirmDelete(this,"Confimer vous la suppression de cette spécialité ?","{{ url("core_medical_specialty_delete",{"id":medical_specialty.id }) }}")'>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune spécialité médicale existante</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}



