{{ form_start(form) }}
<div class="col-md-10 mr-auto ml-auto">
    <!--      Wizard container        -->
    <div class="wizard-container">
        <div class="card card-wizard" data-color="primary" id="wizardProfile">
            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>
                    {% if '/new' in app.request.uri %}
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-5">
                                {% include  'BaseTheme/selectpicker.html.twig' with {'field':form.origin,'title':'Origine de la création','placeholder':'Origine de la création','emptyValue':'Aucune Origine'} %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row justify-content-center mt-5">
                        <div class="col-sm-5">
                            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.personStatus,'title':'Statut','placeholder':'Statut','emptyValue':'Aucun Statut'} %}
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-sm-5">
                            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.mainJobName,'title':'Catégorie principale','placeholder':'Catégorie principale','emptyValue':'Aucune Catégorie'} %}
                        </div>
                        <div class="col-sm-5">
                            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.jobNames,'title':'Autres catégorie ','placeholder':'Autres catégories','emptyValue':'Aucune Catégorie'} %}
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-sm-10">
                            {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.corporateName,'title':'Raison Sociale'} %}
                                {% block icon %}<i class="fas fa-city"></i>{% endblock %}
                            {% endembed %}
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div id="box-choice" class="col-md-6">
                            <input type="hidden" value="{{ id }}" data-url="{{ path }}" id="person-legal-id">
                            <table id="person-natural-list" class="display nowrap table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <td><small>Liste des clients à rattacher à l'établissement / cabinet</small></td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-sm-8">
                            {% include 'Core/Note/informationForm.html.twig' with {'form':form.additionalInformation} %}
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-2">
                            <i class="fas fa-at"></i>
                            Adresse Mail
                            <i class="fas fa-plus add-another-collection-widget" id="add-another-mail-address"
                               data-list-selector="#mail-fields-list"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="form-error">
                                {% for error in form.vars.errors %}
                                    {% if 'mails' in error.cause.propertyPath %}
                                        {{ error.message }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <ul id="mail-fields-list"
                                data-prototype='{% apply escape %}{{ include('BaseTheme/mailForm.html.twig', {'form':form.mails.vars.prototype}) }}{% endapply %}'
                                data-widget="{{ '<li class="row"> </li>'|e }}"
                                data-widget-counter="{{ form.children|length }}">

                                {% for mail in form.mails %}
                                    <li class="row">
                                        {{ include('BaseTheme/mailForm.html.twig', {'form':mail}) }}
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-2">
                            <i class="fas fa-phone"></i>
                            Téléphone
                            <i class="fas fa-plus add-another-collection-widget" id="add-another-phone-number"
                               data-list-selector="#phone-fields-list"></i>
                        </div>
                        <div class="col-sm-8">
                            <ul id="phone-fields-list"
                                data-prototype='{% apply escape %}{{ include('BaseTheme/telephoneForm.html.twig', {'form':form.telephones.vars.prototype}) }}{% endapply %}'
                                data-widget="{{ '<li class="row"> </li>'|e }}"
                                data-widget-counter="{{ form.children|length }}">

                                {% for phone in form.telephones %}
                                    <li class="row align-middle">
                                        {{ include('BaseTheme/telephoneForm.html.twig', {'form':phone}) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-2">
                            <i class="fas fa-address-card"></i> Adresses postales <i
                                    id="add-another-postal-address"
                                    class="fas fa-plus add-another-collection-widget"
                                    data-list-selector="#address-fields-list"></i>
                        </div>
                        <div class="col-sm-8">
                            <ul id="address-fields-list"
                                data-prototype='{% apply escape %}{{ include('BaseTheme/addressForm.html.twig', {'form':form.addresses.vars.prototype}) }}{% endapply %}'
                                data-widget="{{ '<li class="row"> </li>'|e }}"
                                data-widget-counter="{{ form.children|length }}">

                                {% for address in form.addresses %}
                                    <li class="row">
                                        {{ include('BaseTheme/addressForm.html.twig', {'form':address}) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-center mt-5">
                    <div class="col-sm-10 text-center">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-fill btn-primary'},'label':'Enregistrer'}) }}
                    </div>
                </div>
                <div class="d-none">{{ form_rest(form) }}</div>
            </div>
        </div>
        <!-- wizard container -->
    </div>
</div><!--div.btn-group.bootstrap-select.show-t-->
{{ form_end(form) }}
{% block javascripts %}
    <script src="{{ asset('bootstrap/js/core/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            let input = $('#person-legal-id');
            let result = [];

            $.ajax({
                url: input.attr('data-url'),
                type: 'POST',
                dataType: 'json',
                data: {'personLegalId': input.val()},
                success: function (data) {
                    let on_create = true;
                    for (let i = 0; i < data.length; i++) {
                        let checked = "<input class='form-check-input personLegal-checkbox' id='person-natural" + data[i]['id'] + "'  name='personNaturals[]' value='" + data[i]['id'] + "' type='checkbox'>";
                        if (data[i]['checked']) {
                            checked = "<input class='form-check-input personLegal-checkbox' id='person-natural" + data[i]['id'] + "' name='personNaturals[]' value='" + data[i]['id'] + "' type='checkbox' checked='checked'>";
                            result.unshift([
                                " <div class='form-check'>" +
                                "<label class='form-check-label' for='person-natural" + data[i]['id'] + "'>" + checked +
                                "<span class='form-check-sign'></span>" + data[i]['name'] + "  (" + data[i]['id'] + ")" +
                                "</label>" +
                                "</div>"
                            ]);
                            on_create = false;
                        } else {
                            result.push([
                                " <div class='form-check'>" +
                                "<label class='form-check-label' for='person-natural" + data[i]['id'] + "'>" + checked +
                                "<span class='form-check-sign'></span>" + data[i]['name'] + "  (" + data[i]['id'] + ")" +
                                "</label>" +
                                "</div>"
                            ]);
                        }
                    }

                    $('#person-natural-list').DataTable({
                        data: result,
                        deferRender: true,
                        scrollY: 200,
                        ordering: on_create,
                        scrollCollapse: false,
                        scroller: {
                            loadingIndicator: false
                        },
                        language: {search: "Rechercher client: ", zeroRecords: "aucun client trouvé"}
                    });
                    $('#person-natural-list_filter input').attr('placeholder', 'entrez ID ou nom du client').removeClass('form-control-sm');
                    $('#person-natural-list_filter').parent().addClass('order-first');
                    $('#person-natural-list_info').addClass('d-none');
                }
            });
        });
    </script>
{% endblock %}