{% extends 'base.html.twig' %}
{% block title %}Edition établissement{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('core_person_legal_show',{'id':personLegal.id}) }}"
           class=" bubble-info"
           aria-label="Retour fiche établissement">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }} {{ personLegal.name }}
    </h1>
    {{ include('Core/PersonLegal/_form.html.twig') }}
{% endblock %}
