{% extends 'base.html.twig' %}
{% block title %}Nouvel établissement{% endblock %}

{% block body %}
    <h1>
        {{ block('title') }}
    </h1>
    {{ include('Core/PersonLegal/_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personLegal') }}
{% endblock %}

