{% extends 'base.html.twig' %}

{% block title %}Etablissement{% endblock %}
{% block tools %}
    <hr>
    <div class="toolbox">
        <ul class="m-0 p-0">
            <li>
                <a>
                    <i class="fas fa-user-md tool-box-links"
                       title="Création d'une offre"
                       onclick='popupOnHtmlResponse(this,"{{ url("offer_preselect_canvas",{'id':PersonLegal.id}) }}")'></i>
                </a>
            </li>
            <li>
                <hr class="one-hr">
                <a>
                    <i class="fas fa-user-clock tool-box-links"
                       title='Définir un rappel pour le client n°{{ PersonLegal.id }}'
                       onclick='popupOnHtmlResponse(this,"{{ url("define_alarm_recall",{"id":PersonLegal.id,"agendaId":app.user.agenda.id}) }}")'>
                    </i>
                </a>
            </li>
            {% if PersonLegal.defaultMail %}
                <li class="p-1" data-controller="/core/person/legal/mail/exchange">
                    <hr class="one-hr">
                    <a href="{{ url('person_legal_mail_exchange', {'id':PersonLegal.id}) }}">
                        <i class="fas fa-envelope tool-box-links" title="Echanges de Mails"> </i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h2>{{ PersonLegal.mainJobName.label }}</h2>
            <h1 class="text-left">{{ PersonLegal.corporateName }} ({{ PersonLegal.id }})
                <a aria-label="Modifier" data-controller="Core\PersonLegalController\edit"
                   href="{{ url("core_person_legal_edit",{"id":PersonLegal.id }) }}">
                    <i class="fas fa-user-edit"></i>
                </a>
            </h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5 ml-auto">
            <div class="card card-chart">
                <div class="card-body">
                    Téléphones
                    <hr class="separate">
                    <div class="data">
                        <div class="row">{% for telephone in PersonLegal.telephones %}
                                <div class="col">
                                    {% if telephone.phoneType==constant('CELL', telephone) %}
                                        {# TODO LIEN VERS ENVOI SMS A ENVOYER SUR PHONE#}
                                        {% set phone = telephone.number|slice(1, 9) %}
                                    {% else %}
                                        {# TODO LIEN VERS CLIC TO CALL#}
                                        {% set lien="" %}
                                    {% endif %}
                                    {{ telephone.translate.icon(telephone.phoneType)|raw }}
                                    {% set tel=telephone.number|split('',2) %}
                                    {% for number in tel %}
                                        {{ number }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr class="separate">
                    Mails
                    <hr class="separate">
                    <div class="data">
                        <div class="row">{% for mail in PersonLegal.mails %}
                                <div class="col">
                                    {{ mail.translate.icon(mail.mailType)|raw }}
                                    {% set lien="mailto:"~mail.address %}
                                    <a href="{{ lien }}">{{ mail.address }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr class="separate">
                    Adresses
                    <hr class="separate">
                    <div class="data">
                        <div class="row">
                            {% for address in PersonLegal.addresses %}
                                {% for usage in address.usages %}
                                    {% if usage==constant('FISCAL', address) %}
                                        <div class="col-md">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <hr class="separate">
                                                    Adresse Fiscale
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {{ address.addressLine1 }}<br/>
                                                    {% if address.addressLine2!='' %}
                                                        {{ address.addressLine2 }}<br/>
                                                    {% endif %}
                                                    {{ address.postalCode }} {{ address.locality }}  {% if address.isCedex==true %} CEDEX{% endif %}
                                                </div>
                                                <div class="col-md-1">
                                                    {% for domiciliation in address.domiciliations %}
                                                        {{ address.translate.icon(domiciliation)|raw }}<br/>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-md-1">
                                                    {% for usage in address.usages %}
                                                        {{ address.translate.icon(usage)|raw }}<br/>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% for usage in address.usages %}
                                    {% if usage==constant('CORRESPONDENCE',address) %}
                                        <div class="col-md">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <hr class="separate">
                                                    Adresse de correspondance
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {{ address.addressLine1 }}<br/>
                                                    {% if address.addressLine2!='' %}
                                                        {{ address.addressLine2 }}<br/>
                                                    {% endif %}
                                                    {{ address.postalCode }} {{ address.locality }}  {% if address.isCedex==true %} CEDEX{% endif %}
                                                </div>
                                                <div class="col-md-1">{% for domiciliation in address.domiciliations %}
                                                        {{ address.translate.icon(domiciliation)|raw }}<br/>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-md-1">{% for usage in address.usages %}
                                                        {{ address.translate.icon(usage)|raw }}<br/>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-calenda">
                <div class="card-body">
                    {% include 'BaseTheme/calendar.html.twig' with {'size':'calendar-small','object':PersonLegal,'type':'personLegal'} %}
                </div>
            </div>
        </div>
        <div class="col-md-5 mr-auto">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="row">
                        <div class="offset-3 col-4 label">
                            {% if LastExchange is not null %}
                                Dernier échange <br/>{{ LastExchange.translate.label(LastExchange.type) }}
                            {% endif %}
                        </div>
                        <div class="col-5 value text-right">
                            {% if LastExchange is not null %}
                                {{ LastExchange.creator.lastName }} {{ LastExchange.creator.firstName }} le {{ LastExchange.creationDate|date('d/m/Y à H:i:s') }}
                            {% else %}Aucun échange
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 label">Classification</div>
                        <div class="col-8 value">{{ PersonLegal.mainJobName.translate.label(PersonLegal.mainJobName.classification) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3 label">Catégorie</div>
                        <div class="col-8 value">
                            {% for jobName in PersonLegal.jobNames %}
                                {{ jobName.label }} /
                            {% endfor %}
                            {{ PersonLegal.mainJobName.label }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 label">Statut</div>
                        <div class="col-8 value">{{ PersonLegal.translate.label(PersonLegal.personStatus) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 label">Origine</div>
                        <div class="col-3 value">{{ PersonLegal.origin.label }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2 label">Crée le</div>
                        <div class="col-4 value">{{ PersonLegal.creationDate|date('d/m/Y H:i:s') }}</div>
                        <div class="col-2 label">Par</div>
                        <div class="col-4 value">{{ PersonLegal.creator.lastName }} {{ PersonLegal.creator.firstName }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 label">Médecin(s) rattaché(s) à cet établissement</div>
                    </div>
                    <div class="row">
                        <div class="col-8 value">
                            <ul>
                                {% for personNatural in PersonLegal.personNaturals if personNatural not in PersonLegal.contacts %}
                                    <li>
                                        <a href="{{ url('core_person_natural_show',{"id":personNatural.id}) }}"
                                           data-controller="Core\PersonLegalController\show">{{ personNatural.firstName }} {{ personNatural.lastName }}
                                            - {{ personNatural.mainJobName.label }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 label">Contact(s) rattaché(s) à cet établissement
                            <a class="bubble-info smaller-bubble-info" aria-label="Ajouter un contact"
                               href="{{ url("contact_institution_new",{"id":PersonLegal.id}) }}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 value">
                            <ul>
                                {% for contact in PersonLegal.contactInstitutions %}
                                    <li>
                                        <a href="{{ url('core_person_natural_show',{"id":contact.personNatural.id}) }}"
                                           data-controller="Core\PersonLegalController\show">{{ contact.personNatural.firstName }} {{ contact.personNatural.lastName }}</a>
                                        - {{ contact.service }}
                                        <a class="bubble-info smaller-bubble-info" aria-label="Editer le contact"
                                           href="{{ url("contact_institution_edit",{"id":contact.id}) }}">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% if PersonLegal.additionalInformation is not null %}
                <div class="card card-chart">
                    <div class="card-header">
                        Informations complémentaires
                    </div>
                    <div>
                        {{ PersonLegal.additionalInformation.text }}
                    </div>
                </div>
            {% endif %}
            {% include 'Offer/Offer/personOffer/viewApplicantOffer.html.twig' with {'person':PersonLegal} %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personToContact') }}
    {{ encore_entry_script_tags('personAlreadyHired') }}
    {{ encore_entry_script_tags('opinions') }}
{% endblock %}