{% extends 'base.html.twig' %}

{% block title %}
    Visualisation des établissements
{% endblock %}
{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="toolbar">
                <div class="row">
                    <h1 class="col-11"> Liste Etablissements & Cabinets({{ count }})</h1>
                    <div class="col-1">
                        <a class="bubble-info" aria-label="Nouveau"
                           data-controller=""
                           href="/core/person/legal/new">
                            <i class="fas fa-user-plus"
                               title=""></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block thead %}
            <th>Raison sociale</th>
            <th>Id</th>
            <th>Catégorie</th>
            <th>Adresse</th>
            <th>Classification</th>
            <th>Statut</th>
            <th>Mail</th>
            <th>Actions</th>
        {% endblock %}
        {% block tbody %}
            {% for item in data %}
                <tr>
                    <td>
                        <a href="/core/person/legal/ {{ item.id }}"> {{ item.corporateName }}</a>
                    </td>
                    <td>
                        <a href="/core/person/legal/ {{ item.id }}">{{ item.id }}</a>
                    </td>
                    <td>
                        <a href="/core/person/legal/ {{ item.id }}">{{ item.job_name_label }}</a>
                    </td>
                    <td>
                        <a href="/core/person/legal/ {{ item.id }}">{{ item.address }}</a>
                    </td>
                    <td>
                        <a href="/core/person/legal/ {{ item.id }}">{{ item.classification }}</a>
                    </td>
                    <td>
                        <a href="/core/person/legal/ {{ item.id }}">{{ item.status }}</a>
                    </td>
                    <td>
                        <a href="/core/person/legal/ {{ item.id }}">{{ item.mail }}</a>
                    </td>
                    <td>
                        {{ item.action|raw }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}