<div id="toolbox-person-infos" class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fas fa-address-card fa-2x btn-link tool-box-links"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title">
                {% if person.corporateName is defined %}
                    <a id="dropdown-link-person" href="{{ url('core_person_legal_show',{'id':person.id}) }}">{{ person.corporateName }}</a>
                {% else %}
                    <a id="dropdown-link-person" href="{{ url('core_person_natural_show',{'id':person.id}) }}">
                        {% if person.firstName is not null %}{{ person.firstName }}{% endif %}
                        {% if person.lastName is not null %}{{ person.lastName }}{% endif %}
                    </a>
                {% endif %}
            </li>
            <li class="adjustments-line">
                <div class="customer-infos-title"><strong>Adresse(s)</strong></div>
                {% for address in person.addresses %}
                    <div>
                        {% if person.addresses|length > 1 %}
                            {% for usage in address.usages %}
                                {% if usage==constant('FISCAL', address) %}
                                    {{ address.addressLine1 }}<br/>
                                    {% if address.addressLine2!='' %}
                                        {{ address.addressLine2 }}<br/>
                                    {% endif %}
                                    {{ address.postalCode }} {{ address.locality }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ address.addressLine1 }}<br/>
                            {% if address.addressLine2!='' %}
                                {{ address.addressLine2 }}<br/>
                            {% endif %}
                            {{ address.postalCode }} {{ address.locality }}
                        {% endif %}
                    </div>
                {% endfor %}
            </li>
            <li class="adjustments-line">
                <div class="customer-infos-title"><strong>Téléphone(s)</strong></div>
                {% for telephone in person.telephones %}
                    <div>
                        {{ telephone.translate.icon(telephone.phoneType)|raw }}
                        {% set tel=telephone.number|split('',2) %}
                        {% for number in tel %}
                            {{ number }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </li>
            <li class="adjustments-line">
                <div class="customer-infos-title"><strong>Type adhésion</strong></div>
            </li>
            <li class="adjustments-line">
                <div class="customer-infos-title"><strong>{% if person.corporateName is defined %}Membres{% else %}<span
                                class="font-italic">Groupes</span> et Associés{% endif %}</strong></div>
                {% if person.corporateName is defined %}
                    {% for personNatural in person.personNaturals %}
                        <div>{{ personNatural.firstName }} {{ personNatural.lastName }}</div>
                    {% endfor %}
                {% else %}
                    {% for personLegal in person.personLegals %}
                        <div>
                            <span class="font-italic">{{ personLegal.corporateName }}</span>{% if personLegal.personNaturals|length > 1 %} :{% endif %}
                        </div>
                        {% if personLegal.personNaturals|length > 1 %}
                            <div class="list-person-natural">
                                {% for personNatural in personLegal.personNaturals %}
                                    {% if person.id != personNatural.id %}
                                        <div>- {{ personNatural.firstName }} {{ personNatural.lastName }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
    </div>
    {% if sendOffer is defined and sendOffer == true %}
    <div title="Transmettre cette offre">
        <a href="#" id="btn-send-one-offer-to-persons">
            <i class="fas fa-share-square fa-2x btn-link tool-box-links"></i>
        </a>
    </div>
    {% endif %}
</div>