<form action="{{ url('notification_send') }}" method="POST">
    <div class="row justify-content-center">
        <div class="col-sm-6 form-group">
            <label for="notification-staff">Personne(s) à notifier :</label>
            <select id="notification-staff" name="staffs[]" class="selectpicker c-light-black" title="Aucun élément sélectionné" multiple required>
                {% for staff in staffs %}
                    <option value="{{ staff.id }}">{{ staff.lastName }} {{ staff.firstName }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <label for="notification-subject">Type :</label>
            <select id="notification-subject" name="subjects[]" class="selectpicker c-light-black" title="Aucun élément sélectionné" multiple>
                {% for key,type in types %}
                    <option value="{{ key }}">{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 form-group">
            <label for="notification-message">Message :</label>
            <textarea id="notification-message" name="message" class="form-control c-light-black"></textarea>
        </div>
    </div>
    <input type="hidden" name="personID" value="{{ personId }}">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-5">
            <input type="submit" class="btn btn-primary" value="Enregistrer">
        </div>
    </div>
</form>
