<div class="col-md-12 textarea-content">
    <div class="row">
        <div class="form-error">
            {{ form_errors(form) }}
        </div>
        <div class="col-lg-5 my-auto">
            {% include('BaseTheme/selectpicker.html.twig') with {'field':form.noteType, 'title':'Type'} %}
        </div>
        <div class="col-lg-5 my-auto">
        </div>
        <div class="col-lg-2 my-auto">
            <div class="input-group-prepend">
                <button type="button" class="delete-btn btn btn-danger">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-group col-lg-12 my-auto">
            {% include('BaseTheme/textArea.html.twig') with {'field':form.text, 'title':'Note'} %}
        </div>
    </div>


    <div class="d-none">{{ form_rest(form) }}</div>
</div>