<div class="col-md-12 textarea-content">
    <div class="form-error">
        {{ form_errors(form) }}
    </div>
    <div class="input-group col-lg-12 my-auto">
        {% include('BaseTheme/textArea.html.twig') with {'field':form.text, 'title':'Information Complémentaire'} %}
    </div>
    <div class="d-none">
        {{ form_rest(form) }}
    </div>
</div>