{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification de mot de passe</h1>
    <div class="card-body">
        <form name="staff" method="POST" action="{{ path('staff_change_password', {'id': staff.id}) }}">
            <div class="container">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-lock card-white text-center">
                        <div class="card-header">
                            <img src="{{ asset(picturePath) }}" alt="...">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ staff.lastName|upper }} {{ staff.firstName }}</h4>
                            <small><p id="staff_password_help" class="help-text">Mot de passe (6 caractères minimum)</p>
                            </small>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tim-icons icon-key-25"></i>
                                    </div>
                                </div>
                                <input type="password" id="staff_password" name="staff[password]" class="form-control"
                                       placeholder="Mot de passe">
                            </div>
                            <div class="form-error">
                                {{ error }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" id="staff_submit" name="staff[submit]"
                                    class="btn btn-fill btn-primary">Modifier
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

