{% extends 'base.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
    <h1>Création d'un utilisateur</h1>

    <div class="card-body">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail img-circle">
                        <img src="{{ asset('bootstrap/img/placeholder.jpg') }}" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                    <div>
                        <span class="btn btn-round btn-rose btn-file">
                          <span class="fileinput-exists">Changer</span>
                          {{ form_row(form.photo, {'attr':{'class':'d-none'}}) }}
                        </span>
                        <br/>
                        <a class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                                    class="fa fa-times"></i> Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.jobTitle,'title':'Intitulé de poste'} %}
                    {% block icon %}<i class="tim-icons icon-molecule-40"></i>{% endblock %}
                {% endembed %}
            </div>
            <div class="col-sm-5">
                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.roles,'title':'Rôles','placeholder':'Rôle(s)','emptyValue':'Aucun Rôle'} %}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.gender,'title':'Sexe','placeholder':'','emptyValue':'Aucun genre'} %}
            </div>
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.contract,'title':'Contract (ex:35 pour 35h/semaine)'} %}
                    {% block icon %}<i class="tim-icons icon-ic_alarm_48px"></i>{% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.nickname,'title':'Pseudonyme'} %}
                    {% block icon %}<i class="tim-icons icon-single-02"></i>{% endblock %}
                {% endembed %}
            </div>
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.password,'title':'Mot de passe '} %}
                    {% block icon %}<i class="tim-icons icon-lock-circle"></i>{% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.lastName,'title':'Nom'} %}
                    {% block icon %}<i class="tim-icons icon-badge"></i>{% endblock %}
                {% endembed %}
            </div>
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.firstName,'title':'Prénom'} %}
                    {% block icon %}<i class="tim-icons icon-badge"></i>{% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.email,'title':'Email'} %}
                    {% block icon %}<i class="tim-icons icon-email-85"></i>{% endblock %}
                {% endembed %}
            </div>
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.ip,'title':'Adresse IP'} %}
                    {% block icon %}<i class="tim-icons icon-laptop"></i>{% endblock %}
                {% endembed %}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <div class="input-text-icon-group">
                    <small><p class="help-text">Date d'embauche</p></small>
                </div>
                {{ form_widget(form.dateOfHiring) }}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <div class="input-text-icon-group">
                    <small><p class="help-text">Date de début de prise de poste</p></small>
                </div>
                {{ form_widget(form.dateStart) }}
            </div>
            <div class="col-md-5">
                <div class="input-text-icon-group">
                    <small><p class="help-text">Date de fin de prise de poste</p></small>
                </div>
                {{ form_widget(form.dateEnd) }}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.service,'title':'Service','required':'required','placeholder':'Service','emptyValue':'Aucun Service'} %}
            </div>
            <div class="col-sm-5">
                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.internalPhone,'title':'Téléphone interne'} %}
                    {% block icon %}<i class="tim-icons icon-headphones"></i>{% endblock %}
                {% endembed %}
                <div class="input-group">
                    <ul id="phone-fields-list"
                        data-prototype='{% apply escape %}{{ include('BaseTheme/telephoneForm.html.twig', {'form':form.externalPhones.vars.prototype}) }}{% endapply %}'
                        data-widget="{{ '<li class="row"> </li>'|e }}"
                        data-widget-counter="{{ form.children|length }}">

                        {% for phone in form.externalPhones %}
                            <li class="row">
                                {{ include('BaseTheme/telephoneForm.html.twig', {'form':phone}) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add-another-collection-widget btn btn-success"
                            data-list-selector="#phone-fields-list">
                        Ajouter un téléphone externe
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-5">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-fill btn-primary'}, 'label':'Créer','title':'Soumettre'}) }}
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}
    {# don't render unrendered fields #}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
