{% extends 'base.html.twig' %}

{% block title %}
    Visualisation Staff
{% endblock %}
{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="row">
                <div class="col-11">Liste du staff</div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer un nouveau staff"
                       data-controller="Core\StaffController\new"
                       href="{{ url('staff_new') }}">
                        <i class="fas fa-user-plus"
                           title='Nouveau staff'></i>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block thead %}
            <th>ID</th>
            <th>Pseudo</th>
            <th>En poste</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Service</th>
            <th>Titre</th>
            <th>Téléphone interne</th>
            <th>Téléphone externe</th>
            <th>IP</th>
            <th>Rôles</th>
            <th>Actions</th>
        {% endblock %}
        {% block tbody %}
            {% for staff in staffs %}
                <tr>
                    <td>
                        <a href="{{ url("staff_edit",{"id":staff.id }) }}">
                            {{ staff.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url("staff_edit",{"id":staff.id }) }}">
                            {{ staff.nickname }}
                        </a>
                    </td>
                    <td>{{ (staff.isActive) ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ url("staff_edit",{"id":staff.id }) }}">
                            {{ staff.lastName }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url("staff_edit",{"id":staff.id }) }}">
                            {{ staff.firstName }}
                        </a>
                    </td>
                    <td>{{ staff.email }}</td>
                    <td>{{ staff.service.name }}</td>
                    <td>{{ staff.jobTitle }}</td>
                    <td>{{ staff.internalPhone }}</td>
                    <td>
                        {% for phone in staff.externalPhones %}
                            {{ phone.number }}
                        {% endfor %}
                    </td>
                    <td>{{ staff.ip }}</td>
                    <td title="{{ staff.roles|json_encode }}">{{ (staff.roles|json_encode)|length > 30 ? (staff.roles|json_encode)|slice(0, 30) ~ '...' : (staff.roles|json_encode) }}</td>
                    <td>
                        <a class="bubble-info" aria-label="Visualiser" data-controller="Core\StaffController\show"
                           href="{{ url("staff_edit",{"id":staff.id }) }}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="bubble-info" aria-label="Modifier" href="{{ url("staff_edit",{"id":staff.id }) }}"
                           data-controller="Core\StaffController\edit">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a class="bubble-info" aria-label="Changer le mot de passe"
                           data-controller="Core\StaffController\changePassword"
                           href="{{ url("staff_change_password",{"id":staff.id }) }}">
                            <i class="tim-icons icon-lock-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}




