{% extends 'base.html.twig' %}

{% block title %}Staff{% endblock %}
{% block body %}

    <div id="staff_pic" class="fileinput fileinput-new text-center" data-provides="fileinput">
        <div class="fileinput-new thumbnail img-circle">
            <img src="{{ asset(picture) }}" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-left">{{ Staff.lastName }} {{ Staff.firstName }}
                <a aria-label="Modifier" data-controller="Core\StaffController\edit"
                   href="{{ url("staff_edit",{"id":Staff.id }) }}">
                    <i class="fas fa-user-edit"></i>
                </a>
            </h1>
        </div>
        <div class="col-md-1">
            <a class="bubble-info" aria-label="Retour à la liste" data-controller="Core\StaffController\index"
               href="{{ path('staff_index') }}">
                <i class="fas fa-list return"></i>
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="card card-chart">
                <div class="card-body">
                    Téléphones
                    <hr class="separate">
                    <div class="data">
                        <div class="row">{% for telephone in Staff.externalPhones %}
                                <div class="col">
                                    {% if telephone.phoneType==constant('CELL', telephone) %}
                                        {# TODO LIEN VERS ENVOI SMS A ENVOYER SUR PHONE#}
                                        {% set phone = telephone.number|slice(1, 9) %}
                                    {% else %}
                                        {# TODO LIEN VERS CLIC TO CALL#}
                                        {% set lien="" %}
                                    {% endif %}
                                    {{ telephone.translate.icon(telephone.phoneType)|raw }}
                                    {% set tel=telephone.number|split('',2) %}
                                    {% for number in tel %}
                                        {{ number }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr class="separate">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-chart">
                <div class="card-body">
                    {% if Staff.internalPhone is not empty %}
                        Téléphones interne : {{ Staff.internalPhone }}
                        <hr class="separate">
                    {% endif %}
                    {% if Staff.ip is not empty %}
                        Addresse IP : {{ Staff.ip }}
                        <hr class="separate">
                    {% endif %}
                    Pseudonyem : {{ Staff.nickname }}
                    <hr class="separate">
                    {% if Staff.email is not empty %}
                        Email : {{ Staff.email }}
                        <hr class="separate">
                    {% endif %}
                    Roles : {{ Staff.roles |json_encode }}
                    <hr class="separate">
                    {% if Staff.service is not empty %}
                        Service : {{ Staff.service.name }}
                        <hr class="separate">
                    {% endif %}
                    {% if Staff.internalPhone is not empty %}
                        Intitulés de jobTitle : {{ Staff.jobTitle }}
                        <hr class="separate">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

