{% block stylesheets %}
    {{ encore_entry_link_tags('cfml/toolbox') }}
{% endblock %}

{% block body %}
    <div class="toolbox {% if is_granted("ROLE_CFML" , app.user ) %} toolbox-icon {% endif %}">
        <ul class="m-0 p-0">
            <li>
                <a>
                    <i class="fas fa-comment-dots tool-box-links"
                       title='Nouvel échange'
                       onclick='popupOnHtmlResponse(this,"{{ url("core_discussion_new",{"id":personNatural.id}) }}")'></i>
                </a>
            </li>
            {% if personNatural.mainJobName.personAccesses[0] is defined and (is_granted(constant('DEPOSIT_LIBERAL_ANNOUNCE',personNatural.mainJobName.personAccesses[0]),personNatural) or
                is_granted(constant('DEPOSIT_TO_CESSION',personNatural.mainJobName.personAccesses[0]),personNatural)) and is_granted("ROLE_CFML" , app.user ) == false %}
                <li class="p-1">
                    <hr class="one-hr">
                    <a>
                        <i class="fas fa-user-md tool-box-links"
                           title="Création d'une offre"
                           onclick='popupOnHtmlResponse(this,"{{ url("offer_preselect_canvas",{'id':personNatural.id}) }}")'></i>
                    </a>
                </li>
            {% else %}
                {% if is_granted("ROLE_CFML" , app.user ) == false %}
                    <li class="p-1">
                        <hr class="one-hr">
                        <a href="{{ url('core_person_natural_add_offer', {'id':personNatural.id}) }}">
                            <i class="fas fa-user-md tool-box-links" title="Rechercher une offre"> </i>
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if personNatural.mainJobName.personAccesses[0] is defined and is_granted(constant('CANDIDATE_TO_LIBERAL_ANNOUNCE',personNatural.mainJobName.personAccesses[0]),personNatural)
                and  is_granted("ROLE_CFML" , app.user ) == false %}
                <li class="p-1">
                    <hr class="one-hr">
                    <a>
                        <i id="btn-send-one-offer"
                           class="fas fa-share-square tool-box-links"
                           title="Transmettre une offre"
                           data-person-id="{{ personNatural.id }}"> </i>{# la gestion de l'envoi de l'offre se fait dans mastchingSubstitute.js #}
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('offer_wish_new',{'personId':personNatural.id}) }}">
                        <i class="fas fa-cloud-upload-alt tool-box-links" title="Créer un souhait"></i>
                    </a>
                </li>
            {% endif %}
            <li class="p-1">
                <hr class="one-hr">
                <a>
                    <i class="fas fa-user-clock tool-box-links"
                       title='Définir un rappel pour le client n°{{ personNatural.id }}'
                       onclick='popupOnHtmlResponse(this,"{{ url("define_alarm_recall",{"id":personNatural.id,"agendaId":app.user.agenda.id}) }}")'>
                    </i>
                </a>
            </li>
            <li class="p-1">
                <hr class="one-hr">
                <a>
                    <i class="fas fa-paper-plane tool-box-links"
                       title="Notifier un membre du staff"
                       onclick='popupOnHtmlResponse(this,"{{ url('notification_new',{ 'id':personNatural.id }) }}")'>
                    </i>
                </a>
            </li>
            {% if personNatural.defaultMail %}
                <li class="p-1" data-controller="/core/person/natural/mail/exchange">
                    <hr class="one-hr">
                    <a href="{{ url('person_natural_mail_exchange', {'id':personNatural.id}) }}">
                        <i class="fas fa-envelope tool-box-links" title="Echanges de Mails"> </i>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_CFML" , app.user ) %}
                <li class="p-1">
                    <hr class="one-hr">
                    <div id="toolbox-person-infos" class="fixed-plugin toolboxCFML">
                        <div class="dropdown show-dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="fas fa-copy" title="Info URSSAF"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header-title">
                                    <a id="dropdown-link-person"
                                       href="{{ path('core_person_natural_show' , {id : personNatural.id}) }}">
                                        {{ personNatural.name }} </a>
                                </li>
                                <li class="adjustments-line">
                                    <div class="customer-infos-title"><strong>URSSAF PAM</strong></div>
                                    <div>0806804209
                                    </div>
                                </li>
                                <li class="adjustments-line">
                                    <div class="customer-infos-title"><strong>URSSAF TI</strong></div>
                                    <div>3957
                                    </div>
                                </li>
                                <li class="adjustments-line">
                                    <div class="customer-infos-title"><strong> CARMF standard</strong></div>
                                    <div>0140683200
                                    </div>
                                </li>
                                <li class="adjustments-line">
                                    <div class="customer-infos-title"><strong><span
                                                    class="font-italic">CPAM </span></strong>
                                    </div>
                                    <div>3646
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_profil',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-single-02" title="PROFIL"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_data_tax',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-bank" title="Données Fiscales"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_urssaf',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-paper" title="Urssaf"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_estimate_contribution',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-alert-circle-exc"
                           title="Estimation URSSAF / CARMF"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_carmf',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-user-run" title="CARMF"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_membership_situation',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-single-copy-04" title="Situation adhésion"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_charge_social',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-badge"
                           title="Charges sociales - New charges sociales "></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_curps',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-components" title="CURPS"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_disease',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-sound-wave" title="Maladie"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_management_carmf',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links fa-folder-open"
                           title="CARMF gestion"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_bill',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-wallet-43" title="Facture"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_social_statement',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-book-bookmark" title="Déclarations Sociales"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_payement_urssaf',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-money-coins" title="Urssaf Règlement"></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a href="{{ url('cfml_verification_file',{"id":personNatural.id}) }}">
                        <i class="fas tool-box-links tim-icons icon-bag-16" title="Dossier de vérif."></i>
                    </a>
                </li>
                <li class="p-1">
                    <hr class="one-hr">
                    <a id="open-modal-gt" href="#" data-toggle="modal" data-target="#openModalGT">
                        <i class="fas tool-box-links tim-icons icon-chart-bar-32" title="Option GT"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% if is_granted("ROLE_CFML" , app.user ) %}
        {# modal pour l'icon de CFML option GT (icon de fin ) #}
        <div class="modal fade" id="openModalGT" tabindex="-1" role="dialog" aria-labelledby="openModalGT"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Changement de statut GT</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Votre nouveau status à l'instant t</p>

                        <select class="form-control">
                            <option selected value="a">Ne dispose plus de GT</option>
                            <option value="b">Ne souhaite plus nous donner ses accès</option>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
