{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/bill') }}
{% endblock %}

{% block title %}Cfml Facture{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'FACTURE'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="text-center">
                        <h4>Montant du CFML</h4>
                    </div>
                    <div class="content-display">
                        <table>
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="txt-content"><p>
                                        Montant du CFML :</p></td>
                                <td class="input-content"><input name="cfr" type="text" value="" size="5" maxlength="5">
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-content"><p>
                                        Montant de la lettre d'info :</p></td>
                                <td class="input-content"><input name="info" type="text" value="" size="5"
                                                                 maxlength="5">
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-content"><p>
                                        Echeance :</p></td>
                                <td class="input-content"><input class="form-control" type="datetime-local"
                                                                 name="echeance" id="relance2" type="text"
                                                                 value="01/01/2038" size="10" maxlength="10">
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-content"><p>
                                        Montant de la lettre d'info :</p></td>
                                <td class="input-content"><input class="form-control" type="datetime-local"
                                                                 name="relance1" id="relance1" type="text"
                                                                 value="24/08/2020">
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-content"></td>
                                <td class="input-content">
                                    <button class="btn btn-primary">Primary</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}