{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/app') }}
   {% endblock %}

{% block title %}Declaration CARMF{% endblock %}

{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}

{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'DÉCLARATION CARMF'} %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card m-1">
                <div class="content m-1">
                    <div class="text-center"><a href="#">Ajouter</a></div>
                </div>
                <hr>
                <div class="information-content m-1 background-color-grey">
                    <div class=" m-2">
                        <p><span class="font-weight-bold">Année : </span>2019</p>
                        <p><span class="font-weight-bold">- Avis IR reçu : le </span>00/00/0000</p>
                    </div>
                    <hr>
                    <div class="m-3">
                        <p>- Déclaration CARMF réalisée le : <span class="font-weight-bold">  00/00/0000</span></p>
                        <div class="margin-left">
                            <p>- Par : <span class="font-weight-bold"> CFML</span></p>
                            <p>- Collaboratrice : <span class="font-weight-bold"> CL-Camille</span></p>
                            <p>- Copie déclaration : <span class="font-weight-bold"> oui</span></p>
                            <p>envoyé le: <span class="font-weight-bold">  00/00/0000 par</span></p>
                            <br/>
                            <p class="font-italic">- Copie client déclaration envoyée le : <span
                                        class="font-weight-bold">00/00/0000</span></p>
                            <p class="font-italic">- Copie client déclaration envoyée le : <span
                                        class="font-weight-bold">00/00/0000</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Estimations des cotisations CARMF réalisée le : <span
                                    class="font-weight-bold"> 31/03/2020</span></p>
                        <div class="margin-left">
                            <p>- Par : NF-Nathalie</p>
                            <br/>
                            <p>- Info client envoyée le<span
                                        class="font-weight-bold"> 31/03/2020 par mail</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Déclaration URSSAF rectificative : <span
                                    class="font-weight-bold">oui</span></p>
                        <div class="margin-left">
                            <br/>
                            <p>- réalisée le : <span class="font-weight-bold"> 00/00/0000</span></p>
                            <p>- Par : <span class="font-weight-bold">VK-Virginie</span></p>
                            <p>- envoyée le <span class="font-weight-bold">00/00/0000 par</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <div class="w-25 margin-left d-flex justify-content-between">
                            <a href="#">Modifier</a>
                            <a href="#">Supprimer</a>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="information-content m-1 background-color-grey">
                    <div class=" m-2">
                        <p><span class="font-weight-bold">Année : </span>2018</p>
                        <p><span class="font-weight-bold">- Avis IR reçu : le </span>00/00/0000</p>
                    </div>
                    <hr>
                    <div class="m-3">
                        <p>- Déclaration CARMF réalisée le : <span class="font-weight-bold">  00/00/0000</span></p>
                        <div class="margin-left">
                            <p>- Par : </p>
                            <p>- Collaboratrice :</p>
                            <p>- Copie déclaration :</p>
                            <p>envoyé le: <span class="font-weight-bold">  00/00/0000 par</span></p>
                            <br/>
                            <p class="font-italic">- Copie client déclaration envoyée le : <span
                                        class="font-weight-bold">00/00/0000</span></p>
                            <p class="font-italic">- Copie client déclaration envoyée le : <span
                                        class="font-weight-bold">00/00/0000</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Estimations des cotisations CARMF réalisée le : <span
                                    class="font-weight-bold">  05/04/2019</span></p>
                        <div class="margin-left">
                            <p>- Par :</p>
                            <p>- Info client envoyée le<span
                                        class="font-weight-bold"> 31/03/2020 par mail</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Déclaration CARMF rectificative : <span
                                    class="font-weight-bold">non</span></p>
                        <br/>
                        <div class="w-25 margin-left d-flex justify-content-between">
                            <a href="#">Modifier</a>
                            <a href="#">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="dsiDeclarationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Ajout d'une année de déclaration URSSAF pour le Dr FILLON
                </div>
                <div class="modal-body">
                    Année : <input type="text" class="form-control" placeholder="" aria-label="">
                    <br/>
                    <p class="text-primary">Confirmez vous l'ajout de cette nouvelle année ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary">Oui</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
