{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/app') }}
   {% endblock %}

{% block title %}Cfml CARMF{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural , 'isCFML' : isCFML } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'CARMF'} %}
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="m-1">
                    <div>
                        <div class="div-float-right">
                            <i class="fas fa-pen primary float-right"></i>
                        </div>
                    </div>
                    <br/>
                    <div class="text-dark back-purple">
                        <div class="p-2">
                            <p>&nbsp;Affiliation à faire depuis le <strong>00-00-0000</strong> par</p>
                            <p>&nbsp;Copie du formulaire d'affiliation<strong> non présente dans le dossier</strong></p>
                            <p class="mt-3 text-center">Dispense d'affiliation depuis 2019
                            </p>
                        </div>
                        <div class="bg-white">
                            <p>Notes</p>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

{% endblock %}