{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/newChargeSocial') }}
{% endblock %}

{% block title %}Cfml Charges sociales {% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural, 'title' : 'CHARGES SOCIALES'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="d-flex align-items-center-center justify-content-center">
                    <table class="m-1">
                        <tbody>
                        <tr>
                            <td class="pl-5 pr-5"><i class="tim-icons icon-check-2"></i></td>
                            <td class="pl-5 pr-5"><i class="tim-icons icon-zoom-split"></i></td>
                            <td class="pl-5 pr-5"><i class="tim-icons icon-simple-add"></i></td>
                            <td class="pl-5 pr-5"><i class="tim-icons icon-trash-simple"></i></td>
                        </tr>

                        </tbody>
                    </table>

                </div>

                <div class="content">
                    <div class="d-flex">
                        <div class="mt-5 ml-5">
                            <div class="d-flex">
                                <div class="btn-header bg-secondary btn-primary m-2 pr-1 pl-2 text-justify" id="2020">
                                    <p>2020</p>
                                </div>
                                <div class="btn-header bg-secondary m-2 pr-1 pl-2 text-justify" id="2019"><p>2019</p>
                                </div>
                            </div>
                            <div class="bg-gradient-primary"><h4 class="m-0 text-center">URSSAF</h4></div>
                            <table class="table" id="table_char_social">
                                <thead>
                                <tr id="title_th_table_urssaf">
                                </tr>
                                </thead>
                                <tbody id="tbody_table_urssaf">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="mt-5 ml-5">
                            <div class="bg-gradient-primary"><h4 class="m-0 text-center"><input type="checkbox"> CARMF
                                </h4>
                            </div>
                            <table class="table" id="table_carmf">
                                <thead>
                                <tr id="title_th_table_for_carmf">
                                </tr>
                                </thead>
                                <tbody id="tbody_table_carmf">

                                </tbody>
                            </table>
                        </div>
                        <div class="mt-5 ml-5">
                            <div class="div-small-width bg-gradient-primary"><h4 class="text-center"><input
                                            type="checkbox">&nbsp;AVAT
                                </h4>
                            </div>
                            <div class="div-small-width bg-gradient-primary"><h4 class="text-center">&nbsp;CHARGES
                                    FACULTATIVES</h4>
                                <select name="facult_type" class="m-auto d-block" id="facult_type">
                                    <option value=""></option>
                                    <option value="O">Oui</option>
                                    <option selected="" value="N">Non</option>
                                    <option value="C">Non communiqué</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="other-purple">
                        <div class="mt-5 ml-5">
                            <textarea class="textarea m-3"></textarea>
                            <div class="text-center">
                                <p>ETAT RECAPITULATIF FINALISE LE <input name="finalise" type="text" id="echeance"
                                                                         value="29/01/2020" size="10" maxlength="9"> par
                                    <select name="auteur" id="auteur">
                                        <option selected="" value="0"></option>
                                        <option value="AB">Aurelie</option>
                                        <option value="CH">Charlotte</option>
                                        <option value="CL">Camille</option>
                                        <option value="CM">Christelle</option>
                                        <option value="HL">Heloise</option>
                                        <option value="JD">Jocelyn</option>
                                        <option value="JR">Jenny</option>
                                        <option value="MB">Monique</option>
                                        <option selected="" value="NF">Nathalie</option>
                                        <option value="PL">Pascal</option>
                                        <option value="SD">Sylvain</option>
                                        <option value="VF">Virginie</option>
                                        <option value="YT">Yannick</option>
                                    </select> envoyé au client par mail
                                </p>
                                <br/>
                                <p>Estim : montant estimé par le CFML - <span class="warning">Doc reçu :</span> saisie
                                    suite à la réception d'un
                                    document -<span class="c-green"> Confirm :</span> Confirmation du paiement et/ou du
                                    remboursement</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

  {% block javascripts %}
      {{ parent() }}
      {{ encore_entry_script_tags('cfml/newChargeSocial') }}
  {% endblock %}
