{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/curps') }}
{% endblock %}

{% block title %}Curps{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural  } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'CURPS'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="d-flex justify-content-center p-3">
                        <a href="#" class="mr-3">Ajouter</a>
                        <a href="#">Quitter</a>
                    </div>
                    <hr>
                    <div class="ml-3 mt-4">
                        <p><strong><span class="purple">Année :</span>&nbsp;&nbsp;2019</strong></p>
                        <p><strong><span class="purple">- CURPS dûe :</span>&nbsp;&nbsp;non</strong></p>
                        <p><strong><span class="purple">- CURPS appelée :</span>&nbsp;&nbsp;oui</strong></p>

                        <p>
                            <span class="brown">- Suppression CURPS demandée le : </span>&nbsp;&nbsp;<strong>00/00/0000</strong>
                            <span class="brown"> par</span>
                        </p>
                        <div class="ml-5">
                            <p><span class="brown">- collaboratrice :</span></p>
                            <p><span class="brown">- envoi au client le </span><strong>00/00/0000</strong><span
                                        class="brown"> par</span></p>
                        </div>

                        <p>
                            <span class="brown">Relance URSSAF 1 : </span>&nbsp;&nbsp;<strong>00/00/0000</strong>
                            <span class="brown"> par</span>
                        </p>
                        <div class="ml-5">
                            <p><span class="brown">- Relance URSSAF 2 : </span></p>
                            <p><span class="brown">- envoi au client le </span><strong>00/00/0000</strong><span
                                        class="brown"> par</span></p>
                        </div>

                        <p>
                            <span class="brown">- Relance URSSAF 3 : </span>&nbsp;&nbsp;<strong>00/00/0000</strong>
                            <span class="brown"> par</span>
                        </p>
                        <div class="ml-5">
                            <p><span class="brown">- collaboratrice :</span></p>
                            <p><span class="brown">- envoi au client le </span><strong>00/00/0000</strong><span
                                        class="brown"> par</span></p>
                        </div>

                        <p>
                            <span class="brown">- Suppression CURPS demandée le : </span>&nbsp;&nbsp;<strong>00/00/0000</strong>
                            <span class="brown"> par</span>
                        </p>
                        <div class="ml-5">
                            <p><span class="brown">- collaboratrice :</span></p>
                            <p><span class="brown">- envoi au client le </span><strong>00/00/0000</strong><span
                                        class="brown"> par</span></p>
                        </div>

                        <p><strong><span class="purple">- Accordée le :</span>&nbsp;&nbsp;00/00/0000</strong></p>
                        <p class="mb-3"><strong><span class="purple">- CURPS indûe payée :</span>&nbsp;&nbsp;00/00/0000</strong>
                        </p>
                        <hr>
                        <div class="d-flex ml-5">
                            <a href="#">Modifier</a>
                            <a href="#" class="space-between-link">Supprimer</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock body %}
