{% extends 'base.html.twig' %}
   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/app') }}
       {{ encore_entry_link_tags('cfml/dataTax') }}
   {% endblock %}
{% block title %}Cfml Données fiscales{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural, 'title' : 'DONNÉES FISCALES'} %}
    <div class="row justify-content-center">
        <div class="col-md-10 col-md-responsive">
            <div class="card">
                <u><a class="ml-3" href="#">Ajouter</a></u>
                <div class="m-3">
                    <div>
                        <div class="d-flex d-flex justify-content-between">
                            <div class="auto-flex-f content-div">
                                <div class="d-flex justify-content-between marg-header back-purple p-1">
                                    <div class="header">
                                        <p class="bold">Année 2020 </p>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="back-purple-other mt-2 mb-2 pl-4 ">
                                    <p>REVENUS : 50 000</p>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- imposable conventionné : </p>
                                        <p>40 000</p></div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- imposable non conventionné :
                                            0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- ZAT exo : 10 000</p></div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- PDS exo : 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">dont de remplacement : 0</p>
                                    </div>
                                    <br/>
                                </div>
                                <div class="back-purple-other mt-2 mb-2 pl-4 ">
                                    <p>RECETTES/SNIR</p>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- honoraires conventionnés 1 : </p>
                                        <p> 80 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- honoraires non conventionnés 1
                                            : </p>
                                        <p>0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- dont dépassements 1 : 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- honoraires conventionnés 2 : </p>
                                        <p>20 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- honoraires non conventionnés 2
                                            :</p>
                                        <p>0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- dont dépassements 2 :</p>
                                        <p> 0</p></div>
                                    <br/>
                                </div>
                                <br/>
                            </div>
                            <div class="flex-fill">
                                <div class="d-flex justify-content-between marg-header ml-3 back-purple p-1">
                                    <div>
                                        <p> Déclaration fiscale non reçue </p>
                                        <p>SNIR non renseigné</p>
                                    </div>
                                    <div class="mr-3">
                                        <i class="fas fa-pen text-dark"></i>
                                        <i class="tim-icons icon-trash-simple text-dark"></i>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="pl-4 back-purple-other ml-3 mt-2 mb-2 ">
                                    <p>CHARGES SOCIALES</p>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Obligatoires : </p>
                                        <p> 3 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Facultatives : </p>
                                        <p> 1 500</p>
                                    </div>
                                    <p>AUTRES</p>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Abondement épargne
                                            salariale: </p>
                                        <p> 0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- PVCT exo :</p>
                                        <p> 0</p></div>
                                    <br/>
                                </div>
                                <div class="pl-4 back-purple-other ml-3 mt-2 mb-2 ">
                                    <p>AGA :</p>
                                    <p>COMPTABLE :</p>
                                    <div class="d-flex flex-wrap m-2">
                                        <p>METROPOLE du 01/07/19 au 31/12/19 = revenu imposable conventionné + HC1</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p>CSO = 2000</p></div>
                                    <p class="d-flex flex-wrap m-2">fac = 1000</p>
                                    <div class="d-flex flex-wrap m-2"><p>DOM du 01/01/19 au 30/06/19 = revenu ZAT exo +
                                            HC2</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p>CSO = 1000</p></div>
                                    <div class="d-flex flex-wrap m-2"><p>FAC = 500. NF 13.05.20</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 mb-5">
                        <div class="d-flex d-flex justify-content-between">
                            <div class="auto-flex-f content-div">
                                <div class="d-flex justify-content-between marg-header p-1 back-purple">
                                    <div class="d-flex">
                                        <p class="bold"> Année 2019 </p>
                                        <p class="ml-3 bold"> 2035+SEL </p>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="back-purple-other mt-2 mb-2 pl-4 ">
                                    <p>REVENUS : 61 000</p>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- imposable conventionné :</p>
                                        <p> 40 000</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- imposable non conventionné :</p>
                                        <p> 20 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- ZAT exo :</p>
                                        <p> 1 000</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- PDS exo :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">dont de remplacement :</p>
                                        <p> 0</p></div>
                                    <br/>
                                </div>
                                <div class="back-purple-other mt-2 mb-2 pl-4 ">
                                    <p>RECETTES/SNIR</p>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- honoraires conventionnés 1 :</p>
                                        <p> 80 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- honoraires non conventionnés
                                            1: </p>
                                        <p> 0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- dont dépassements 1 :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- honoraires conventionnés 2 :</p>
                                        <p> 50 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- honoraires non conventionnés 2
                                            :</p>
                                        <p> 0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- dont dépassements 2 :</p>
                                        <p> 10 000</p></div>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                            <div class="flex-fill">
                                <div class="marg-header ml-3 marcontent back-purple p-1">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p> Déclaration fiscale reçue le 30/04/2020 </p>
                                            <p>Concerné par le Snir | reçu le 30/03/2020</p>
                                        </div>
                                        <div class="mr-3">
                                            <i class="fas fa-pen text-dark"></i>
                                            <i class="tim-icons icon-trash-simple text-dark"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="pl-4 back-purple-other mt-2 mb-2 ml-3 ">
                                    <p>CHARGES SOCIALES</p>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Obligatoires :</p>
                                        <p> 3 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Facultatives :</p>
                                        <p> 1 500</p>
                                    </div>
                                    <p class="ml-3">AUTRES</p>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Abondement épargne
                                            salariale:</p>
                                        <p> 0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- PVCT exo : </p>
                                        <p> 0</p></div>
                                    <br/>
                                </div>
                                <div class="pl-4 back-purple-other mt-2 mb-2 ml-3 ">
                                    <p>AGA :</p>
                                    <p>COMPTABLE :</p>
                                    <div class="d-flex flex-wrap m-2">
                                        <p>METROPOLE du 01/07/19 au 31/12/19 = revenu imposable conventionné + HC1</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p>CSO = 2000</p></div>
                                    <p class="d-flex flex-wrap m-2">fac = 1000</p>
                                    <div class="d-flex flex-wrap m-2"><p>DOM du 01/01/19 au 30/06/19 = revenu ZAT exo +
                                            HC2</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p>CSO = 1000</p></div>
                                    <div class="d-flex flex-wrap m-2"><p>fac = 500. NF 13.05.20</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 mb-5">
                        <div class="d-flex d-flex justify-content-between">

                            <div class="auto-flex-f content-div">
                                <div class="marg-header back-purple p-1">
                                    <div>
                                        <p class="bold"> Année 2018 </p>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="back-purple-other mt-2 mb-2 pl-4 ">
                                    <p>REVENUS : 9 000</p>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- imposable conventionné :</p>
                                        <p> 9 000</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- imposable non conventionné :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- ZAT exo :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- PDS exo :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">dont de remplacement :</p></div>
                                    <br/>
                                </div>
                                <div class="back-purple-other mt-2 mb-2 pl-4 ">
                                    <p>RECETTES/SNIR</p>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- honoraires conventionnés 1 :</p>
                                        <p> 15 000</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- honoraires non conventionnés 1
                                            :</p>
                                        <p> 0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- dont dépassements 1 :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- honoraires conventionnés 2 :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- honoraires non conventionnés 2
                                            :</p>
                                        <p> 0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- dont dépassements 2 :</p>
                                        <p> 0</p></div>
                                    <br/>
                                </div>
                            </div>
                            <div class="flex-fill">
                                <div class="marg-header ml-3 back-purple p-1">
                                    <div class="d-flex header justify-content-between">
                                        <div>
                                            <p> Déclaration fiscale reçue le 05/04/2019 </p>
                                            <p>Concerné par le Snir | reçu le 05/04/2019 </p>
                                        </div>
                                        <div class="mr-3">
                                            <i class="fas fa-pen text-dark"></i>
                                            <i class="tim-icons icon-trash-simple text-dark"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="pl-4 back-purple-other ml-3 mt-2 mb-2 ">
                                    <p>CHARGES SOCIALES</p>
                                    <div class="d-flex flex-wrap m-2"><p
                                                class="ml-3">- Obligatoires :</p>
                                        <p> 0</p></div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Facultatives :</p>
                                        <p> 0</p>
                                    </div>
                                    <p class="d-flex flex-wrap m-2">AUTRES</p>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- Abondement épargne salariale
                                            :</p>
                                        <p> 0</p>
                                    </div>
                                    <div class="d-flex flex-wrap m-2"><p class="ml-3">- PVCT exo : 0</p></div>
                                    <br/>
                                </div>

                                <div class="pl-4 back-purple-other ml-3 mt-2 mb-2 ">
                                    <p>AGA :</p>
                                    <p>COMPTABLE :</p>
                                    <p>METROPOLE du 01/07/19 au 31/12/19 = revenu imposable conventionné + HC1</p>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}