{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/disease') }}
{% endblock %}

{% block title %}Cfml Maladie{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'MALADIE'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="content-display d-flex align-items-center-center justify-content-center">
                        <div class="agenda-div-content">
                            <h4><strong>Agenda</strong></h4>
                            <p><strong>Agenda reçu le 31-01-2020</strong></p>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div>
                                    <p>Affiliation réalisée par :</p>
                                </div>
                                <div>
                                    <select name="type_affil">
                                        <option value=""></option>
                                        <option value="P">Perso</option>
                                        <option selected="" value="C">CFML</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div>
                                    <p>A faire le :</p>
                                </div>
                                <div>
                                    <input name="a_faire" type="text" class="affi_calendar" value="31-01-2020" size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div>
                                    <p>Envoi par le cfml :</p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div>
                                    <p>Confirm. d'affil par l'URSSAF/RSI le :</p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div>
                                    <p>Confirm. d'affil par la CPAM le : </p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div>
                                    <p>Prochaine relance à Faire / à Suivre le : </p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>
                        </div>
                        <div class="affiliation-div-content">
                            <H4 class="blue"><strong>AFFILIATION</strong></H4>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div><p>Régime</p>
                                </div>
                                <div><select name="regime">
                                        <option selected="" value=""></option>
                                        <option value="C">CPAM</option>
                                        <option value="T">RSI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex align-items-center-center justify-content-center justify-content-between">
                                <div><p>Date d'affiliation le :</p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>Rapport à l'année</p>
                                </div>
                                <div>
                                    <input name="rapport" type="text" value="0" size="11" maxlength="11">
                                </div>
                            </div>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>N° pam</p>
                                </div>
                                <div>
                                    <input name="pam" type="text" value="" size="20" maxlength="20">
                                </div>
                            </div>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>N° sécu</p>
                                </div>
                                <div>
                                    <input name="secu" type="text" value="" size="20" maxlength="20">
                                </div>
                            </div>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>Date de changement</p>
                                </div>
                                <div>
                                    <input name="change_caisse" type="text" class="affi_calendar" value="00-00-0000"
                                           size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>CPAM récalcitrante </p>
                                </div>
                                <div>
                                    <select name="recal">
                                        <option selected="" value=""></option>
                                        <option value="O">Oui</option>
                                        <option value="N">Non</option>
                                    </select>
                                </div>
                            </div>
                            <H4 class="blue"><strong>CESSATION D'ACTIVITE</strong></H4>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>A faire le : </p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>Envoi par le cfr :</p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>
                            <div class="d-flex align-items justify-content-between">
                                <div><p>Confirmation </p>
                                </div>
                                <div>
                                    <input class="form-control bg-white text-black" type="datetime-local" name="cess_ok"
                                           type="text"
                                           value="00-00-0000" size="9">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">
                        <textarea class="d-block m-auto"></textarea><br/>
                        <a href="">Valider</a>&nbsp;&nbsp;&nbsp;
                        <a href="">Quitter</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}
