{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/estimateContribution') }}
   {% endblock %}

{% block title %}Estimations cotisations{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'ESTIMATION COTISATION'} %}
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="card">
            <div class="m-3 text-dark">
                <div class="d-flex">
                    <div class="tab-header bg-secondary btn-primary m-1 p-2 text-justify" id="urssaf">
                        <span>URSSAF</span>
                    </div>

                    <div class="tab-header bg-secondary m-1 p-2 text-justify" id="carmf">
                        <span>CARMF</span>
                    </div>
                </div>

                <div class="content-div-urssaf-and-carmf">

                    <div id="urssaf">
                        <div class="content-div-info mt-5 p-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex">
                                        <div class="tab-header-child-urssaf bg-secondary btn-primary m-1 p-2 text-justify"
                                             id="2020">
                                            <span>2020</span>
                                        </div>
                                        <div class="tab-header-child-urssaf bg-secondary m-1 p-2 text-justify"
                                             id="2019">
                                            <span>2019</span>
                                        </div>
                                        <div class="tab-header-child-urssaf bg-secondary m-1 p-2 text-justify"
                                             id="2018">
                                            <span>2018</span>
                                        </div>
                                    </div>
                                    <p>Année : <span id="years_urssaf">2020</span></p>
                                    <p>Estimation des cotisations provisionnelles URSSAF réalisée le <span class="bold"
                                                                                                           id="date_urssaf">05-12-2019</span>
                                        par : <span class="bold" id="name_urssaf">Christelle</span>
                                    </p>
                                    <p>Info client "estim.cotis. prov. URSSAF" envoyée le <span class="bold"
                                                                                                id="date_urssaf_mail"> 05-12-2019</span>
                                        par : <span class="bold" id="mail_urssaf">mail</span>
                                    </p>

                                </div>
                                <div>
                                    <i class="tim-icons icon-simple-add"></i><br/>
                                    <i class="fas fa-pen primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="carmf" class="d-none">
                        <div class="content-div-info mt-5 p-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex">
                                        <div class="tab-header-child-carmf bg-secondary btn-primary m-1 p-2 text-justify"
                                             id="2020">
                                            <span>2020</span>
                                        </div>
                                        <div class="tab-header-child-carmf bg-secondary m-1 p-2 text-justify" id="2018">
                                            <span>2018</span>
                                        </div>
                                    </div>
                                    <p>Année : <span id="years_carmf">2020</span></p>
                                    <p>Estimation des cotisations provisionnelles URSSAF réalisée le <span class="bold"
                                                                                                           id="date_carmf">05-12-2019</span>
                                        par : <span class="bold" id="name_carmf">Christelle</span>
                                    </p>
                                    <p>Info client "estim.cotis. prov. URSSAF" envoyée le <span class="bold"
                                                                                                id="date_carmf_mail"> 05-12-2019</span>
                                        par : <span class="bold" id="mail_carmf">mail</span>
                                    </p>
                                </div>
                                <div>
                                    <i class="tim-icons icon-simple-add"></i><br/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cfml/estimateContribution') }}
{% endblock %}