<div class="row">
    <div class="col-md-12">
        <h1 class="text-left">
            <a title="Retourner sur la fiche du client"
               href="{{ url("core_person_natural_show",{"id":personNatural.id }) }}">
                {{ personNatural.lastName }} {{ personNatural.firstName }} ({{ personNatural.id }})
            </a>
        </h1>
        <h2 class="text-center">{% if title is defined %}{{ title }} {% endif %}</h2>
    </div>
</div>