{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/managementCarmf') }}
{% endblock %}

{% block title %}Carmf gestion{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural, 'title' : 'CARMF GESTION'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="content-display m-auto">
                        <div class="d-flex back-purple">
                            <div>
                                <p>Report régime de base : <select name="report_regime">

                                        <option selected="" value=""></option>
                                        <option value="O">Oui</option>
                                        <option value="N">Non</option>
                                    </select></p>
                            </div>
                            <div class="ml-3">
                                <p>Jusqu'au : <input name="echeance_report" type="datetime-local"
                                                     value="00-00-0000" size="9"></p>
                            </div>
                        </div>
                        <div class="back-purple">
                            <p>- Dépot de la déclaration des revenus de l'année en cours :<input name="declaration"
                                                                                                 type="datetime-local"
                                                                                                 value="00-00-0000"
                                                                                                 size="9"></p>
                        </div>
                        <div class="back-purple">
                            <p>- Paiement par prélèvement : <select name="prel">
                                    <option selected="" value=""></option>
                                    <option value="O">Oui</option>
                                    <option value="N">Non</option>
                                </select></p>
                        </div>
                        <div class="back-purple">
                            <p>Rectification n°1</p>
                            <div>
                                <p>- Demande de rectification le : <input name="rectif1" type="datetime-local"
                                                                          value="00-00-0000"
                                                                          size="9"></p>
                            </div>
                            <div>
                                <p>- Date de retour de l'accusé réception : <input name="retour1_ar"
                                                                                   type="datetime-local"
                                                                                   value="00-00-0000"
                                                                                   size="9"></p>
                            </div>
                            <div>
                                <p>- Acceptation de la rectification le : <input name="ok_rectif1" type="datetime-local"
                                                                                 value="00-00-0000"
                                                                                 size="9"></p>
                            </div>
                        </div>
                        <div class="back-purple">
                            <p>Rectification n°2</p>
                            <div>
                                <p>- Demande de rectification le : <input name="rectif2" type="datetime-local"
                                                                          value="00-00-0000"
                                                                          size="9"></p>
                            </div>
                            <div>
                                <p>- Date de retour de l'accusé réception : <input name="retour2_ar"
                                                                                   type="datetime-local"
                                                                                   value="00-00-0000"
                                                                                   size="9"></p>
                            </div>
                            <div>
                                <p>- Acceptation de la rectification le : <input name="ok_rectif2" type="datetime-local"
                                                                                 value="00-00-0000"
                                                                                 size="9"></p>
                            </div>
                        </div>
                        <div class="back-purple">
                            <p>CESSATION D'ACTIVITE</p>
                            <div>
                                <p>à faire le : <input name="cess_a_faire" type="datetime-local"
                                                       value="00-00-0000"
                                                       size="9"></p>
                            </div>
                            <div>
                                <p>Envoi par le cfr : <input name="cess_envoi"
                                                             type="datetime-local"
                                                             value="00-00-0000"
                                                             size="9"></p>
                            </div>
                            <div>
                                <p>Confirmation : <input name="cess_ok" type="datetime-local"
                                                         value="00-00-0000"
                                                         size="9"></p>
                            </div>
                        </div>
                        <div>
                            <textarea class="content-display"></textarea><br/>
                            <a href="#" class="margin-right">Valider</a>
                            <a href="#">Quitter</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}