{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/membershipSituation') }}
   {% endblock %}


{% block title %}Cfml Situation adhésion {% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural, 'title' : 'CFML SITUATION D\'ADHÉSION'} %}
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card">
                <div class="content-display">

                    <div class="d-flex">
                        <div class="btn-header bg-secondary btn-primary m-1 p-2 text-justify" id="adhe">
                            <p>Adhésion</p>
                        </div>

                        <div class="btn-header bg-secondary m-1 p-2 text-justify" id="affil">
                            <p>Affiliations/Emploi à l'adhésion</p>
                        </div>
                        <div class="btn-header bg-secondary m-1 p-2 text-justify" id="suiv">
                            <p>Suivi des pièces</p>
                        </div>
                    </div>
                    <hr>

                    <div class="divs-display">

                        <div id="adhe">
                            <div class="content-div-info div-width">
                                <i class="fas fa-pen primary float-right"></i><br/>
                                <div class="margin-l">
                                    <table>
                                        <thead>
                                        </thead>
                                        <tbody>
                                        <tr class="d-flex">
                                            <td class="td" colspan="3"><p>Type d'adhésion</p></td>
                                            <td class="purple-txt"><p class="purple-txt">PACK</p></td>
                                        </tr>
                                        <tr class="d-flex">
                                            <td class="td" colspan="3"><p>Adhérent depuis le</p></td>
                                            <td class="purple-txt"><p class="purple-txt">01-01-2019</p></td>
                                        </tr>
                                        <tr class="d-flex">
                                            <td class="td" colspan="3"><p>Adhérent depuis le</p></td>
                                            <td class="purple-txt"><p class="purple-txt">01-01-2038</p></td>
                                        </tr>
                                        <tr class="d-flex">
                                            <td class="td" colspan="3"><p>Facturation</p></td>
                                        </tr>
                                        <tr class="d-flex">
                                            <td class="td" colspan="3"></td>
                                            <td class="purple-txt">Tarif CFML &nbsp;&nbsp;&nbsp; 1.00</td>
                                        </tr>
                                        <tr class="d-flex">
                                            <td class="td" colspan="3"></td>
                                            <td class="purple-txt">Tarif LMS &nbsp;&nbsp;&nbsp; 1.00</td>
                                        </tr>
                                        <tr class="d-flex">
                                            <td class="td" colspan="3"><p>Date du dernier renouvellement</p></td>
                                            <td class="purple-txt"><p class="purple-txt">00-00-0000</p></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div id="affil" class="d-none">
                            <div class="content-div-info div-width">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p>SITUATION A L'ENTREE...</p>
                                    </div>
                                    <div>
                                        <i class="fas fa-pen primary float-right"></i>
                                    </div>
                                </div>

                                <div class="content-child">
                                    <p>... DES AFFILIATIONS</p>
                                    <p>URSSAF &nbsp;&nbsp;&nbsp; <span class="warning">	non renseigné</span></p>
                                    <p>MALADIE (Cpam/Rsi) &nbsp;&nbsp;&nbsp; <span
                                                class="warning">	non renseigné</span></p>
                                    <p>CARMF &nbsp;&nbsp;&nbsp; <span class="warning">	non renseigné</span></p>
                                    <hr>
                                    <p>... DES AFFILIATIONS</p>
                                    <p>Pas d'activité salariée</p>
                                </div>
                            </div>
                        </div>

                        <div id="suiv" class="d-none">
                            <div class="content-div-info div-width">
                                <i class="tim-icons float-right icon-trash-simple"></i>
                                <h4 class="text-center">Adhésion terminée</h4>
                                <br/>
                                <p>Liste des pièces envoyée le <strong>31-01-2020</strong>&nbsp;&nbsp;&nbsp;Par <strong>Charlotte</strong>&nbsp;&nbsp;
                                    Envoi réalisé par <strong>mail</strong></p>

                                <br/>
                                <div class="d-flex justify-content-between">
                                    <div class="btn-header-suiv bg-secondary btn-primary m-1 p-2 text-justify"
                                         id="list-of-parts-received">
                                        <p>Listing des pièces reçues</p>
                                    </div>
                                    <div class="btn-header-suiv bg-secondary m-1 p-2 text-justify"
                                         id="list-of-parts-not-requested">
                                        <p>Listing des pièces non demandées</p>
                                    </div>
                                </div>
                                <div id="list-of-parts-received-div"><br/>
                                    <div class="text-center">
                                        <p>Mandat reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Agenda reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Quest. situation personnelle reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Quest. situation professionnelle reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Carte d'identité Recto/verso reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Carte d'assuré vitale ou attes_vitale reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Licence de remplacements reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>RIB personnel original reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>attestation ODM mentionnant le RPPS reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>diplôme reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Notification CPAM reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Certificat INSEE reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Echanges URSSAF reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Echanges RSI reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Echanges CARMF reçu(e)(s) le 31-01-2020</p><br/>
                                        <p>Déclarations fiscales de revenus professionnels reçu(e)(s) le 31-01-2020</p>
                                        <br/>
                                    </div>
                                </div>
                                <div id="list-of-parts-not-requested-div" class="d-none">
                                    <h4 class="float-right">Ajout de nouvelles pièces</h4>
                                    <br/>
                                    <p class="text-center top">Ordonnance barrée</p>
                                </div>

                            </div>
                        </div>

                    </div>
                    <br/>
                    <p>&nbsp;Notes <i class="fas fa-pen primary"></i></p>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}

   {% block javascripts %}
       {{ parent() }}
       {{ encore_entry_script_tags('cfml/membershipSituation') }}
   {% endblock %}
