{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/payementUrssaf') }}
{% endblock %}

{% block title %}Cotisations Urssaf{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'COTISATIONS URSSAF'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="content-div m-auto mt-3 mb-3 p-2">
                    <i class="float-right tim-icons icon-pencil"></i><br/>
                    <div class="header-content">
                        <table class="w-100">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="td-header text-center">- Cotisations URSSAF réglées par :</td>
                                <td>Télé-règlement</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    <p class="text-center"><u>Délégation de télé-règlement auprès de Média-Santé</u></p>

                    <div class="content-div">
                        <div class="content-info-delegation">
                            <div class="d-flex flex-wrap justify-content-between m-3">
                                <div>
                                    <p>- Délégation</p>
                                </div>
                                <div>
                                    <p>Délégation validée</p>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-between m-3">
                                <div>
                                    <p>- RIB professionnel enregistré sur compte TI</p>
                                </div>
                                <div>
                                    <p>Oui</p>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-between m-3">
                                <div>
                                    <p>- Autorisation de télé-règlement envoyée au client</p>
                                </div>
                                <div>
                                    <p>Oui</p>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-between m-3">
                                <div>
                                    <p>- Autorisation de télé-règlement - client réceptionnée le</p>
                                </div>
                                <div>
                                    <p>25-01-2019</p>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-between m-3">
                                <div>
                                    <p>- Autorisation de télé-règlement envoyée à l'URSSAF</p>
                                </div>
                                <div>
                                    <p>
                                        25-01-2019</p>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-between m-3">
                                <div>
                                    <p>- Echéance délégation télé-règlement</p>
                                </div>
                                <div>
                                    <p>01-01-2020</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between m-3">
                                <div>
                                    <p>- TELE-REGLEMENT EMIS</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-urssaf marg-left text-center">
                            <table class="w-100">
                                <thead>
                                <tr>
                                    <th>Année</th>
                                    <th>2020</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1 T</td>
                                    <td>0 €</td>
                                    <td>info envoyée client le 0000-00-00</td>
                                    <td> par par</td>
                                </tr>
                                <tr>
                                    <td>2 T</td>
                                    <td>0 €</td>
                                    <td>info envoyée client le 0000-00-00</td>
                                    <td> par par</td>
                                </tr>
                                <tr>
                                    <td>3 T</td>
                                    <td>0 €</td>
                                    <td>info envoyée client le 0000-00-00</td>
                                    <td> par par</td>
                                </tr>
                                <tr>
                                    <td>4 T</td>
                                    <td>0 €</td>
                                    <td>info envoyée client le 0000-00-00</td>
                                    <td> par par</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br/>
                        <div class="historical m-1 p-3">
                            <p>HISTORIQUE</p>
                            <br/>
                            <p><strong>Année</strong> : 2019</p>
                            <p><strong>1 t :</strong> 20000.00 € <strong>info envoyée client le</strong> 31-01-2019
                                <strong>par</strong> Nathalie mail</p>
                            <p><strong>2 t :</strong> 20000.00 € <strong>info envoyée client le</strong> 00-00-0000
                                <strong>par</strong></p>
                            <p><strong>3 t :</strong> 20000.00 € <strong>info envoyée client le</strong> 00-00-0000
                                <strong>par</strong></p>
                            <p><strong>4 t :</strong> 20000.00 € <strong>info envoyée client le</strong> 00-00-0000
                                <strong>par</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
