{% extends 'base.html.twig' %}
   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/app') }}
       {{ encore_entry_link_tags('cfml/profil') }}
   {% endblock %}
{% block title %}Cfml Profil{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}

{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'PROFIL'} %}
    <div class="row justify-content-center">

        <div class="col-md-10">
            <div class="card">
                <div class="m-3">
                    <div id="status">
                        <div class="d-flex justify-content-between">
                            <h3>STATUT</h3>
                            <i class="fas fa-pen primary"></i>
                        </div>

                        <div class="d-flex justify-content-between back-purple p-2">
                            <div class="info-profil">
                                <p>REMPLACANT</p>
                                <br/>
                                <p>Début de remplacements 26-02-2019</p>
                            </div>
                            <div class="info-profil">
                                <p>ANESTHESIE REANIMATION </p>
                            </div>
                            <div class="info-profil right-mar">
                                <p>Secteur 1 Depuis le 26-02-2019</p>
                                <br/>
                                <p>31ème jour d'activité</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-3">
                    <div id="info">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3>INFOS COMPLEMENTAIRES</h3>
                                <div class="d-flex">
                                    <a class="text-underline" target="_blank"
                                       href="https://annuaire.sante.fr/web/site-pro/home">Annuaire
                                        sante</a>
                                </div>
                            </div>
                            <i class="fas fa-pen primary"></i>
                        </div>

                        <div class="d-flex justify-content-between back-purple p-2">
                            <div class="info-profil">
                                <p>Date de Naissance Date de naissance non renseigné </p>
                                <br/>
                                <p>Informations de Thèse non renseignées</p>
                            </div>
                            <div class="info-profil">
                                <p>RPPS</p>
                            </div>
                            <div class="info-profil right-mar">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-3">
                    <div id="info">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3>INSEE</h3>
                                <div class="d-flex">
                                    <a class="text-underline m-1" target="_blank"
                                       href="https://avis-situation-sirene.insee.fr/">Avis
                                        situation Sirene</a>
                                    <a class="text-underline m-1" target="_blank"
                                       href="https://www.infogreffe.fr/recherche-entreprise-dirigeants/resultats-entreprise-dirigeants.html">InfoGreffe</a>
                                    <a class="text-underline m-1" target="_blank" href="https://www.societe.com/">Societe</a>
                                </div>
                            </div>
                            <i class="fas fa-pen primary"></i>
                        </div>

                        <div class="d-flex justify-content-between back-purple p-2">
                            <div class="info-profil">
                                <p>Date de création entreprise 01-07-2019 à vérifier</p>
                            </div>
                            <div class="info-profil">
                                <p>SIREN</p>
                            </div>
                            <div class="info-profil right-mar">
                                <p>SIRET</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-3">
                    <div id="info">
                        <div class="d-flex justify-content-between">
                            <h3>SITUATION FAMILIALE</h3>
                            <i class="fas fa-pen primary"></i>
                        </div>

                        <div class="d-flex justify-content-between back-purple p-2">
                            <div class="info-profil">
                                <p>Conjoint collaborateur depuis le</p>
                                <br/>
                                <p>Congé naissance en -</p>
                            </div>
                            <div class="info-profil">
                                <p>Congé maladie en -</p>
                                <br/>
                                <p>
                                    Nombre d'enfants 0</p>
                            </div>
                            <div class="info-profil right-mar">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-3">
                    <div id="info">
                        <div class="d-flex justify-content-between">
                            <h3>ACTIVITES</h3>
                            <i class="fas fa-pen primary"></i>
                        </div>

                        <div class="d-flex justify-content-between back-purple p-2">
                            <div class="info-profil">
                                <p>Statut de Retraité Actif non renseigné</p>
                            </div>
                            <div class="info-profil">
                            </div>
                            <div class="info-profil right-mar">
                                <p>Aucun régime de retraite renseigné</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-3">
                    <div id="info">
                        <div class="d-flex justify-content-between">
                            <h3>BIC/IBAN PROFESSIONNEL</h3>
                            <i class="fas fa-pen primary"></i>
                        </div>

                        <div class="d-flex justify-content-between back-purple p-2">
                            <div class="info-profil">
                            </div>
                            <div class="info-profil">
                                <p>Titulaire du compte</p>
                                <p>Code BIC</p>
                                <p>IBAN</p>
                            </div>
                            <div class="info-profil right-mar">
                                <p>FILLON Nathalie</p>
                            </div>
                        </div>
                    </div>
                </div>

                <i class="tim-icons icon m-3 icon-double-left"></i>
            </div>
        </div>
    </div>
{% endblock %}