{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/socialStatement') }}
{% endblock %}

{% block title %}Cfml Déclarations Sociales {% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'CFML DECLARATIONS SOCIALES'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="content-div p-2 mt-2 mb-1 text-center">
                    <div class="m-1">
                        <a href="{{ path('cfml_urssaf_declaration', {"id" : personNatural.id}) }}">URSSAF</a>
                    </div>
                    <hr>
                    <div class="m-1">
                        <a href="{{ path('cfml_dsi_declaration', {"id" : personNatural.id}) }}">DSI</a>
                    </div>
                    <hr>

                    <div class="m-1">
                        <a href="{{ path('cfml_carmf_declaration', {"id" : personNatural.id}) }}">CARMF</a>
                    </div>
                    <hr>

                    <div class="m-1">
                        <a href="#">QUITTER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
