{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/urssaf') }}
   {% endblock %}

{% block title %}Cfml Urssaf{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'CFML URSSAF'} %}
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card">
                <div class="m-3 text-dark">
                    <div class="d-flex">
                        <div class="btn-header bg-secondary m-1 pl-2 pr-2 text-center btn-primary" id="affil">
                            <div><span>PO</span></div>
                            <span>AFFILIATION</span>
                        </div>
                        <div class="btn-header bg-secondary m-1 pl-2 pr-2 text-center" id="modif">
                            <div><span>P2</span></div>
                            <span>MODIFICATION</span>
                        </div>
                        <div class="btn-header bg-secondary m-1 pl-2 pr-2 text-center" id="cessa">
                            <div><span>P3</span></div>
                            <span>CESSATION</span>
                        </div>
                    </div>
                    <hr>

                    <div class="all-div-content">

                        <div id="affil">
                            <div class="content-div-info mt-4 p-5">
                                <div class="d-flex justify-content-between">
                                    <p>Type : perso</p>
                                    <i class="fas fa-pen primary"></i>
                                </div>
                                <br/>
                                <p>Affiliation URSSAF à suivre :non</p><br/>
                                <p>Date d'affiliation URSSAF : 00-00-0000</p>
                                <p>Confirmation d'affiliation le : 00-00-0000</p>
                                <p>TI :</p>
                            </div>

                        </div>

                        <div id="modif" class="d-none"><br/>
                            <i class="tim-icons icon-simple-add"></i>
                            <div class="content-div-info mt-4 p-5">
                                <div class="d-flex space-between">
                                    <p>PREPARATION
                                    </p>
                                    <i class="fas fa-pen primary"></i>
                                </div>
                                <div class="text-div p-1">
                                    <p>Historique :</p>
                                    <p>Type de modification :</p>
                                    <p>Date de la modification : 00-00-0000</p>
                                    <p>Modification réalisée par : perso</p>
                                </div>
                                <hr>

                                <p>
                                    REALISATION
                                </p>
                                <hr>
                                <p>
                                    SUIVI
                                </p>
                                <hr>
                            </div>
                            <br/>
                            <div class="content-div-info mt-4 p-5 mt-4 p-5">
                                <div class="d-flex space-between">
                                    <p>PREPARATION
                                    </p>
                                    <i class="fas fa-pen primary"></i>
                                </div>
                                <div class="text-div p-1">
                                    <p>Historique :</p>
                                    <p>Type de modification : installation</p>
                                    <p>Date de la modification : 00-00-0000</p>
                                    <p>Modification réalisée par : perso</p>
                                </div>
                                <hr>
                                <p>
                                    REALISATION
                                </p>
                                <hr>
                                <p>
                                    SUIVI
                                </p>
                                <hr>
                            </div>
                        </div>

                        <div id="cessa" class="d-none">
                            <div class="content-div-info mt-4 p-5">
                                <div class="d-flex mb-1">
                                    <p>P4 à faire le :</p>&nbsp;<input type="date" class="input text-right" size="10"
                                                                       type="text"
                                                                       value="00-00-0000">
                                </div>
                                <div class="d-flex mb-1">
                                    <p>Envoye par le CFML le :</p>&nbsp;<input type="date" class="input text-right"
                                                                               size="10"
                                                                               type="text"
                                                                               value="00-00-0000">
                                </div>
                                <div class="mb-1">
                                    <p>Motif</p>
                                    <textarea class="w-100" name="motif_p4" cols="70" rows="5" id="texte"></textarea>
                                </div>
                                <div class="d-flex mb-1">
                                    <p>Confirmation :</p>&nbsp;<input type="date" class="input text-right" size="10"
                                                                      type="text"
                                                                      value="00-00-0000">
                                </div>
                                <div class="d-flex align-items-center-center justify-content-center">
                                    <a class="mr-4" href="#">Valider</a>&nbsp;
                                    <a href="#"> Quitter</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('cfml/urssaf') }}
 {% endblock %}
