{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('cfml/app') }}
   {% endblock %}

{% block title %}Declaration URSSAFF{% endblock %}

{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}

{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural , 'title' : 'DECLARATION URSSAF'} %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card m-1">
                <div class="content m-1">
                    <div class="text-center"><i type="button" data-toggle="modal" data-target="#dsiDeclarationModal"
                                                data-toggle="modal" data-target="#exampleModal"
                                                class="tim-icons add-icon icon-simple-add primary icon-size"></i></div>
                </div>
                <hr>
                <div class="information-content m-1 background-color-grey">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex m-2">
                            <p><span class="font-weight-bold">Année: </span>2019</p>
                            &nbsp; &nbsp;
                            <div>
                                <i class="fas fa-pen float-right primary"></i>
                            </div>
                        </div>
                        <div class="m-1">
                            <i class="tim-icons icon-size icon-trash-simple primary"></i>
                        </div>
                    </div>
                    <div class="m-2">
                        <p>- Déclaration URSSAF reçue :</p>
                    </div>
                    <hr>
                    <div class="m-3">
                        <p>- Déclaration URSSAF réalisée le : <span class="font-weight-bold"> 31/03/2020</span></p>
                        <div class="margin-left">
                            <p>- Par : CFML</p>
                            <p>- Etablie par : MH-Marlene</p>
                            <br/>
                            <p>- Info client "décla.réalisée" envoyée le <span
                                        class="font-weight-bold"> 31/03/2020 par mail</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Estimations des cotisations TI+PAM réalisée le : <span
                                    class="font-weight-bold"> 31/03/2020</span></p>
                        <div class="margin-left">
                            <p>- Par : NF-Nathalie</p>
                            <br/>
                            <p>- Info client "estim.cotis" envoyée le<span
                                        class="font-weight-bold"> 31/03/2020 par mail</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Déclaration URSSAF rectificative : <span
                                    class="font-weight-bold">oui</span></p>
                        <div class="margin-left">
                            <br/>
                            <p>- réalisée le : <span class="font-weight-bold"> 00/00/0000</span></p>
                            <p>- collaboratrice : <span class="font-weight-bold">VK-Virginie</span></p>
                            <p>- Courrier client le: <span class="font-weight-bold">00/00/0000 par</span></p>
                        </div>
                        <hr>
                    </div>
                </div>
                <br/>
                <div class="information-content m-1 background-color-grey">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex m-2">
                            <p><span class="font-weight-bold">Année</span> : 2018</p>
                            &nbsp; &nbsp;
                            <div>
                                <i class="fas fa-pen float-right primary"></i>
                            </div>
                        </div>
                        <div class="m-1">
                            <i class="tim-icons icon-size icon-trash-simple primary"></i>
                        </div>
                    </div>
                    <div class="m-2">
                        <p class="m-2">- Déclaration URSSAF reçue :</p>
                        <hr>
                    </div>
                    <div class="m-3">
                        <p>- Déclaration URSSAF réalisée le : <span class="font-weight-bold"> 25/04/2019</span></p>
                        <div class="margin-left">
                            <p>- Par : CFML</p>
                            <p>- Etablie par :</p>
                            <p>- Info client "décla.réalisée" envoyée le <span class="font-weight-bold">31/03/2020 par mail</span>
                            </p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Estimations des cotisations TI+PAM réalisée le : <span
                                    class="font-weight-bold"> 25/04/2019</span></p>
                        <div class="margin-left">
                            <p>- Par : NF-Nathalie</p>
                            <br/>
                            <p>- Info client "estim.cotis" envoyée le <span
                                        class="font-weight-bold">24/04/2019 par mail</span></p>
                        </div>
                        <hr>
                    </div>
                    <div class="m-1">
                        <p>- Déclaration URSSAF rectificative :<span
                                    class="font-weight-bold"> non</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="dsiDeclarationModal" tabindex="-1" role="dialog" aria-labelledby="dsiDeclarationModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Ajout d'une année de déclaration URSSAF pour le Dr FILLON
                </div>
                <div class="modal-body">
                    Année : <input type="text" class="form-control" placeholder="" aria-label="">
                    <br/>
                    <p class="text-primary">Confirmez vous l'ajout de cette nouvelle année ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary">Oui</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
