{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/verificationFile') }}
{% endblock %}

{% block title %}Vérification de fichier{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural } %}
{% endblock %}
{% block body %}
    {% include 'Cfml/header.html.twig' with { 'personNatural' : personNatural, 'title' : 'DOSSIER DE VERIFICATION'} %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">

                <div class="mt-3 text-center">
                    <i data-toggle="modal" data-target="#exampleModal" class="tim-icons add-icon icon-simple-add"></i>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Ouverture d'un dossier de vérification pour le Dr
                        FILLON</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ouverture du dossier de vérif au</p>
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-10">
                            <p>Cotisations sociales à vérifier</p>
                            <div class="text-center">
                                <input class="form-check-input" type="checkbox" id="coturssaf">
                                <span class="form-check-sign"></span>
                                URSSAF<p id="valurssaf"></p>
                                <input class="form-check-input" type="checkbox" id="cotcarmf">
                                <span class="form-check-sign"></span>
                                CARMF<p id="valcarmf"></p>
                            </div>
                        </div>
                    </div>

                    <p><span class="purple">Confirmez vous l'ouverture d'un dossier de vérification ?</span></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Oui</button>
                    <button type="button" class="btn btn-primary">Non</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
