<div class="col-md-12">
    <div class="row">
        <small class="col-md-12">
            <p class="help-text">&nbsp;</p>
        </small>
    </div>
    <div class="row">
        <div class="input-group col-lg-5 my-auto">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="tim-icons icon-mobile"></i>
                </div>
            </div>
            {{ form_widget(form, {'attr': {'class': 'form-control','placeholder' : 'valeur'}}) }}
        </div>
        <div class="col-lg-2 my-auto">
            <div class="input-group-prepend">
                <button type="button" id="delete-btn" class="btn btn-danger">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
        </div>
    </div>
</div>

