/* css général pour les pages du CFML */
.icon-size {
    font-size: 2em;
}

.margin-left {
    margin-left: 2em !important;
}

.background-color-grey {
    background-color: #F3F3F3;
}

.back-purple {
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-size: 210% 210%;
    background-color: #e14eca;
}