table tr {
    padding: 2em;
}

table {
    margin: 0 auto;
}

.txt-content {
    width: 20em;
}

.content-display {
    width: 70%;
    margin: 0 auto;
    padding: 0.7em;
    margin-bottom: 1em;
}

