strong {
    color: black;
}


.line {
    background-color: #cbcefb;;
    width: 98%;
    height: 1px;
    margin: 0 auto;
}

.purple {
    color: #ba54f5;
}

.brown {
    color: #8E8080;
}

.space-between-link {
    margin-left: 20em;
}