.card p, span {
    color: black;
}

.content-div {
    width: 37%;
}

.wrap-flex i {
    font-size: 1.5em;
}

.back-purple-other {
    background-color: #e14eca;
}

.bold {
    font-weight: bold;
}

.line {
    width: 100%;
    background-color: #0a0a10;
    height: 1px;
}

.marg-header {
    height: 4em;
}

.auto-flex-f {
    flex: 2 1 auto;
}

@media only screen and (max-width: 1400px) {
    .col-md-responsive {
        flex: none;
        max-width: none;
    }
}