.content-display div {
    margin: 0.1em;
    width: 30em;
    padding: 0.3em;
}

textarea {
    width: 60em;
}

.agenda-div-content {
    background-color: #e14eca;
    height: 50em;
}

.affiliation-div-content {
    background-color: #EEDCF5;
    height: 50em;
}

.content p, strong {
    color: black;
}