.tab-header {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
}

.tab-header-child-urssaf {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
}

.tab-header-child-carmf {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
}

.content-div-info {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    margin-left: 6em;
}
