.content-display p, h3 {
    color: black;
}

.content-display select {
    width: 5em;
}

.content-display {
    width: 50em;
}

.header-content h3 {
    color: #800000
}

.content-display div {
    margin: 0.2em;
    padding: 0.2em;
}

.margin-right {
    margin-right: 5em;
}

.back-purple {
    background-color: #e14eca;
}