.purple-txt {
    color: #e14eca !important;
}

.td {
    width: 60%;
    padding: 0.8em;
}

.margin-l {
    margin-left: 4em;
}

.div-width {
    width: 80%;
}

.btn-header {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
}

.btn-header-suiv {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
}

.content-div-info {
    margin-top: 3em;
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    padding: 1em;
    margin-left: 6em;
}

.content-child {
    margin-left: 2em;
}

.top {
    margin-top: 5em;
}
