.tim-icons {
    font-size: 2em;
}

.content select {
    background: white;
}

.input-data {
    width: 6em;
}

.btn-header {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
    width: 5em;
}

.border {
    border: 1px solid black !important;
}

.medium-div {
    width: 40%;
}

.small-div {
    width: 20%;
}

.th-padding {
    padding: 2.2em !important;
}

.textarea {
    width: 85%;
}

.div-small-width {
    width: 20em;
}
