.line {
    height: 1px;
    width: 100%;
}

.btn-header {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
}

.input {
    height: 1.4em;
}

.text-div {
    background-color: #F4F4FF;
}

.text-div p {
    color: black;
}

.content-div-info {
    box-shadow: 0 0 white, 0 0 0.4em #002d5e;
    margin-left: 6em;
}
