{% extends 'base.html.twig' %}
{% block title %}Liste des droits par catégories {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('personAccess') }}
{% endblock %}
{% block body %}
    <h1>{{ block("title") }}</h1>
    <div class="col-md-12 mb-5 table-content">
        <div class="card">
            <div class="card-body">
                <div>
                    <table class="table" id="simple-table">
                        <thead class="text-primary">
                        <tr>
                            <th class="first-head-column" scope="row" id="check-all">Catégories \ Droits
                                <input type="checkbox" id="check-all-input" name="all-checked" class="d-none"
                                       data-all-url="{{ toggleAllUrl }}">
                            </th>
                            {% for access in accesses %}
                                <th class="first-head text-center accesses-header" id="{{ access.id }}"
                                    data-column-url="{{ toggleColumnUrl }}">
                                    <input type="checkbox" class="check-all-column d-none"
                                           data-access-id="access{{ access.id }}"
                                           name="access{{ access.id }}">
                                    {{ access.label }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for jobName in jobNames %}
                            <tr>
                                <td class="first-column job-names-column" scope="row"
                                    id="{{ jobName.id }}" data-row-url="{{ toggleRowUrl }}">
                                    <input type="checkbox" class="check-all-row d-none"
                                           data-jobname-id="jobname{{ jobName.id }}" name="jobname{{ jobName.id }}">
                                    {{ jobName.label }}
                                </td>
                                {% for access in accesses %}
                                    <td class="text-center">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox"
                                                       name="{{ access.id }}access-jobname{{ jobName.id }}"
                                                        {% for jobName1 in access.jobName %}
                                                            {% if jobName1.id == jobName.id %} checked="checked"  {% endif %}
                                                        {% endfor %}
                                                       class="accesses-checkbox form-check-input "
                                                       data-access-id="{{ access.id }}"
                                                       data-jobname-id="{{ jobName.id }}"
                                                       data-one-url="{{ toggleOneUrl }}">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personAccess') }}
{% endblock %}