{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('annualCalendar') }}
 {% endblock %}

{% block body %}
    <h1>{{ block('title') }} pour
    {% if agendaOwner|instanceof('PersonNatural') %}
        <a href="{{ path('core_person_natural_show',{'id':agendaOwner.id}) }}">{{ agendaOwner }}</a></h1>
    {% elseif agendaOwner|instanceof('PersonLegal') %}
        <a href="{{ path('core_person_legal_show',{'id':agendaOwner.id}) }}">{{ agendaOwner }}</a></h1>
    {% else %}
        {{ agendaOwner }} </h1><a href="{{ path('homepage') }}">Retour tableau de bord</a>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% include 'BaseTheme/calendar.html.twig' with {
                        'object':agendaOwner,
                        'type':type,
                        'isYear':'true',
                        'tabTimeRange':tabTimeRangesWithPerson,
                        'tabNaturesWithNumberTimeRanges':tabNaturesWithNumberTimeRanges} %}
                </div>
            </div>

            <div id="time-range-client" data-time-range="{{ timeRange }}"></div>
            <div id="content-calendar-actual" class="d-flex align-items-center justify-content-center"
                 data-calendar-actual="{{ calendar }}">
                {% for i in 0..11 %}
                    <div class="calendar-month bg-white">
                        <div class="header-month-calendar">
                            <p class="title-month text-white text-center"></p>
                        </div>
                        <div class="calendar-days">
                            <table class="agenda w-100 text-center">
                                <tr class="agenda-day">
                                    <td value="Lundi" class="day-d">L</td>
                                    <td value="Mardi" class="day-d">M</td>
                                    <td value="Mercredi" class="day-d">M</td>
                                    <td value="Jeudi" class="day-d">J</td>
                                    <td value="Vendredi" class="day-d">V</td>
                                    <td value="Samedi" class="day-d">S</td>
                                    <td value="Dimanche" class="day-d">D</td>
                                </tr>
                                {% for i in 0..6 %}
                                    <tr class="agenda-week s{{ i }}">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>

    <div class="d-flex">
        <a class="btn-calendar-choice bg-primary text-white"
           href="{{ path("homepage_annual_agenda_calendar",{'id':agenda, 'type':type, 'actionParameter':'back', 'monthParameter': "now"|date("m") , 'yearsParameter': btncalendarDate['yearsBack'] }) }}">Agenda
            n- 1</a>
        <a class="btn-calendar-choice bg-primary text-white"
           href="{{ path("homepage_annual_agenda_calendar",{'id':agenda, 'type':type, 'actionParameter':'next', 'monthParameter': "now"|date("m"), 'yearsParameter': btncalendarDate['yearsNext']}) }}">Agenda
            n+ 1</a>
    </div>

    <button type="button" style="display: none" data-toggle="modal" id="open_modal_btn"
            data-target="#calendarPopup"></button>
    <div class="modal fade" id="calendarPopup" tabindex="-1" role="dialog" aria-labelledby="calendarPopup"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Calendar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formCalendar, {'method': 'POST' }) }}
                    <div class="form-group">
                        {{ form_label(formCalendar.nature) }}:
                        {{ form_widget(formCalendar.nature, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formCalendar.startDate) }}:
                        {{ include('BaseTheme/datetimepicker.html.twig', { "field" : formCalendar.startDate } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formCalendar.endDate) }}:
                        <p style="color: red" id="error_date_calender_form"></p>
                        {{ include('BaseTheme/datetimepicker.html.twig', { "field" : formCalendar.endDate } ) }}
                    </div>
                    <div class="row justify-content-center form-timerange-row">
                        <input type="submit" class="btn btn-primary" value="Enregistrer">
                    </div>
                    {{ form_end(formCalendar) }}
                </div>
            </div>
        </div>
    </div>
    {% if agendaOwner|instanceof('PersonNatural') %}
        {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : agendaOwner}) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('annualCalendar') }}
{% endblock %}