{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('dashboard') }}
 {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Agenda personnel</h3>
                </div>
                <div class="card-body">
                    {% include 'BaseTheme/calendar.html.twig' with {
                        'size':'calendar-small',
                        'object':staff,
                        'type':'staff',
                        'tabTimeRange':tabTimeRangesWithPerson,
                        'tabNaturesWithNumberTimeRanges':tabNaturesWithNumberTimeRanges} %}
                </div>
            </div>
        </div>
        <div class="col-md-6 cards-services">
            <div class="row all-cards-services">
                {% for infoServiceCard in infoServicesCards %}
                    <div class="col-lg-6 col-md-7 cursor-pointer card-service-cr">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="info-icon text-center icon-primary">
                                            <i class="{{ infoServiceCard.icon_name }}"></i>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="numbers">
                                            <p class="card-category">{{ infoServiceCard.name_service }}</p>
                                            <h3 class="card-title">{{ infoServiceCard.number }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div id="display-card-service" class="all-card-div">
        {% for infoServiceCard in infoServicesCards %}
            <div class="display-none">
                <h3>{{ infoServiceCard.title_service }}</h3>
                <div class="tableau-bord">
                    <div class="content-personnel">
                        {% if infoServiceCard.array is defined %}
                            <div class="personnel-array-info">
                                {% if infoServiceCard.title_tab is defined %}
                                    <p class="title-personnel">{{ infoServiceCard.title_tab }}</p>
                                {% endif %}
                                {% if infoServiceCard.array[0]["table"].offer is defined %}
                                    {% include 'Core/DashboardTable/dashboardTableQP.html.twig' with {'ArrayData' : infoServiceCard.array } %}
                                {% else %}
                                    {% include 'Core/DashboardTable/dashboardTable.html.twig' with {'ArrayData' : infoServiceCard.array } %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if infoServiceCard.otherArray is defined %}
                            <div class="personnel-array-info array-margin">
                                {% if infoServiceCard.title_tab is defined %}
                                    <p class="title-personnel">{{ infoServiceCard.title_tab_other }}</p>
                                {% endif %}
                                {% include 'Core/DashboardTable/dashboardTable.html.twig' with {'ArrayData' : infoServiceCard.otherArray } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {# Bull info #}
    <div id="info-bubble" class="display-none">
        <div class="modal-body">
            <div class="info-client-fiche-display">
                <div>
                    <p class="underline">Dernier prénom du contact</p>
                    <p id="fiche-client-lastcontact"></p>
                </div>

                <div>
                    <p class="underline">Dernière date du contact</p>
                    <p id="fiche-client-lastcontactDate"></p>
                </div>
            </div>

            <div>
                <p class="underline">Commentaires</p>
                <ul id="fiche_client_notes">
                </ul>
            </div>
        </div>
        <div class="col-md-6"></div>

    </div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('dashboard') }}
    {% endblock %}