{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block nav %}
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 ml-auto mr-auto text-center">
            <h1 class="title">Bienvenue dans Oméga</h1>
        </div>
    </div>
    <form method="post" id="1">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="container">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-lock card-white text-center">
                    <div class="card-header">
                        <img src="{{ asset('bootstrap/img/emilyz.jpg') }}" alt="...">
                    </div>
                    <div class="card-body">
                        <label for="inputNickname" class="sr-only">Pseudo</label>
                        <input type="text" value="{{ last_username }}" name="nickname" id="inputNickname"
                               class="form-control"
                               placeholder="Nickname" required autofocus>
                        <br/>
                        <label for="inputPassword" class="sr-only">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="Password"
                               required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="checkbox mb-3 form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="_remember_me"> <span
                                    class="form-check-sign">Se souvenir de moi</span>
                        </label>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-round btn-lg" type="submit">
                            Connexion
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {#   Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
           See https://symfony.com/doc/current/security/remember_me.html#}
    </form>
{% endblock %}
{% block design %}
{% endblock %}

