<h1>Résultat de la recherche</h1>
{% embed 'BaseTheme/datatable.html.twig' %}
    {% block thead %}
        <th>ID</th>
        <th>Client</th>
        <th>Spécialité</th>
        <th>Type</th>
        <th>Etat</th>
        <th>Début</th>
        <th>Fin</th>
        <th>CP</th>
        <th>Ville</th>
    {% endblock %}
    {% block tbody %}
        {% for offer in offers %}
            <tr>
                <td>
                    <a href="{{ path('offer_offer_edit',{'id':offer.id}) }}">
                        {{ offer.id }}</a>
                </td>
                <td>
                    <a>
                        {{ offer.person.name }}
                    </a>
                </td>
                <td>{{ offer.person.mainJobName.label }}</td>
                <td>
                    <a href="{{ path('offer_offer_edit',{'id':offer.id}) }}">
                        {{ constant('LABEL',offer.substitutionType)[offer.substitutionType.substitutionType] }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('offer_offer_edit',{'id':offer.id}) }}">
                        {{ constant('LABEL',offer)[offer.state] }}
                    </a>
                </td>
                <td>{{ offer.startingDate|date("d/m/Y") }}</td>
                <td>{{ offer.readableEndDate }}</td>
                <td>
                    {% for addresse in offer.person.addresses %}
                        <div>{{ addresse.postalCode }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for addresse in offer.person.addresses %}
                        <div>{{ addresse.locality }}</div>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune offre trouvée</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}