{% extends 'base.html.twig' %}
{% block title %}Recherche d'offres{% endblock %}

{% block body %}
    <h1>
        {{ block('title') }}
    </h1>
    <div class="container">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                <div class="row mt-5">
                    <div class="col-md-4">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.id,'title':'ID'} %}
                            {% block icon %}<i class="far fa-user"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-4">
                        {% include 'BaseTheme/inputText.html.twig' with {'field':form.startDate,'title':'Date de début'} %}
                    </div>
                    <div class="col-md-4">
                        {% include 'BaseTheme/inputText.html.twig' with {'field':form.endDate,'title':'Date de fin'} %}
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-md-4">
                        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.type,'title':'Type','placeholder':'Type','emptyValue':'Aucun type'} %}
                    </div>
                    <div class="col-md-4">
                        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.state,'title':'Etat','placeholder':'Etat','emptyValue':'Aucun état'} %}
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-md-4">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.personName,'title':'Client (Nom de famille / Raison Sociale)'} %}
                            {% block icon %}<i class="fas fa-user"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-4">
                        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.specialty,'title':'Spécialité','placeholder':'Spécialité','emptyValue':'Aucune spécialité'} %}
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-md-4">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.postalCode,'title':'Code Postal'} %}
                            {% block icon %}<i class="fas fa-map-marker-alt"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-4">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.locality,'title':'Ville'} %}
                            {% block icon %}<i class="fas fa-city"></i>{% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-md-7 form-group">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-finish btn-fill btn-primary'},'label':'Rechercher'}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% if isPageSubmitted is defined %}
        {% include 'Offer/Offer/SearchOffer/resultResearch.html.twig' with {'offers':offers} %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchOffer') }}
{% endblock %}