{{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'}}) }}
<div class="card-body container">
    <div class="row justify-content-center mt-2">
        <div class="col-sm-4">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.origin,'title':'Origine de la création','placeholder':'Origine de la création','emptyValue':'Sélectionnez une origine','required':'required'} %}
        </div>
        <div class="col-sm-4">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.state, 'title' : 'Etat','emptyValue':'Sélectionnez un état','required':'required'} %}
        </div>
        <div class="col-sm-4">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.department,'title':'Departement','placeholder':'Département','emptyValue':'Aucun département'} %}
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-sm-4">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.canvas, 'title' : 'Catégorie','emptyValue':'Sélectionnez une catégorie','required':'required'} %}
        </div>
        <div class="col-sm-4">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.type, 'title' : "Type de l'offre",'emptyValue':"Sélectionnez un type d'offre",'required':'required'} %}
        </div>
        <div class="col-sm-4">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.specialty,'title':'Choix de la spécialité','placeholder':'Choix de la spécialité','emptyValue':'Aucune spécialité','required':'required'} %}
        </div>
    </div>
    {% if not attribute(offer, 'checkSubstitutionType', [constant('TYPE_SALARIED_POSITION',offer.substitutionType)]) %}
        <div class="row offer-skill-container mt-2">
            <div class="offer-skill-label col-md-2">Compétences :</div>
            <div class="col-md-8 row">
                <div id="offer-skill-item-model" class="col-md-12 row d-none">
                    <div class="col-md-7">
                        <select class="offer-skill-input">
                            {% for specialty in skillsSpecialties %}
                                <option value="{{ specialty.id }}">{{ specialty.officialLabel }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control offer-skill-input" placeholder="Taux (%)" type="number" min="0" max="100">
                    </div>
                    <i class="fas fa-times offer-skill-delete-item" title="Supprimer cette compétence"></i>
                </div>
                {% if offerSkills is defined and offerSkills|length > 0 %}
                    {% for index, skill in offerSkills %}
                        <div class="col-md-12 row">
                            <div class="col-md-7">
                                <select class="offer-skill-input selectpicker" name="offer_skills[{{ index }}][specialty]" required>
                                    {% for specialty in skillsSpecialties %}
                                        <option value="{{ specialty.id }}" {{ (skill['specialty'] == specialty.id) ? 'selected' : ''}}>{{ specialty.officialLabel }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control offer-skill-input" name="offer_skills[{{ index }}][rate]" required placeholder="Taux (%)" value="{{ skill['rate'] }}" type="number" min="0" max="100">
                            </div>
                            <i class="fas fa-times offer-skill-delete-item" title="Supprimer cette compétence"></i>
                        </div>
                    {% endfor %}
                {% endif %}
                <div id="offer-skill-add-item" class="btn btn-primary" data-number-item="{{ (offerSkills is defined and offerSkills|length > 0) ? offerSkills|length : 0}}">Ajouter une compétence</div>
            </div>
        </div>
    {% endif %}
    <div class="row mt-2">
        <div class="col-sm-4">
            <small>
                <p class="help-text">Tarification Totale <span id="title-offer-pricing-type">TTC</span></p>
            </small>
            {{ form_widget(form.pricing,{'attr': {'class': 'form-control', 'placeholder' :  'Ex : 795,53','step':'0.01'}}) }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-3 form-group">
            <small>
                <p class="help-text">Date de début</p>
            </small>
            <div class="form-check">
                <label class="form-check-label">
                    <input id="select-date-type" autocomplete="off" type="checkbox" class="form-check-input" name="select_date_type" {% if offer.asSoonAsPossible == true %}checked{% endif %} value="asap">
                    <span class="form-check-sign"></span>
                    Dès que possible
                </label>
            </div>
        </div>
        <div id="offer-form-pick-date" class="col-sm-3 offer-form-pick-date {% if offer.asSoonAsPossible == true %}d-none{% endif %}">
            <small>
                <p class="help-text">Sélectionnez une date</p>
            </small>
            {{ form_widget(form.startingDate,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-sm-3 offer-form-pick-date {% if offer.asSoonAsPossible == true %}d-none{% endif %}">
            {% include 'BaseTheme/inputText.html.twig' with {'field':form.startingDateModularity,'title':"Modularité date début (en jours)",'placeholder':"Ex : 2","tooltip":"La modularité indique que la date de début est modulable à plus ou moins quelques jours"} %}
        </div>
        <div class="col-sm-3 offer-form-pick-date {% if offer.asSoonAsPossible == true %}d-none{% endif %}">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.startingDateModularityType,'title':"Modularité pondération date début","tooltip":"'Avant la date' : l'offre peut débuter x jours avant la date renseignée. Pareillement pour 'Après la date'"} %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-3">
            <small>
                <p class="help-text">Date de fin</p>
            </small>
            {{ form_widget(form.endDate,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-sm-3">
            {% include 'BaseTheme/inputText.html.twig' with {'field':form.endDateModularity,'title':"Modularité date fin (en jours)",'placeholder':"Ex : 2","tooltip":"La modularité indique que la date de fin est modulable à plus ou moins quelques jours"} %}
        </div>
        <div class="col-sm-3">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.endDateModularityType,'title':"Modularité pondération date fin",'emptyValue':"N/C","tooltip":"'Avant la date' : l'offre peut finir x jours avant la date renseignée. Pareillement pour 'Après la date'"} %}
        </div>
    </div>
    <div id="container-on-call-form">
        {{ include('Offer/Canvas/onCallForm.html.twig',{"errors":onCallErrors ?? [],'onCall':offer.onCall}) }}
    </div>
    <input type="hidden" id="criterion_garde_id" value="{{ criterion_garde_id ?? '' }}">

    {% if '/new' not in app.request.uri or '/preselect' in app.request.uri %}
        {% for criterionId, criterionValue in tabForOldFileInput %}
            <input class="criterion-offer-old-file" type="hidden" name="criterion_offer_old_file[{{ criterionId }}]"
                   value="{{ criterionValue }}">
        {% endfor %}
        <div id="show-old-form" class="col-md-12">
            {% include "BaseTheme/CriterionCanvas/criterionCanvasFormFields.html.twig" with {'canvasType': 'offer'} %}
        </div>
    {% endif %}
    <div id="canvas-offer" class="canvas-offer">
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-sm-12">
            {% include 'BaseTheme/textArea.html.twig' with {'field':form.complement, 'title' : "Complément d'information à diffuser"} %}
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-sm-6">
            <ul id="note-fields-list"
                data-prototype='{% apply escape %}{% include 'Core/Note/_form.html.twig' with {'form':form.notes.vars.prototype} %}{% endapply %}'
                data-widget="{{ '<li class="row"> </li>'|e }}"
                data-widget-counter="{{ form.notes.children|length }}">

                {% for note in form.notes %}
                    <li class="row">
                        {% include 'Core/Note/_form.html.twig' with {'form':note} %}
                    </li>
                {% endfor %}
            </ul>
            <button type="button"
                    class="add-another-collection-widget btn btn-success"
                    data-list-selector="#note-fields-list">Ajouter une note
            </button>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4">
            {% include 'BaseTheme/inputText.html.twig' with {'field':form.nearestCity, 'title':'Ville la plus proche'} %}
        </div>
        <div class="col-sm-4">
            {% include 'BaseTheme/toggleOnOff.html.twig' with {'field':form.coordinatesRemoval, 'title' : "Retrait des coordonnées du dépositaire sur le site"} %}
        </div>
        <div class="col-sm-4">
            {% include 'BaseTheme/toggleOnOff.html.twig' with {'field':form.isModel, 'title' : "Ajouter aux modèles d'offres pour ce client ?"} %}
        </div>
    </div>
    <div class="row mt-2">
        <!-- TODO : gestion des facturations (à faire peut être en même temps que la compta) -->
    </div>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-sm-5">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-fill btn-primary'}, 'label':'Soumettre'}) }}
    </div>
</div>
<div class="d-none">{{ form_rest(form) }}</div>
{{ form_end(form) }}

<div id="hide-old-form" class="d-none"></div>

<div id="criterion-type-constants" class="d-none"
     data-bool="{{ constant("TYPE_BOOL",criterion) }}"
     data-integer="{{ constant("TYPE_INTEGER",criterion) }}"
     data-select="{{ constant("TYPE_SELECT",criterion) }}"
     data-date="{{ constant("TYPE_DATE",criterion) }}"
     data-specialty="{{ constant("TYPE_SPECIALTY",criterion) }}"
     data-choice-week="{{ constant("TYPE_CHOICE_WEEK",criterion) }}"
     data-text="{{ constant("TYPE_TEXT",criterion) }}"
     data-file="{{ constant("TYPE_FILE",criterion) }}"
     data-multi-select="{{ constant("TYPE_MULTI_SELECT",criterion) }}"
     data-json="{{ constant("TYPE_JSON",criterion) }}"
     data-location="{{ constant("TYPE_LOCATION",criterion) }}"
     data-input="{{ constant("TYPE_INPUT",criterion) }}">
</div>