{% extends 'base.html.twig' %}

{% block title %}{{ offer.isModel ? 'Edition du modèle' : 'Edition de l\'offre' }} [{{ offer.id }}]{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('canvas') }}
    {{ encore_entry_link_tags('offer') }}
    {{ encore_entry_link_tags('onCall') }}
{% endblock %}

{% block body %}
    <h1>
        <a class="bubble-info" aria-label="Retour à la liste" data-controller="Offer\OfferController\index" href="{{ url('offer_offer_index') }}">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }}, {{ offerSubstitutionType }}
    </h1>
    <h2>Client : <a href="{% if person|instanceof('PersonLegal') %}
                            {{ url('core_person_legal_show',{'id':person.id}) }}
                          {% else %}
                            {{ url('core_person_natural_show',{'id':person.id}) }}
                          {% endif %}">{{ person }}</a>
    </h2>
    <div>
        <small>Créée le {{ offer.creationDate|date('d/m/Y à H:i') }} par {{ offer.creator }}</small><br/>
        <small>Dernière modification : {{ offer.lastUpdateDate|date('d/m/Y à H:i:s') }}</small>
        <a href="{{ path('offer_offer_duplicate',{'id':offer.id}) }}" class="btn btn-primary link-matching-offer">{{ offer.isModel ? 'Créer une offre à partir de ce modèle' : 'Dupliquer cette offre' }}</a>
        {% if not offer.isModel %}
            <a href="{{ path('matching_offers_one_offer',{'oneOfferId':offer.id}) }}" class="btn btn-warning link-matching-offer">Matching sur cette
                offre</a>
        {% endif %}
        {% if offer.numberOfferWishMatchingNotActive > 0 and not offer.isModel %}
            <div id="reinstate-matching-btn" class="btn btn-default link-matching-offer" data-offer-id="{{ offer.id }}" data-url="{{ path('offer_offer_reinstate',{'id':offer.id}) }}">Réintégrer au matching</div>
        {% endif %}
    </div>
    {{ include('Offer/Offer/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person,'sendOffer':true}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('criterion') }}
    {{ encore_entry_script_tags('offer') }}
    {{ encore_entry_script_tags('onCall') }}
    {{ encore_entry_script_tags('matchingOffers') }}
{% endblock javascripts %}