{% extends 'base.html.twig' %}
{% block title %}Matching des offres{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('matchingOffers') }}
{% endblock %}

{% block body %}
    <h1>
        {{ block('title') }}
    </h1>
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if isOneOffer == false %}
                    <ul class="nav nav-pills nav-pills-primary">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#Liberal">
                                Libéral
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Salariat">
                                Salariat
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Cession">
                                Cession / Association
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">
                        {% set i = 1 %}
                        {% for type, offers in resultMatching %}
                            <div class="tab-pane {% if i == 1 %}active show{% endif %}" id="{{ type }}">
                                <div id="accordion-matching{{ i }}" class="card-collapse" role="tablist"
                                     aria-multiselectable="true">
                                    {% for rowOffer in offers %}
                                        <div class="card card-plain matching-accordion-card">
                                            <div class="card-header" id="offer{{ rowOffer['offer'].id }}">
                                                <a data-toggle="collapse" data-parent="#accordion-matching{{ i }}"
                                                   href="#collapseOffer{{ rowOffer['offer'].id }}" aria-expanded="false"
                                                   aria-controls="collapseOffer{{ rowOffer['offer'].id }}"
                                                   class="collapsed">
                                                    Offre
                                                    n°<b>{{ rowOffer['offer'].id }}</b>, {{ constant('LABEL',oneSubstitutionType)[rowOffer['offer'].canvas.substitutionType.substitutionType] }}
                                                    .
                                                    {% if rowOffer['offer'].endDate is not null %}
                                                        Du <span
                                                            class="text-underline">{{ rowOffer['offer'].startingDateOrAsap }}{% if rowOffer['isStartDateModulable'] == true %}
                                                            <span class="modularity-icon"
                                                                  title="Date de début modulable">M</span>{% endif %}</span>
                                                        au <span
                                                            class="text-underline">{{ rowOffer['offer'].readableEndDate }}{% if rowOffer['isEndDateModulable'] is defined and rowOffer['isEndDateModulable'] == true %}
                                                            <span class="modularity-icon" title="Date de fin modulable">M</span>{% endif %}</span>
                                                    {% else %}
                                                        A partir du <span
                                                            class="text-underline">{{ rowOffer['offer'].startingDate|date("d/m/Y") }}{% if rowOffer['isStartDateModulable'] == true %}
                                                            <span class="modularity-icon"
                                                                  title="Date de début modulable">M</span>{% endif %}</span>
                                                    {% endif %}
                                                    {% if rowOffer['wishes'] is defined and rowOffer['wishes'] is not empty %}
                                                        <b>
                                                        ({{ rowOffer['wishes']|length }}
                                                        résultat{% if rowOffer['wishes']|length > 1 %}s{% endif %}
                                                        )</b>{% endif %}
                                                    <small class="matching-see-offer matching-see-substitution"
                                                           data-href="{{ path('offer_offer_edit',{'id':rowOffer['offer'].id}) }}">voir
                                                        l'offre</small>
                                                    <i class="tim-icons icon-minimal-down"></i>
                                                </a>
                                            </div>
                                            <div id="collapseOffer{{ rowOffer['offer'].id }}" class="collapse"
                                                 role="tabpanel"
                                                 aria-labelledby="offer{{ rowOffer['offer'].id }}" style="">
                                                <div class="card-body">
                                                    {% if rowOffer['wishes'] is defined and rowOffer['wishes'] is not empty %}
                                                        {% embed 'BaseTheme/datatable.html.twig' with {'class':'matching-offers-table-container',"tableClass":"datatables-matching",'header':'no-header','textCenter':'text-center','tableId':'resultMatching-table'~rowOffer['offer'].id } %}
                                                            {% block thead %}
                                                                <th></th>
                                                                <th>ID</th>
                                                                <th>Nom</th>
                                                                <th>Créateur</th>
                                                                <th>Début</th>
                                                                <th>Fin</th>
                                                                <th>Taux de correspondance</th>
                                                                <th>Distance</th>
                                                            {% endblock %}
                                                            {% block tbody %}
                                                                {% for wish in rowOffer['wishes'] %}
                                                                    <tr>
                                                                        <td>
                                                                            <input type="checkbox" autocomplete="off"
                                                                                   name="selectedWishes[]"
                                                                                   value="{{ wish['wish'].person.id }}"
                                                                                   class="checkboxes-select-wishes">
                                                                        </td>
                                                                        <td>
                                                                            <a href="{{ path('offer_wish_edit',{'id':wish['wish'].id}) }}"
                                                                               target="_blank"
                                                                               title="voir le souhait">{{ wish['wish'].id }}</a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="{{ path('offer_wish_edit',{'id':wish['wish'].id}) }}"
                                                                               target="_blank"
                                                                               title="voir le souhait">{{ wish['wish'].canvas.label }}</a>
                                                                        </td>
                                                                        <td>
                                                                            <a title="voir le profil"
                                                                               href="{% if wish['wish'].person|instanceof('PersonLegal') %}{{ path('core_person_legal_show',{'id':wish['wish'].person.id}) }}{% else %}{{ path('core_person_natural_show',{'id':wish['wish'].person.id}) }}{% endif %}"
                                                                               target="_blank">{% if wish['wish'].person|instanceof('PersonNatural') %}Dr{% endif %} {{ wish['wish'].person.name }}</a>
                                                                        </td>
                                                                        <td>{{ wish['wish'].timeRange.startDate|date("d/m/Y") }}</td>
                                                                        <td>{{ wish['wish'].readableEndDate }}</td>
                                                                        <td>{{ wish['percentage']|round(1,'floor') }}%
                                                                        </td>
                                                                        <td>{% if wish['distance'] is not null %}{{ wish['distance'] }} Km{% else %}Invalide
                                                                                <i class="fas fa-question-circle form-tooltip"
                                                                                   data-tiptext="Il se peut qu'une des adresses renseignées (côté rempla ou côté dépositaire) soit invalide"></i>{% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endblock %}
                                                        {% endembed %}
                                                        <button class="btn btn-primary btn-round btn-icon btn-send-mail-selected-wishes"
                                                                data-dependency-id="resultMatching-table{{ rowOffer['offer'].id }}"
                                                                data-offer-id="{{ rowOffer['offer'].id }}"
                                                                title="Envoyer l'offre aux contacts sélectionnés">
                                                            <i class="tim-icons icon-email-85"></i>
                                                        </button>
                                                    {% else %}
                                                        <div>Aucun souhait n'a été trouvé pour cette offre</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div>Il n'y a pas d'offre à matcher pour cette catégorie.</div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : resultMatching['offer'].person}) }}
                    <h3>Offre n°{{ resultMatching['offer'].id }}
                        - {{ constant('LABEL',oneSubstitutionType)[resultMatching['offer'].canvas.substitutionType.substitutionType] }}
                        -
                        {% if resultMatching['offer'].endDate is not null %}
                            Du {{ resultMatching['offer'].startingDateOrAsap }} au {{ resultMatching['offer'].readableEndDate }}
                        {% else %}
                            A partir du {{ resultMatching['offer'].startingDateOrAsap }}
                        {% endif %}
                        <a href="{{ path('offer_offer_edit',{'id':resultMatching['offer'].id}) }}" class="bubble-info"
                           aria-label="Voir l'offre"><i
                                    class="fas fa-eye"></i></a>
                    </h3>
                    {% if resultMatching['wishes'] is defined and resultMatching['wishes'] is not empty %}
                        {% embed 'BaseTheme/datatable.html.twig' with {'class':'matching-substitute-table-container',"tableClass":"datatables-matching",'header':'no-header','textCenter':'text-center','tableId':'resultMatching-table'~resultMatching['offer'].id } %}
                            {% block thead %}
                                <th></th>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Créateur</th>
                                <th>Début</th>
                                <th>Fin</th>
                                <th>Taux de correspondance</th>
                                <th>Distance</th>
                            {% endblock %}
                            {% block tbody %}
                                {% for wish in resultMatching['wishes'] %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" autocomplete="off" name="selectedWishes[]"
                                                   value="{{ wish['wish'].id }}"
                                                   class="checkboxes-select-wishes">
                                        </td>
                                        <td>
                                            <a href="{{ path('offer_wish_edit',{'id':wish['wish'].id}) }}"
                                               target="_blank"
                                               title="voir le souhait">{{ wish['wish'].id }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('offer_wish_edit',{'id':wish['wish'].id}) }}"
                                               target="_blank"
                                               title="voir le souhait">{{ wish['wish'].canvas.label }}</a>
                                        </td>
                                        <td>
                                            <a title="voir le profil"
                                               href="{% if wish['wish'].person|instanceof('PersonLegal') %}{{ path('core_person_legal_show',{'id':wish['wish'].person.id}) }}{% else %}{{ path('core_person_natural_show',{'id':wish['wish'].person.id}) }}{% endif %}"
                                               target="_blank">{% if wish['wish'].person|instanceof('PersonNatural') %}Dr{% endif %} {{ wish['wish'].person.name }}</a>
                                        </td>
                                        <td>{{ wish['wish'].timeRange.startDate|date("d/m/Y") }}</td>
                                        <td>{{ wish['wish'].readableEndDate }}</td>
                                        <td>{{ wish['percentage']|round(1,'floor') }}%</td>
                                        <td>{% if wish['distance'] is not null %}{{ wish['distance'] }} Km{% else %}Invalide
                                                <i class="fas fa-question-circle form-tooltip"
                                                   data-tiptext="Il se peut qu'une des adresses renseignées (côté rempla ou côté dépositaire) soit invalide"></i>{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        {% endembed %}
                        <button class="btn btn-primary btn-round btn-icon btn-send-mail-selected-wishes"
                                data-dependency-id="resultMatching-table{{ resultMatching['offer'].id }}"
                                data-offer-id="{{ resultMatching['offer'].id }}"
                                title="Envoyer l'offre aux contacts sélectionnés">
                            <i class="tim-icons icon-email-85"></i>
                        </button>
                    {% else %}
                        <div>Aucun souhait n'a été trouvé pour cette offre</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('matchingOffers') }}
{% endblock %}