{% extends 'base.html.twig' %}

{% block title %}Création d'une offre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('canvas') }}
    {{ encore_entry_link_tags('offer') }}
    {{ encore_entry_link_tags('onCall') }}
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>
    <h2>Client : <a href="{% if person|instanceof('PersonLegal') %}
                            {{ url('core_person_legal_show',{'id':person.id}) }}
                          {% else %}
                            {{ url('core_person_natural_show',{'id':person.id}) }}
                          {% endif %}">{{ person }}</a>
    </h2>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="btn btn-default" id="btn-create-offer-from-model"
                        {{ (person.modelsOffers|length > 0) ? 'title=""' : 'disabled title="Cette personne ne possède pas de modèle d\'offre"' }}
                     onclick='popupOnHtmlResponse(this,"{{ path('offer_create_from_model',{'id':person.id}) }}")'>Créer l'offre à partir d'un modèle</div>
            </div>
        </div>
    </div>
    {{ include('Offer/Offer/_form.html.twig') }}
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('criterion') }}
    {{ encore_entry_script_tags('offer') }}
    {{ encore_entry_script_tags('onCall') }}
{% endblock javascripts %}