{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-6">
        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.canvas, 'required':true, 'title':'Catégorie','placeholder':'Sélectionnez une catégorie','emptyValue':'Aucune catégorie'} %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-5">
        {{ form_widget(form.continue, {'attr': {'class': 'btn btn-fill btn-primary'},'label': 'Continuer'}) }}
    </div>
</div>
{{ form_end(form) }}