{% extends 'base.html.twig' %}

{% block title %}Offre avancées{% endblock %}

{% block body %}

    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div>
                Liste des offres
                <a href="{{ path('matching_offers') }}" class="btn btn-warning">
                    matching
                </a>
            </div>
        {% endblock %}

        {% block thead %}
            <th>Id</th>
            <th>Type</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Etat</th>
            <th>Origine</th>
            <th>Créateur</th>
            <th>Date de création</th>
            <th>Actions</th>
        {% endblock %}
        {% block tbody %}
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.id }}{{ offer.isModel ? ' (Modèle)' }}</td>
                    <td>{{ constant('LABEL',offer.substitutionType)[offer.substitutionType.substitutionType] }}</td>
                    <td>{{ offer.startingDateOrAsap }}</td>
                    <td>{{ offer.readableEndDate }}</td>
                    <td>{{ offer.translate.label(offer.state) }}</td>
                    <td>{{ offer.origin.label }}</td>
                    <td>
                        {% if offer.person|instanceof('PersonLegal') %}
                            <a href="{{ path('core_person_legal_show',{'id':offer.person.id}) }}">{{ offer.person }}</a>
                        {% else %}
                            <a href="{{ path('core_person_natural_show',{'id':offer.person.id}) }}">{{ offer.person }}</a>
                        {% endif %}
                    </td>
                    <td>{{ offer.creationDate ? offer.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="bubble-info" aria-label="Matching sur cette offre"
                           href="{{ path('matching_offers_one_offer',{'oneOfferId':offer.id}) }}">
                            <i class="fas fa-calculator c-orange"></i>
                        </a>
                        <a class="bubble-info" aria-label="Visualiser" data-controller="Offer\OfferController\show"
                           href="{{ url("offer_offer_show",{"id":offer.id }) }}">
                            <i class="tim-icons icon-eye-19"></i>
                        </a>
                        <a class="bubble-info" aria-label="Modifier" data-controller="Offer\OfferController\edit"
                           href="{{ url("offer_offer_edit",{"id":offer.id }) }}">
                            <i class="tim-icons icon-pencil"></i>
                        </a>
                        <a class="bubble-info" aria-label="Dupliquer" data-controller="Offer\OfferController\duplicate">
                            <i class="tim-icons icon-single-copy-04"
                               onclick="confirmAction(this,'Confirmez-vous la duplication de cette offre ?','{{ url("offer_offer_duplicate",{"id":offer.id }) }}','{{ url("offer_offer_index",{"personId":offer.person.id }) }}')"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucune offre</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
