{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('offerHistorization') }}
{% endblock %}

{% block body %}
    <h1>
        <a class="bubble-info" aria-label="Retour à la liste" data-controller="Offer\OfferController\index"
           href="{{ url('offer_offer_index') }}">
            <i class="fas fa-arrow-left"></i>
        </a>
        Offre [{{ offer.id }}], {{ offerSubstitutionType }}
        <a class="bubble-info" aria-label="Modifier" data-controller="Offer\OfferController\edit"
           href="{{ url('offer_offer_edit', {'id': offer.id}) }}">
            <i class="fas fa-edit"></i>
        </a>
    </h1>
    <small>Dernière modification : {{ offer.lastUpdateDate|date('d/m/Y à H:i:s') }}</small>
    <table class="table">
        <tbody>
        <tr>
            <th>Date de création</th>
            <td>{{ offer.creationDate ? offer.creationDate|date('Y-m-d H:i:s') : '' }} par {{ offer.creator }}</td>
        </tr>
        <tr>
            <th>Origine</th>
            <td>{{ offer.origin.label }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ offer.translate.label(offer.state) }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ offer.canvas.label }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>
                {{ offer.startingDateOrAsap }}
                {% if offer.asSoonAsPossible == false %}
                    {% if offer.startingDateModularity is defined and offer.startingDateModularity is not null and offer.startingDateModularity != 0
                        and offer.startingDateModularityType is defined and offer.startingDateModularityType is not null %}
                        Modulable de {{ offer.startingDateModularity }} jours ({{ constant('MODULARITY_TYPE_LABEL',offer)[offer.startingDateModularityType] }})
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>
                {{ offer.readableEndDate }}
                {% if offer.endDateModularity is not null and offer.endDateModularity > 0 and offer.endDateModularityType is not null %}
                    Modulable de {{ offer.endDateModularity }} jours ({{ constant('MODULARITY_TYPE_LABEL',offer)[offer.endDateModularityType] }})
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Notes</h3>
    <div>
        {% for note in offer.notes %}
            <div class="card">
                <a>Type de note : {{ note.translate.label(note.noteType) }}</a>
                <p>{{ note.text }}</p>
            </div>
        {% endfor %}
    </div>
    {% if isAuthorized %}
        <h3>Historisations</h3>
        <div>
            {% for offer in offerHistorizationList %}
                <div class="historization-offer">
                    <div class="space">
                        <p><strong>Ancien statut
                                :</strong> {% if offer.oldStatus is null %} Aucun changement {% else %} {{ offer.oldStatus }}  {% endif %}
                        </p>
                    </div>
                    <div class="space">
                        <p><strong>Ancien type
                                :</strong> {% if offer.oldType is null %} Aucun changement {% else %} {{ offer.oldType }}  {% endif %}
                        </p>
                    </div>
                    <div class="space">
                        <p><strong>Staff :</strong> {{ offer.staff.firstName }} {{ offer.staff.lastName }} </p>
                    </div>
                    <div class="space">
                        <p><strong>Date changement :</strong> {{ offer.dateChange |date("d-m-Y à H:i:s") }}  </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h3>Critères</h3>
    <div>
        {% for substitutionCriterion in offer.substitutionCriteria %}
            <div class="card offer-list-info">
                <div class="row">
                    <div class="col-md-2">
                        <strong>{{ substitutionCriterion.criterion.label }}</strong>
                    </div>
                    <div class="col-md">
                        {{ substitutionCriterion.value | join(', ') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        {% if not offer.isModel %}
            <a href="{{ path('matching_offers_one_offer',{'oneOfferId':offer.id}) }}" class="btn btn-warning">Matching
                sur cette offre</a>
        {% endif %}
        <a href="{{ path('offer_offer_duplicate',{'id':offer.id}) }}"
           class="btn btn-primary">{{ offer.isModel ? 'Créer une offre à partir de ce modèle' : 'Dupliquer cette offre' }}</a>
    </div>
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person}) }}
{% endblock %}
