<div id="already-hired-persons-container" data-url="{{ url('get_already_hired_persons', { id : person.id }) }}" class="container">
    <table id="already-hired-persons-table" class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom prénom</th>
                <th>Type de contrat</th>
                <th>Dates</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="already-hired-persons-loading-row">
                <td></td>
                <td>Chargement...</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div id="already-hired-persons-empty" class="text-center"></div>
    <div id="already-hired-persons-error" class="text-center"></div>
</div>