<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Nom prénom</th>
            <th>Avis créé le</th>
            <th>
                <i class="fas fa-plus fa-2x btn-create-opinion" data-toggle="tooltip" data-placement="top"
                   title="Nouvel avis" data-url="{{ url('create_opinion') }}" data-person-id="{{ person.id }}"
                   data-type="{{ type }}"></i>
            </th>
        </tr>
        </thead>
        <tbody id="opinions-body-{{ type }}">
            {% if opinions|length == 0 %}
                <tr id="opinions-{{ type }}-empty-row">
                    <td></td>
                    <td>Aucunes donnée enregistrée</td>
                    <td></td>
                    <td></td>
                </tr>
            {% else %}
                {% for opinion in opinions %}
                    {% set relatedPerson = (type == 'give' ? opinion.receiver : opinion.giver) %}
                    <tr>
                        <td>{{ relatedPerson.id }}</td>
                        <td><a href="{{ url('core_person_natural_show',{ id: relatedPerson.id }) }}">{{ relatedPerson.name }}</a></td>
                        <td>{{ opinion.createdAt|date('d/m/Y') }}</td>
                        <td>
                            <i class="fas fa-eye text-primary opinions-show"
                               data-toggle="tooltip" data-placement="top"
                               title="Voir l'avis" data-text="{{ opinion.text }}"></i>
                            <i class="fas fa-trash-alt text-danger opinions-delete"
                               data-toggle="tooltip" data-placement="top"
                               title="Supprimer l'avis" data-url="{{ url('delete_one_opinion', { id: opinion.id }) }}"></i>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>