<div id="person-to-contact-container" class="row justify-content-center">
    <div class="col-md-4">
        <form id="person-to-contact-form" data-url="{{ url('manage_person_to_contact', { id : person.id }) }}" class="d-flex flex-column">
            <div class="from-group">
                <label>Ajouter une personne à contacter :</label>
                <input name="new-person-to-contact" class="form-control" type="text" required placeholder="Personne à contacter ...">
            </div>
            <div id="person-to-contact-error"></div>
            <input type="submit" class="btn-primary btn m-auto" value="Ajouter">
        </form>
    </div>
    <div id="person-to-contact-list" class="col-md-6 text-2 border-left border-gray">
        <div id="person-to-contact-list-error" class="mb-2"></div>
        {% for name in personToContact %}
            <div class="d-flex">
                <div class="flex my-auto">
                    <i class="fas fa-times my-auto mr-2 person-to-contact-delete-btn" data-value="{{ name }}"></i>
                </div>
                <div class="my-auto">{{ name }}</div>
            </div>
        {% endfor %}
    </div>
</div>