<div class="card card-chart">
    <div class="card-header">Offres</div>
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-primary">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1">
                    A venir
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2">
                    Archivées
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link3">
                    Rempla embauchés
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4">
                    Avis sur les rempla
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link5">
                    Avis sur l'installé
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link6">
                    Rempla à contacter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link7">
                    Bon pour accord
                </a>
            </li>
        </ul>

        <div class="tab-content tab-space mt-2">
            <div class="tab-pane active" id="link1">
                <!-- Offres à venir -->
                {{ include('Offer/Offer/personOffer/viewPersonOfferComponent.html.twig',
                    { offerList : person.upcomingOffers }) }}
            </div>
            <div class="tab-pane" id="link2">
                <!-- Offres passées (archivées) -->
                {{ include('Offer/Offer/personOffer/viewPersonOfferComponent.html.twig',
                    { offerList : person.archivedOffers }) }}
            </div>
            <div class="tab-pane" id="link3">
                <!-- Rempla embauchés -->
                {{ include('Offer/Offer/personOffer/alreadyHiredPersons.html.twig') }}
            </div>
            <div class="tab-pane" id="link4">
                <!-- Avis rempla (que l'installé à mis sur les rempla qu'il a eu) -->
                {{ include('Offer/Offer/personOffer/opinionsList.html.twig', { person: person,
                    type : 'give', opinions : person.opinionsGiven}) }}
            </div>
            <div class="tab-pane" id="link5">
                <!-- Avis installé (que les rempla ont mis sur l'installé) -->
                {{ include('Offer/Offer/personOffer/opinionsList.html.twig', { person: person,
                    type : 'receive', opinions : person.opinionsReceived }) }}
            </div>
            <div class="tab-pane" id="link6">
                <!-- Personnes à contacter -->
                {{ include('Offer/Offer/personOffer/personToContact.html.twig', { personToContact : person.personToContact }) }}
            </div>
            <div class="tab-pane" id="link7">
                <!-- TODO : bons pour accord -->
                <div class="text-center mt-3">Fonctionnalité à venir</div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="card">
    <div class="card-header">Autres Offres</div>
    <div class="card-body">
        <table class="view-person-offer-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Catégorie</th>
                <th>Spécialité</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Etat</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% set nbEntries = 0 %}
            {% for offer in person.realOffers %}
                {% if not in_array(offer.state,[]) %}
                    {% set nbEntries = nbEntries + 1 %}
                    <tr class="view-person-offer-link" data-href="{{ url('offer_offer_edit',{"id":offer.id}) }}">
                        <td>
                            {{ offer.id }}
                        </td>
                        <td>
                            {{ offer.canvas.label }}
                        </td>
                        <td>
                            {{ offer.person.mainJobName.label }}
                        </td>
                        <td class="text-dark">
                            {{ offer.startingDateOrAsap }}
                        </td>
                        <td class="text-dark">{{ offer.readableEndDate }}</td>
                        <td>{{ constant('LABEL',offer)[offer.state] }}</td>
                        <td>{{ constant('TYPES_LABEL',offer)[offer.type] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% if nbEntries == 0 %}
            <div class="view-person-offer-table-no-entries">
                Aucune entrée
            </div>
        {% endif %}
    </div>
</div>
-->

<div class="card">
    <div class="card-header">Modèles d'offres</div>
    <div class="card-body">
        <table class="view-person-offer-table table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Création</th>
                <th>Catégorie</th>
            </tr>
            </thead>
            <tbody>
            {% set nbEntries = 0 %}
            {% for offer in person.modelsOffers %}
                {% set nbEntries = nbEntries + 1 %}
                <tr>
                    <td>
                        <a href="{{ url('offer_offer_edit',{"id":offer.id}) }}">{{ offer.id }}</a>
                    </td>
                    <td>
                        <a href="{{ url('offer_offer_edit',{"id":offer.id}) }}">{{ offer.creationDate|date('d/m/Y') }}</a>
                    </td>
                    <td>
                        <a href="{{ url('offer_offer_edit',{"id":offer.id}) }}">{{ offer.canvas.label }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if nbEntries == 0 %}
            <div class="view-person-offer-table-no-entries">
                Aucun modèle
            </div>
        {% endif %}
    </div>
</div>