<table class="view-person-offer-table table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Catégorie</th>
            <th>Spécialité</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Etat</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
    {% if offerList|length == 0 %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Aucune donnée enregistrée</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% else %}
        {% for offer in offerList %}
            <tr>
                <td>
                    {{ offer.id }}
                </td>
                <td>
                    <a href="{{ url('offer_offer_edit',{"id":offer.id}) }}">{{ offer.canvas.label }}</a>
                </td>
                <td>
                    {{ offer.person.mainJobName.label }}
                </td>
                <td class="text-dark">
                    {{ offer.startingDateOrAsap }}
                </td>
                <td class="text-dark">{{ offer.readableEndDate }}</td>
                <td>{{ constant('LABEL',offer)[offer.state] }}</td>
                <td>{{ constant('TYPES_LABEL',offer)[offer.type] }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>