{% set break = false %}
{% for access in personNatural.mainJobName.PersonAccesses if not break %}
    {% if in_array(access.type,[constant("DEPOSIT_LIBERAL_ANNOUNCE",access),constant("DEPOSIT_LIBERAL_ANNOUNCE",access),constant("DEPOSIT_TO_CESSION",access)]) %}
        <div class="card card-chart">
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-pills nav-pills-primary">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#link1">
                                            Offres intéressantes
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#link2">
                                            Offres en cours de missions
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#link3">
                                            Offres pourvues
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active" id="link1">
                                        Listes des offres pour lesquelles le client a montré un intérêt
                                    </div>
                                    <div class="tab-pane" id="link2">
                                        Listes des offres sur lesquelles il est actuellement en poste
                                    </div>
                                    <div class="tab-pane" id="link3">
                                        Listes des offres pourvues par le client
                                        <table class="view-person-offer-table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Type</th>
                                                <th>Début</th>
                                                <th>Fin</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for offer in personNatural.providedOffers %}
                                                <tr class="view-person-offer-link"
                                                    data-href="{{ url('offer_offer_edit',{"id":offer.id}) }}">
                                                    <td>
                                                        {{ offer.id }}
                                                    </td>
                                                    <td>
                                                        {{ offer.canvas.label }}
                                                    </td>
                                                    <td>
                                                        {{ offer.startingDateOrAsap }}
                                                    </td>
                                                    <td>{{ offer.readableEndDate }}</td>
                                                    {# COMMENTAIRE A GARDER
                                                    <div class="col-md-2">
                                                        <div class="row">
                                                            <i class="col-md-6 fas fa-envelope"
                                                               onclick="sendOffer({{ providedOffer.id }},{{ personNatural.id }},false, true)"></i>
                                                            <i class="col-md-6 col-md-offset-6 fas fa-mobile-alt"
                                                               onclick="sendOffer({{ providedOffer.id }},{{ personNatural.id }},true)"></i>
                                                        </div>
                                                    </div>#}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% if personNatural.providedOffers is empty %}
                                            <div class="view-person-offer-table-no-entries">
                                                Aucune entrée
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set break = true %}
    {% endif %}
{% endfor %}