{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="row justify-content-center mt-3">
    <div class="col-sm-10 text-left">
        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.label,'title':'Nom de la catégorie'} %}
            {% block icon %}<i class="far fa-user"></i>{% endblock %}
        {% endembed %}
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-sm-10 text-left">
        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.classification,'title':'Classification','placeholder':'Classification','emptyValue':'Classification'} %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-5">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-fill'},'label': 'Sauvegarder'}) }}
    </div>
</div>
{{ form_end(form) }}

