{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="row">
                <div class="col-11">Liste des catégories</div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer une nouvelle catégorie"
                       data-controller="Core\JobNameController\new">
                        <i class="fas fa-plus"
                           title='Nouvelle Catégorie'
                           onclick='popupOnHtmlResponse(this,"{{ url("core_job_name_new") }}","POST")'></i>
                    </a>
                </div>
            </div>
        {% endblock %}
        {% block thead %}
            <th>Id</th>
            <th>Label</th>
            <th>Classification</th>
            <th>actions</th>
        {% endblock %}
        {% block tbody %}
            {% for job_name in jobNames %}
                <tr>
                    <td>{{ job_name.id }}</td>
                    <td>{{ job_name.label }}</td>
                    <td>{{ job_name.translate.label(job_name.classification) }}</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a class="bubble-info" aria-label="Modifier"
                                   data-controller="Core\JobNameController\edit">
                                    <i class="fas fa-pen"
                                       title='Modifier cette Catégorie'
                                       onclick='popupOnHtmlResponse(this,"{{ url("core_job_name_edit",{"id":job_name.id }) }}","POST")'></i>
                                </a>
                            </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune catégorie existante</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
