.fixed-plugin li.adjustments-line,
.fixed-plugin li.header-title,
.fixed-plugin li.button-container {
    height: auto;
}

.bubble-info {
    position: relative;
    border-radius: 50%;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}

.bubble-info:hover:after,
.bubble-info:focus:after {
    content: attr(aria-label);
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translateX(-50%); /* horizontal center  */
    z-index: 1500;
    white-space: nowrap;
    padding: 5px 14px;
    background: #ca51e3;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
}

.smaller-bubble-info {
    font-size: 1rem;
}

.smaller-bubble-info:hover:after,
.smaller-bubble-info:focus:after {
    font-size: 1rem;
}

.bootstrap-switch .bootstrap-switch-label {
    background: lightgreen !important;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
    background: #fb3804 !important;
}

option {
    color: black;
}

.text-2 {
    font-size: 1.2em;
}

.border-gray {
    border-color: gray !important;
}

.input-text-icon-group {
    padding: inherit;
    width: inherit;
}

.form-error ul li {
    color: red;
    list-style: none;
}

.error {
    font-weight: bold;
    color: red !important;
}

.sub-menu {
    margin-left: 15%;
}

.sidebar-mini .sidebar:hover {
    width: 360px !important;
}

.bg-gray {
    background-color: rgba(255, 48, 106, 0.8) !important;
}

ul li {
    list-style: none;
    color: inherit;
}

.input-group-prepend {
    display: initial;
}

.input-group .btn {
    margin: 0;
}

#phone-fields-list {
    padding-left: 0;
}

.tim-icons {
    color: #d250da;
    cursor: pointer;
}

.deleting {
    opacity: 0.5;
}

.spinner-icon {
    animation: 0.7s linear infinite spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button .tim-icons,
.bootstrap-switch .tim-icons {
    color: white;
}

/*FONTAWESOME CSS*/
.fas, .fab, .far {
    color: #d250da;
    cursor: default;
}

.fa-middle-x {
    font-size: 1.5em;
}

.fa-in-progress {
    color: #ff8d72;
}

.fa-valid {
    color: #00cc00;
}

.fa-invalid {
    color: #cc313c;
}

.tools-cfml {
    margin-top: -3em;
}

/*TOOLBOX FRONT*/
.tools-plugin {
    position: fixed;
    right: 0;
    width: 64px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
    top: 100px;
}

.tool-box-links {
    transition: all 0.15s ease-in-out;
}

.tool-box-links:hover {
    color: #d1d1d1 !important;
}

.tools-plugin .fas {
    color: #fff;
    font-size: 1.5em;
    margin: 10%;
}

.tools-plugin hr {
    margin: unset;
}

.toolbox {
    padding-top: 10%;
    padding-bottom: 10%;
}

/****************************/

/*tools general*/
#fixed-plugin-navbar {
    position: inherit;
    background: none;
    top: 0;
    width: unset !important;
}

#fixed-plugin-navbar .dropdown-menu {
    top: 5px !important;
}

#quick-search-person-input {
    -moz-appearance: textfield;
}

#quick-search-person-input::-webkit-outer-spin-button,
#quick-search-person-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-search-bar {
    color: inherit;
}

.form-tooltip {
    color: grey;
}

.form-tooltip:hover {
    cursor: default;
    color: #D250DA;
}

.tiptext {
    position: absolute;
    background: grey;
    color: white;
    padding: 1em;
    margin: 0.2em;
    width: 15em;
    z-index: 10;
    box-shadow: 1px 1px 5px black;
}

/*************************************/

.swal2-modal i {
    color: #D250DA;
    font-weight: bold;
}

.swal2-modal {
    min-height: 200px !important;
    overflow-y: hidden !important;
}

.swal2-modal .dropdown > .show {
    position: inherit !important;
}

.bootstrap-switch-default {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
    position: relative;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 10px;
    line-height: 8px;
    width: 100px !important;
    height: 22px;
    outline: none;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-image: url("../img/night-sky.png");
}

ul[id$=fields-list] {
    padding: 0;
}

ul[id$=fields-list] li.row {
    min-height: 47px;
}

.label-small {
    font-size: small;
}

.form-address div.row {
    padding: 2px 0;
}

.form-address {
    padding-bottom: 35px;
}

.separate {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.data {
    margin-left: 2%;
}

.input-group-prepend .fas, .input-group-append .fas, .input-group-prepend .far, .input-group-append .far {
    font-size: 1rem;
}

i.return {
    font-size: 1.5rem;
}


/*TEXTAREA*/
.textarea-group {
    width: 100%;
}

textarea.customtextarea {
    width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: 0.1em solid rgba(29, 37, 59, 0.5);
    border-radius: 0.4285rem;
    font-size: 0.875rem;
    line-height: 1.35em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.swal-footer {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80% !important;

}


.pagination {
    justify-content: center;
}

.page-link {
    color: #ba54f5;
}

.page-link:hover {
    color: #ba54f5 !important;
}

.active > .page-link:hover {
    color: white !important;
}


.not-default {
    color: #6a7282;
}

.btn.dropdown-toggle[data-toggle="dropdown"] {

    padding: 8px;
}

/*CUSTOM TIMELINE*/
.card.card-timeline .timeline > li > .timeline-panel {
    padding: 10px !important;
}

.badge {
    font-size: 0.80rem !important;
}

select {
    -webkit-appearance: none;

}

.label {
    color: #666666;
}

.value {
    color: #0e84f8;
}

.timeline-icon {
    color: white;
}

.criterion-changer {
    margin-bottom: 0 !important;
}

.fas, .far {
    cursor: pointer;
}

/* Person Natural */
.accordion-list-elements-body {
    padding-top: 0 !important;
}

.accordion-list-elements-header a {
    border-bottom: solid 0.1em grey !important;
    padding: 0.3em;
    transition: all 0.2s ease-in-out;
}

.accordion-list-elements-header a:hover {
    color: #e14eca !important;
    border-bottom: solid 0.1em #e14eca !important;
}

.person-natural-in-person-legal {
    background-color: #e9e9e9;
    color: #818181 !important;
    transition: all 0.2s ease-in-out;
}

.person-natural-in-person-legal-a {
    color: inherit !important;
}

.col-adh-person-natural {
    border-left: solid 0.1em white;
}

.person-natural-in-person-legal-rows {
    margin: 0 !important;
}

.person-natural-in-person-legal-a:hover {
    color: #e14eca !important;
}

#form-person-natural-navigation-ul .nav-item .active i, #form-person-natural-navigation-ul .nav-item .checked i {
    color: white;
}

/******************/

.bootstrap-select.btn-group .dropdown-menu li {
    width: 100% !important;
}

#datatable_person_legal a[data-controller], #datatable_person_natural a[data-controller] {
    display: block !important;
}

/* Person Infos View */
#toolbox-person-infos .btn-link {
    color: white;
}

#toolbox-person-infos .adjustments-line {
    padding: 1em;
    padding-top: 0.5em;
    color: lightgrey !important;
}

#toolbox-person-infos .adjustments-line ul li {
    color: inherit !important;
}

#toolbox-person-infos .list-person-natural {
    margin-bottom: 0.5em;
}

#toolbox-person-infos .header-title {
    padding-bottom: 0.5em;
}

.customer-infos-title {
    width: 100%;
    border-bottom: solid 0.1em white;
}

#toolbox-person-infos .dropdown .dropdown-menu {
    transform: translate3d(0, 0, 0) !important;
}

.dropdown-super-show {
    visibility: visible !important;
    opacity: 1 !important;
}

.alert-with-icon span[data-notify='title'] {
    text-align: center;
    font-weight: bold;
}

/*******************/
/* Canvas offer */
.canvas-offer {
    margin-top: 2em;
}

.offer-list-info {
    padding: 1em;
    margin-bottom: 1em;
}

/****************/
/* wishes forms */
.forms-wishes .col-form-label {
    text-align: right;
}

.form-wishes-rows {
    margin-top: 1em;
}

.btn-add-row {
    color: white !important;
}

.distance-value-rows {
    margin-top: 0.1em;
}

.cross-delete-one-row {
    color: #ff4330;
    margin-top: 0.2em;
    margin-left: 0.2em;
    transition: all 0.1s ease-in-out;
}

.cross-delete-one-row:hover {
    color: #e71d09;
}

.photo {
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    border: solid 0.125em #fd5d93;
}

.distance-value-rows {
    margin-top: 0.1em;
}

.cross-delete-one-row {
    color: #ff4330;
    margin-top: 0.2em;
    margin-left: 0.2em;
    transition: all 0.1s ease-in-out;
}

.cross-delete-one-row:hover {
    color: #e71d09;
}

.wishes-criteria-head {
    background-color: #525f7f;
    color: white;
    margin-bottom: 0.5em;
    border-radius: 3em;
    padding: 0.3em;
    box-shadow: 0.1em 0.1em 0.3em grey;
}

.wishes-arrows, .wishes-wage-arrows {
    transition: all 0.1s ease-in-out;
}

.wishes-arrows:hover, .wishes-wage-arrows:hover {
    color: #525f7f !important;
}

.wishes-criteria-label {
    background-color: white;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border-radius: 0.2em;
}

.hover-wishes-criteria-label {
    background-color: #525f7f;
    color: white;
}

.wishes-criteria-card {
    margin: 0.1em;
}

.div-content-criteria:hover, .div-content-criteria-wage:hover {
    cursor: default;
}

.div-content-criteria {
    margin-top: 1em;
}

.btn-api-call {
    color: #ba54f5 !important;
}

.btn-api-call:hover {
    color: #e14eca !important;
    cursor: pointer;
}

/*******************/
/* Global Research */
#form-search-person .row {
    margin: 2em 0 2em 0;
}

.link-redirect-new-person {
    color: #ba54f5 !important;
}

.link-redirect-new-person:hover {
    color: #e14eca !important;
    cursor: pointer;
}

/*******************/
/* swal alarm customer */
.overflow-visible {
    overflow: visible !important;
}

/***********************/
/* Notifications */
.notification-custom {
    background: #ff306a;
    border-radius: 0.875rem;
    width: 20px;
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    top: 0;
    right: 3px;
    border: 1px solid #ff306a;
}

.dropdown-notification a {
    cursor: pointer;
}

.dropdown-notification a:hover {
    color: white;
}

.dropdown-notification ul {
    width: 30rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.notification-content {
    display: flex;
    margin: 0.7em !important;
    padding: 0.7em !important;
    border-top: black 1px dotted;
    border-radius: 0em 0em 0.3em 0.3em;
}

.notification-content .nav-item {
    width: -moz-available;
}

.notification-cross {
    top: 0;
    cursor: pointer;
    margin: auto 1.4em !important;
    background-color: white;
    border-radius: 0.7em;
    opacity: unset !important;
}

.notification-content:hover {
    color: #525f7f;
}

.notification-all {
    padding-right: 0.7em;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    color: #E04ECB;
}

.notification-all:hover {
    color: #ff306a;
}

.notification-link:hover {
    cursor: pointer;
}

.notification-content-seen:hover {
    color: #ff306a;
}

.notification-content-not-seen:hover {
    color: whitesmoke;
}

.notification-content .the-icon-seen {
    color: white;
    transition: inherit;
}

.notification-content .the-icon-seen:hover {
    cursor: pointer;
    color: #88e34c;
}

/******************/

/* Matching Substitute */
.c-orange {
    color: orange;
}

.modularity-icon {
    color: darkorange;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

.modularity-icon:hover {
    color: orange;
}

.offer-form-check-cell {
    display: flex;
}

.offer-form-check-cell div {
    margin: auto;
}

.matching-see-wish {
    font-style: italic;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.matching-see-wish:hover {
    text-decoration: underline;
}

.matching-accordion-card {
    transition: all 0.2s ease-in-out;
    border: solid 1px transparent;
}

.matching-accordion-card:hover {
    border: solid 1px #e14eca;
}

.matching-accordion-card .card-header a {
    transition: all 0.08s ease-in-out;
}

.matching-accordion-card:hover > .card-header a {
    color: #e14eca !important;
}

.matching-accordion-card:hover > .card-header a .matching-see-wish {
    opacity: 1;
}

.resultMatching-table {
    width: 100%;
}

.resultMatching-table td {
    padding: 0.5em;
}

/******************/

/* Matching Offers */
.matching-see-offer {
    font-style: italic;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.matching-see-offer:hover {
    text-decoration: underline;
}

.matching-accordion-card:hover > .card-header a .matching-see-offer {
    opacity: 1;
}

/******************/

/* Waiting Spinner */
.loading-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    background-color: rgba(145, 145, 145, 0.7);
    z-index: 1051; /* oui il faudrait revoir les valeurs des z-index (le plus haut était à 1050 je crois, du coup je l'ai mis à 1051) */
}

.loading-screen .loader {
    margin: auto;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #e14eca;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 0.7s ease-in-out infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/******************/

.matching-offers {
    margin-left: 1em;
}

.link-matching-offer, .link-matching-wish {
    float: right;
}

/* send mail */
.popup-send-mail {
    overflow-y: scroll !important;
    height: 60vh;
    width: 60vw !important;
}

.mail-content {
    text-align: left !important;
}

.alterable-content-input {
    height: 20vh;
    font-size: 0.9em;
    width: 100%;
}

.mail-content-alterable {
    margin: 0.4em 0em 0.4em 0em;
}

.mail-content-alterable:hover {
    background-color: lightgrey;
    cursor: pointer;
}

/*************/

#datatable_person_natural_filter label input[aria-controls=datatable_person_natural], input[aria-controls=datatable_person_legal] {
    display: none !important;
}

#datatable_person_natural, #datatable_person_legal {
    width: auto !important;
}

.bs-searchbox .form-control {
    color: rgba(22, 22, 22, 0.95);
}

/******************/

/* PERSON VIEW OFFER CARDS */
.view-person-offer-table {
    width: 100%;
    text-align: center;
}

/***************************/

.opacity-0 {
    opacity: 0;
}

/******************/

/* TIMERANGE */
.form-timerange-input {
    display: inline-block;
    width: 7em;
}

.form-timerange-input[name="start"], .form-timerange-input[name="end"] {
    width: 15em;
}

.div-comblage {
    display: inline-block;
    width: 3em;
    opacity: 0;
}

.form-timerange-row {
    margin: 1em;
}

/******************/

/* FORM PERSON NATURAL */
.adjust-bar {
    width: 75% !important;
    margin: auto;
}

.adjust-progress-bar {
    margin-left: 12.5% !important;
}

.adjust-badge {
    width: 33.33334% !important;
}

.show-submit-button {
    display: inline-block !important;
}

.delete-offer-id-icon, .delete-person-id-icon {
    color: #ca2c1d !important;
    transition: all 0.15s ease-in-out;
}

.delete-offer-id-icon:hover, .delete-person-id-icon:hover {
    color: #e53120 !important;
    cursor: pointer;
}

/* SCROLLTOP */
.go-top {
    top: 0 !important;

}

/*COLORS*/
.success {
    color: #00f2c3;
}

.info {
    color: #1d8cf8;
}

.warning {
    color: #ff8d72;
}

.danger {
    color: #fd5d93;
}

.primary {
    color: #e14eca;
}

/*BGCOLORS*/
.bg-success {
    background-color: #00f2c3;
}

.bg-info {
    background-color: #1d8cf8;
}

.bg-warning {
    background-color: #ff8d72;
}

.bg-danger {
    color: #fd5d93;
}

.bg-primary {
    background-color: #e14eca;
}

.bg-success, .bg-warning, .bg-primary, .bg-info, .bg-danger {
    background-image: none !important;
    -webkit-background-image: none !important;
    -o-background-image: none !important;
    -moz-background-image: none !important;

}

/*BTNCOLORS*/
a.btn, input.btn {
    color: #ffffff;
}

.c-light-black {
    color: #292b2c !important;
}

.datatables {
    width: 100% !important;
}

/*PERSON VIEW*/
.accordion-link-etab {
    display: none;
    opacity: 0;
    font-style: italic;
    transition: all 0.1s ease-in-out;
}

.accordion-link-etab:hover {
    text-decoration: underline;
}

.accordion-etab:hover > .accordion-link-etab {
    opacity: 1;
    display: inline-block;
}

/*STAFF FORM*/
#staff_pic {
    float: right;
    margin-right: 1rem;
}

.help-text-select {
    margin-left: 1rem;
}

.dataTables_processing.card {
    background: none !important;
    box-shadow: none;
}

.dataTables_scrollBody {
    min-height: 70px !important;
    border-radius: 5px;
    padding: 0.5rem;

}

#person-natural-list td div label {
    color: #000000 !important;
}

#person-natural-list td div.form-check {
    padding: 0.5rem;
}

.c-green {
    color: green;
}

.space-between {
    justify-content: space-between !important;
}