.calendar-month {
    width: 24em;
    height: 17em;
    margin: 1%;
}

#content-calendar-actual {
    flex-wrap: wrap;
}

.agenda-week {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.agenda-day {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#content-calendar-actual .agenda {
    border-spacing: 0.4em;
    border-collapse: separate;
}

#content-calendar-actual .header-month-calendar {
    background-color: dodgerblue;
}

.td-hover {
    background-color: #CCCCCC;
}

.cursor-pointer {
    cursor: pointer;
}

.calendar-days .agenda-week td {
    color: black;
}

.btn-calendar-choice {
    padding: 0.6em;
    border-radius: 0.3em;
    margin: 0.5em;
}

.unavailability {
    text-decoration: line-through;
    color: red !important;
}