.calendar-small .fc-toolbar > * > * {
    float: initial;
}

.calendar-small h2 {
    font-size: larger;
}

.event-tooltip{
    color: #434343;
    position:absolute;
    border : solid 1px;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    z-index : 10;
    margin-left:0.2em;
    margin-right:0.2em;
    border-radius:2px;
    padding:0.4em;
}

.event-remove-btn{
    float:right;
}

.fc-icons-personalized{
    line-height: 0.45em !important;
}

.fc-day-grid-container{
    overflow:visible !important;
}

.calendar-small .fc-row{
    overflow:visible !important;
    z-index:unset;
}

.event-remove-btn i:hover{
    color:red !important;
}

.fc-day-grid-event{
    z-index:4;
}

.fc-day-grid-event .fc-content{
    color:unset;
}

.fc-row .fc-content-skeleton{
    z-index:unset;
}

.fc-row .fc-bg{
    z-index:unset !important;
}

.fc-day-number{
    z-index:3;
}