.card-view-canvas{
    margin-top:5em;
}

.content-canvas-edition{
    margin-top:2em;
    padding-top:1em;
    margin-bottom:1em;
}

.canvas-row-list-element{
    border-right:solid 1px grey;
    max-height: 80vh;
    overflow-y: scroll;
}
.fixed-canvas-row-list-element{
    position:fixed;
    top:10px;
}
.canvas-row-parameters{
    border-left:solid 1px grey;
}

.row-btn{
    text-align: center;
    margin-bottom: 2em;
}

.canvas-another-row{
background-color: #eeeeee;
padding:1.5em;
margin:1em;
transition:all 0.1s ease-in-out;
}
.canvas-another-row:hover{
background-color: #dedede;
cursor:pointer;
}

.canvas-row-selected{
    background-color: #cdcdcd;
}
.canvas-row-selected:hover{
    background-color: #cdcdcd;
}

.options-countable{
    border:solid 1px grey;
    padding:0.5em;
    border-radius: 5px;
    text-align:center;
    margin-bottom:0.2em;
    transition:all 0.1s ease-in-out;
}
.options-countable:hover{
    background-color: grey;
    color:#f5f6fa;
    cursor:pointer;
}

#section-param-option{
    position:fixed;
    top:50%;
}

.full-width{
    width:100%;
}