
.title-personnel {
    font-size: 1.2em;
    text-decoration: underline;
}

#service_card_div_1 {
    margin-left: 1em;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.table th {
    width: 20em;
}

#info-bubble {
    background-color: #C6C6C6;
    position: absolute;
    z-index: 999;
    width: 30%;
}

#info-bubble p {
    color: black;
}

.table .td-hover:hover {
    background-color: #e14eca;
    cursor: pointer;
}

.personnal-info span {
    font-weight: bold;
}

.li-style {
    list-style-type: disc;
}

.link-person{
    height: 100%;
    width: 100%;
}

.flex-data {
    justify-content: space-between;
    display: flex;
}

.underline {
    text-decoration: underline;
}

.array-margin {
    margin-right: 14em;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-scroll {
    overflow: auto;
    height: 20em;
}