@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
}

a,
a:visited {
    color: #fff;
    outline: none;
    text-decoration: none;
}

a:hover,
a:focus,
a:visited:hover {
    color: #fff;
    text-decoration: none;
}

* {
    paading: 0;
    margin: 0;
}

#error {
    background: #222;
    text-align: center;
    font-weight: 400;
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
}

#error-text {
    top: 30%;
    position: relative;
    font-size: 2em;
    color: #eee;
}

#error-text a {
    color: #eee;
}

#error-text a:hover {
    color: #fff;
}

#error-text p {
    color: #eee;
    margin: 5% 0 0 0;
}

#error-text i {
    margin-left: 2%;
}

#error-text p.link-homepage {
    margin: 3% 0 0 0;
}

#error-text span {
    position: relative;
    background: #ba54f5;
    color: #fff;
    font-size: 300%;
    padding: 0 1%;
    border-radius: 5%;
    font-weight: bolder;
    transition: all .5s;
    cursor: pointer;
    margin: 0 0 5% 0;
}

#error-text span:hover {
    background: #ba54f5;
    color: #fff;
    -webkit-animation: jelly .5s;
    -moz-animation: jelly .5s;
    -ms-animation: jelly .5s;
    -o-animation: jelly .5s;
    animation: jelly .5s;
}

#error-text span:after {
    top: 100%;
    left: 50%;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ba54f5;
}

@-webkit-keyframes jelly {
    from, to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    25% {
        -webkit-transform: scale(.9, 1.1);
        transform: scale(.9, 1.1);
    }
    50% {
        -webkit-transform: scale(1.1, .9);
        transform: scale(1.1, .9);
    }
    75% {
        -webkit-transform: scale(.95, 1.05);
        transform: scale(.95, 1.05);
    }
}

@keyframes jelly {
    from, to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    25% {
        -webkit-transform: scale(.9, 1.1);
        transform: scale(.9, 1.1);
    }
    50% {
        -webkit-transform: scale(1.1, .9);
        transform: scale(1.1, .9);
    }
    75% {
        -webkit-transform: scale(.95, 1.05);
        transform: scale(.95, 1.05);
    }
}

/* CSS Error Page Responsive */

@media only screen and (max-width: 640px) {
    #error-text span {
        font-size: 200%;
    }

    #error-text a:hover {
        color: #fff;
    }
}

.back:active {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    transform: scale(0.95);
    background: #f53b3b;
    color: #fff;
}

.back:hover {
    background: #4c4c4c;
    color: #fff;
}

.back {
    text-decoration: none;
    background: #5b5a5a;
    color: #fff;
    padding: 1% 2%;
    /*font-size: 1em;*/
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 2%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s ease-out;
}

#error-funny-text{
    margin-top:1.5em;
    font-style:italic;
}