:root {
    --maincolor: #e14eca;
}

body {
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
}

.card {
    min-font-size: 16px;
}

#accordion .card-header {
    position: static;
}

.unseen {
    background: var(--maincolor) !important;
    font-weight: bold;
    color: #0a0a10;
}

.tab-space {
    padding: 20px 0 0 0;
    word-break: break-all;
}

li[data-controller] {
    display: block;
}

.list-mail {
    background: transparent;
    border-top: 0.125em solid #4d5760;
    border-radius: 0;
    font-weight: lighter;
    margin: 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
    word-break: break-all;
}

.list-mail-color {
    color: #000000;
}

.list-mail-sample {
    width: 100%;
}

.selected-mail {
    background: var(--maincolor) !important;
}

.mail-content {
    max-height: 675px !important;
}

#received-card {
    margin: 0;
    width: 100%;
    max-height: 610px;
}

#received-card button, #sending-mail-form button {
    float: right;
}

#message-box {
    padding-bottom: 25px;
}

#answer {
    margin-top: 1em;
}

#inBox, #sentBox {
    height: 500px;
    overflow-y: scroll;
    margin: 0;
}

#mail-message {
    max-height: 450px;
    border-radius: 5px;
    word-break: break-all !important;
    padding: 10px;
    margin-bottom: 0;
    overflow-y: scroll;
}

#send-message {
    max-height: 450px;
}

#attachments-list {
    max-height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;
}

#attachments-received {
    padding-top: 10px;
}

.error {
    display: inline;
}

#upload-input-attachment {
    display: none;
}

.file-uploaded {
    width: 95%;
}

#new-attachment {
    font-size: 0.8rem;
}

#attachment-column {
    padding-top: 0.125em;
    text-align: center;
}

#attachments-list {
    text-align: left;
    padding-right: 0.125em;
}

.delete-attachment {
    float: right;
}

.subject {
    word-break: break-all !important;
}

#current-mail-page, #page-search {
    margin: 1rem;
}

.pagination {
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}

#first-mail-page, #previous-mail-page {
    float: left;
}

#last-mail-page, #next-mail-page {
    float: right;
}

[id$=-mail-page] {
    margin: 1rem;
    cursor: pointer;
}

#input-page-number {
    width: 2em !important;
}
