.historization-offer {
    display: flex;
    background-color: white;
    margin: 0.3em;
    justify-content: space-around;
}

.historization-offer p {
    margin: 1em;
    color: black;
}

.space {
    width: 15em;
}