.offer-skill-label{
    width:unset !important;
    flex-basis: unset !important;
    flex-grow: unset !important;
    max-width: unset !important;
}

.offer-skill-delete-item{
    color:#e51d01;
    font-size:2em;
    display:flex;
}
.offer-skill-delete-item:before{
    margin:auto;
}
.offer-skill-delete-item:hover{
    color:#b01600;
}