.on-call-form{
    border-left : solid 1px grey;
    padding-left:1em;
}
.on-call-form:before{
    content:'Garde';
    color:grey;
    font-size: 0.8em;
    position:absolute;
    transform: translateX(-5em);
}

.on-call-form-rows{
    margin-top:0.5em;
    margin-bottom: 0.5em;
}

.on-call-nb-patients-field{
    display:inline-block;
    width:30%;
}