td.text-center, th.text-center {
    min-width: 200px;
}


tbody {
    padding-top: 50px;
}

.card-body {
    height: 600px;
    padding: 0 !important;
}

table {
    width: auto;
}

thead th {
    font-size: 1em !important;
}

.first-head-column {
    color: #393b3e;
    z-index: 99;
    background: #ba54f5;
    position: sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    left: 0;
}

.first-column {
    min-width: 400px;
    left: 0;
    color: #393b3e;
    z-index: 1;
    background: #ba54f5;
    position: sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
}

.first-head {
    color: #393b3e;
    z-index: 1;
    background: #ba54f5;
    position: sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
}

.roles-header, .features-column, #check-all {
    cursor: pointer;
}
