#offer-id-search-field::-webkit-inner-spin-button,
#offer-id-search-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#offer-id-search-field {
    -moz-appearance: textfield;
    margin-bottom: 1em;
}

#add_offer_to_person_natural_submit-container > * {
    display: inline-block;
}

#offer-result-research-table {
    width: 100%;
    text-align: center;
}

#offer-result-research-table thead {
    border-bottom: solid 0.1em grey;
}

#loader-search-container {
    display: flex;
    text-align: center;
}

#loader-search {
    margin: auto;
    width: 2em;
    height: 2em;
    border: solid 4px lightgrey;
    border-top: solid 0.3em #e14eca;
    border-radius: 50%;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 0.7s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}