#field-list .row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#btn-add-row-distance i {
    font-size: 1.3em;
    margin-left: 1em;
    color: green;
    transition: all 0.1s ease-in-out;
}

#btn-add-row-distance i:hover {
    color: #75aa59;
}

div[data-value="18"] li.dropdown-header {
    cursor: pointer;
    padding-top: 2rem;
}

#wish-show-table tbody tr th {
    width: 35%;
}

#wish-show-table-relevantness tbody tr td {
    vertical-align: top;
}

.wish-criteria-disabled {
    pointer-events: none;
    color: lightgrey;
}