{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-10 text-left">
        {% embed 'BaseTheme/inputTextIcon.html.twig' with {"field":form.label,"title":'Nom du type'} %}
            {% block icon %}
                <i class="tim-icons icon-ic_extension_24px"></i>
            {% endblock %}
        {% endembed %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-5">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-fill btn-primary'}, 'label':'Sauvegarder'}) }}
    </div>
</div>
{{ form_end(form) }}
