{% extends 'base.html.twig' %}

{% block title %}
    Visualisation des Types de Spécialités Médicales
{% endblock %}
{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="row">
                <div class="col-11">Liste des types de spécialités médicales</div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer un nouveau type de spécialité médicale"
                       data-controller="Core\MedicalSpecialtyQualificationController\new">
                        <i class="fas fa-plus"
                           title='Nouveau Type de Spécialité Médicale'
                           onclick='popupOnHtmlResponse(this,"{{ url("core_medical_specialty_qualification_new") }}","POST")'></i>
                    </a>

                </div>
            </div>
        {% endblock %}

        {% block thead %}
            <th>Id</th>
            <th>Libellé</th>
            <th>Actions</th>
        {% endblock %}
        {% block tbody %}
            {% for medical_specialty_qualification in medical_specialty_qualifications %}
                <tr>
                    <td>{{ medical_specialty_qualification.id }}</td>
                    <td>{{ medical_specialty_qualification.label }}</td>
                    <td>
                        <div class="row">
                            <div class="col-6">
                                <a class="bubble-info" aria-label="Modifier"
                                   data-controller="Core\MedicalSpecialtyQualificationController\edit">
                                    <i class="fas fa-pen"
                                       title='Modifier Service'
                                       onclick='popupOnHtmlResponse(this, "{{ url("core_medical_specialty_qualification_edit",{"id":medical_specialty_qualification.id }) }}","POST")'></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <a class=" bubble-info" aria-label="Supprimer"
                                   data-controller="Core\MedicalSpecialtyQualificationController\delete">
                                    <i class="fas fa-trash-alt"
                                       onclick='confirmDelete(this,"Confirmer vous la suppression de ce type ?","{{ url("core_medical_specialty_qualification_delete",{"id":medical_specialty_qualification.id }) }}")'>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun type existant</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

