{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="row justify-content-center mt-3">
    <div class="col-sm-10 text-left">
        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.label,'title':'Origine'} %}
            {% block icon %}<i class="far fa-user"></i>{% endblock %}
        {% endembed %}
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-sm-10 text-left">
        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.usages,'title':'Usages','placeholder':'Usages','emptyValue':'Sélectionnez au moins un usage'} %}
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-sm-10 text-left">
        {% include 'BaseTheme/toggleOnOff.html.twig' with {'field':form.isActive,'title':'Actif','placeholder':'Actif','emptyValue':'Actif','label':'Actif'} %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-5">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-fill btn-primary'},'label': 'Sauvegarder'}) }}
    </div>
</div>
{{ form_end(form) }}

