{% extends 'base.html.twig' %}

{% block title %}Liste des Origines{% endblock %}

{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="row">
                <div class="col-11">Liste des Origines</div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer une nouvelle Origine"
                       data-controller="Core\OriginController\new">
                        <i class="fas fa-plus"
                           title='Nouvelle Origine'
                           onclick='popupOnHtmlResponse(this,"{{ url("core_origin_new") }}","POST")'></i>
                    </a>
                </div>
            </div>
        {% endblock %}
        {% block thead %}
            <th>Id</th>
            <th>Label</th>
            <th>Utilisations</th>
            <th>Actif</th>
            <th>actions</th>
        {% endblock %}
        {% block tbody %}
            {% for origin in Origins %}
                <tr>
                    <td>{{ origin.id }}</td>
                    <td>{{ origin.label }}</td>
                    <td>
                        {{ include('BaseTheme/arrayToString.html.twig', {'array':origin.usages,'translateObject':origin}) }}</td>
                    <td>{{ origin.isActive ? 'Oui' : 'Non' }}</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a class="bubble-info" aria-label="Modifier"
                                   data-controller="Core\OriginController\edit">
                                    <i class="fas fa-pen"
                                       title='Modifier cette Origine'
                                       onclick='popupOnHtmlResponse(this, "{{ url("core_origin_edit",{"id":origin.id }) }}","POST")'></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune Origine Existante</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
