{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cfml/membership') }}
{% endblock %}

{% block title %} Affectation portefeuille client CFML {% endblock %}

{% block body %}

    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div>
                <div class="d-flex justify-content-between">
                    <h3>Affectation portefeuille client CFML</h3>
                    <form method="post" action="{{ url('membership_cfml') }}">
                        <input name="uncheckAllClient" type="hidden" value="true">
                        <button type="submit" id="uncheckAllClient" class="btn btn-danger">Décocher tous les clients
                        </button>
                    </form>
                </div>
                <div>
                    <p>Nombre de clients cochés : <span id="countCheckedPersons"></span></p>
                </div>
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}
        {% block thead %}
            <th>ID Client</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Ajout Client au portefeuille</th>
            <th>En Charge</th>
        {% endblock %}
        {% block tbody %}

            {% for member in memberCFML %}
                <tr id="member">
                    <td>
                        <div><p>#{{ member.person.id }}</p></div>
                    </td>
                    <td>
                        <div><p>{{ member.person.firstName }}</p></div>
                    </td>
                    <td>
                        <div><p>{{ member.person.lastName }}</p></div>
                    </td>
                    <td>
                        <div>
                            <label class="display-block position-relative container">
                                <input id="{{ member.person.id }}" class="checkBoxAddPerson"
                                       type="checkbox"
                                       aria-label="Checkbox for following text input" {% if member.person.id in arrayStatusCheck %}
                                checked {% endif %}>
                                <span class="position-absolute checkmark"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            {% for membership in memberships %}
                                {% if membership.member.id == member.person.id %}
                                    {% if membership.mainRepresentative.nickname is defined %}
                                        <p>{{ membership.mainRepresentative.nickname }}</p>
                                    {% endif %}
                                    {% if membership.secondaryRepresentative.nickname is defined %}
                                        <p>{{ membership.secondaryRepresentative.nickname }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucun Clients</td>
                </tr>
            {% endfor %}


            <div class="modal fade" id="modalAddClient" tabindex="-1" role="dialog" aria-labelledby="modalAddClient"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Choisir un Staff pour lui attribuer les
                                clients</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="addPortefolio" method="post" action="{{ url('membership_cfml') }}">
                            <input
                                    value="{{ arrayMemberSession }}" name="arrayPersons" id="persons_naturals"
                                    type="hidden">
                            <div class="modal-body">
                                <select name="choiceStaffCFML" class="form-control" id="selectClientForStaff">
                                    {% for staff in staffCFML %}
                                        <option class="font-size"
                                                value="{{ staff.id }}">{{ staff.lastName }}{{ staff.firstName }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Attribuer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    <div class="d-flex justify-content-end">
        <button class="btn btn-success animation-on-hover" id="nextBtnAddStaff" type="button"
                rel="tooltip" data-placement="bottom"
                aria-describedby="tooltip691054" data-toggle="modal" data-target="#modalAddClient"
                disabled>Choisir un Staff CFML
        </button>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('cfml/membership') }}
    {% endblock %}