<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Omega{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
        <link href="{{ asset('bootstrap/css/fontawesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap/css/nucleo-icons-new.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap/css/nucleo-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap/css/black-dashboard.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap/demo/demo.css') }}" rel="stylesheet">
        {{ encore_entry_link_tags('base') }}
        {{ encore_entry_link_tags('toolBox') }}
    {% endblock %}
</head>

<body class="{% if app.session.get('mini_menu') is defined and app.session.get('mini_menu') == true %}sidebar-mini{% endif %}
             {% if app.session.get('white_color') is not defined or app.session.get('white_color') is null or app.session.get('white_color') == true %}white-content{% endif %}"
      data-permissions-file="{{ asset('permission.json') }}"
      data-permissions="{% if app.user is not null %}
                {{ app.user.roles|json_encode }} {% else %} [] {% endif %}">
<div class="wrapper">
    {% block sidebar %}
        <div class="navbar-minimize-fixed">
            <button class="minimize-sidebar btn btn-link btn-just-icon">
                <i class="fas fa-align-center visible-on-sidebar-regular text-muted"></i>
                <i class="fas fa-list visible-on-sidebar-mini text-muted"></i>
            </button>
        </div>
        <div class="sidebar"
             data="{% if app.session.get('color') is defined %}{{ app.session.get('color') }}{% endif %}">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-mini">
                        M
                    </a>
                    <a href="javascript:void(0)" class="simple-text logo-normal">
                        Menu
                    </a>
                </div>
                <ul class="nav">
                    <li {% if app.request.uri == url('homepage') %}class="active"{% endif %}
                        data-controller="Core\MainController\homepage">
                        <a href="{{ url('homepage') }}">
                            <i class="fas fa-chart-pie"></i>
                            <p>Tableau de bord</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav">
                    <li {% if '/staff' in app.request.uri or '/core/medical/specialty' in app.request.uri or '/service' in app.request.uri or '/core/jobname' in app.request.uri %}class="active"
                            {% endif %}>
                        <a data-toggle="collapse" aria-expanded="{% if '/staff' in app.request.uri
                            or '/core/medical/specialty' in app.request.uri
                            or '/service' in app.request.uri
                            or '/core/jobname' in app.request.uri %}true{% endif %}"
                           href="#system_tools">
                            <i class=" fas fa-tools"></i>
                            <p>Outils systèmes
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="sub-menu collapse {% if '/staff' in app.request.uri or '/core/medical/specialty' in app.request.uri or '/service' in app.request.uri or '/origin' in app.request.uri or '/core/jobname' in app.request.uri or '/permission' in app.request.uri or '/person/access' in app.request.uri %}show{% endif %}"
                             id="system_tools">
                            <ul class="nav">
                                <li {% if '/staff' in app.request.uri %}class="active"{% endif %}
                                    data-controller="Core\StaffController\index">
                                    <a href="{{ url('staff_index') }}">
                                        <i class="fas fa-users-cog" title="staff"></i>
                                        <p>Staff</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li {% if '/core/medical/specialty' in app.request.uri %}class="active"{% endif %}>
                                    <a data-toggle="collapse" href="#medicalspecialty"
                                       aria-expanded="{% if '/core/medical/specialty' in app.request.uri %}true{% endif %}">
                                        <i class="fas fa-stethoscope"></i>
                                        <p>Spécialité médicale
                                            <b class="caret"></b>
                                        </p>
                                    </a>
                                    <div class="collapse {% if '/core/medical/specialty' in app.request.uri %}show{% endif %}"
                                         id="medicalspecialty">
                                        <ul class="nav">
                                            <li {% if app.request.uri == url('core_medical_specialty_index') %}class="active"{% endif %}
                                                data-controller="Core\MedicalSpecialtyController\index">
                                                <a href="{{ url('core_medical_specialty_index') }}">
                                                    <span class="sidebar-mini-icon">S</span>
                                                    <span class="sidebar-normal">Liste</span>
                                                </a>
                                            </li>
                                            <li {% if app.request.uri == url('core_medical_specialty_qualification_index') %}class="active"{% endif %}
                                                data-controller="Core\MedicalSpecialtyQualificationController\index">
                                                <a href="{{ url('core_medical_specialty_qualification_index') }}">
                                                    <span class="sidebar-mini-icon">T</span>
                                                    <span class="sidebar-normal">Type</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li {% if '/jobname' in app.request.uri %}class="active"{% endif %}
                                    data-controller="Core\JobNameController\index">
                                    <a href="{{ url('core_job_name_index') }}">
                                        <i class="fas fa-exclamation-circle" title="Catégories"></i>
                                        <p>Catégorie</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li {% if '/origin' in app.request.uri %}class="active"{% endif %}
                                    data-controller="Core\OriginController\index">
                                    <a href="{{ url('core_origin_index') }}">
                                        <i class="fas fa-anchor" title="Origines"></i>
                                        <p>Origine</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li {% if '/membershipCFML' in app.request.uri %}class="active"{% endif %}
                                    data-controller="Core\MembershipCFMLController\membership_cfml">
                                    <a href="{{ url('membership_cfml') }}">
                                        <i class="tim-icons icon-attach-87"
                                           title="Affectation portefeuille client CFML"></i>
                                        <p class="word-wrap">Affectation <br/>portefeuille client CFML</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li {% if '/service' in app.request.uri %}class="active"{% endif %}
                                    data-controller="Core\ServiceController\index">
                                    <a href="{{ url('core_service_index') }}">
                                        <i class="fas fa-puzzle-piece" title="Services"></i>
                                        <p>Service</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li {% if '/permission' in app.request.uri %}class="active"{% endif %}
                                    data-controller="Core\PermissionController\index">
                                    <a href="{{ url('core_permission_index') }}">
                                        <i class="fas fa-check" title="Permissions"></i>
                                        <p>Permission</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li {% if '/person/access' in app.request.uri %}class="active"{% endif %}
                                    data-controller="Core\PersonAccessController\index">
                                    <a href="{{ url('core_access_by_job_name_index') }}">
                                        <i class="fas fa-lock" title="Accesses"></i>
                                        <p>Person accesses</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav">
                    <li {% if '/mail/manager' in app.request.uri %}class="active"{% endif %}>
                        <a data-toggle="collapse" href="#mailmanager"
                           aria-expanded="{% if '/core/mail/manager' in app.request.uri %}true{% endif %}">
                            <i class="fas fa-envelope" title="Mails"></i>
                            <p>Mail Manager
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse {% if '/mail/manager' in app.request.uri %}show{% endif %}"
                             id="mailmanager">
                            <ul class="nav">
                                <li {% if app.request.uri == url('mail_manager_index') %}class="active"{% endif %}
                                    data-controller="Utils\MailManagerController\index">
                                    <a href="{{ url('mail_manager_index') }}">
                                        <span class="sidebar-mini-icon">M</span>
                                        <span class="sidebar-normal">Mail Box</span>
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('mail_create') %}class="active"{% endif %}
                                    data-controller="Utils\MailManagerController\createpreWrittenMail">
                                    <a href="{{ url('mail_create') }}">
                                        <span class="sidebar-mini-icon">C</span>
                                        <span class="sidebar-normal">Créer mail prédéfini</span>
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('mail_edit') %}class="active"{% endif %}
                                    data-controller="Utils\MailManagerController\editpreWrittenMail">
                                    <a href="{{ url('mail_edit') }}">
                                        <span class="sidebar-mini-icon">C</span>
                                        <span class="sidebar-normal">Modifier mail prédéfini</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav">
                    <li {% if '/person/legal' in app.request.uri or '/person/natural' in app.request.uri or '/core/person/search' in app.request.uri %}class="active"{% endif %}>
                        <a data-toggle="collapse" href="#personlegal"
                           aria-expanded="{% if '/person/legal' in app.request.uri or '/person/natural' in app.request.uri %}true{% endif %}">
                            <i class="tim-icons icon-multiple-11" title="Clients"></i>
                            <p>Clients
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse {% if '/person/legal' in app.request.uri or '/person/natural' in app.request.uri or '/core/person/search' in app.request.uri  %}show{% endif %}"
                             id="personlegal">
                            <ul class="nav">
                                <li {% if app.request.uri == url('core_person_legal_new') %}class="active"{% endif %}
                                    data-controller="Core\PersonLegalController\new">
                                    <a href="{{ url('core_person_legal_new') }}">
                                        <span class="sidebar-mini-icon">V</span>
                                        <span class="sidebar-normal">Nouvel établissement</span>
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('core_person_natural_new') %}class="active"{% endif %}
                                    data-controller="Core\PersonNaturalController\new">
                                    <a href="{{ url('core_person_natural_new') }}">
                                        <span class="sidebar-mini-icon">V</span>
                                        <span class="sidebar-normal">Nouveau client</span>
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('core_search_person') %}class="active"{% endif %}
                                    data-controller="Core\SearchPersonController\index">
                                    <a href="{{ url('core_search_person') }}">
                                        <span class="sidebar-mini-icon">V</span>
                                        <span class="sidebar-normal">Rechercher un client</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav">
                    <li {% if '/offer' in app.request.uri %}class="active"{% endif %}>
                        <a data-toggle="collapse" href="#offer"
                           aria-expanded="{% if '/offer' in app.request.uri %}true{% endif %}">
                            <i class="fas fa-user-md" title="Offres"></i>
                            <p>Offre
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse {% if '/offer' in app.request.uri %}show{% endif %}"
                             id="offer">
                            <ul class="nav">
                                <li {% if app.request.uri == url('offer_offer_index') %}class="active"{% endif %}
                                    data-controller="Offer\OfferController\index">
                                    <a href="{{ url('offer_offer_index') }}">
                                        <span class="sidebar-mini-icon">V</span>
                                        <span class="sidebar-normal">Visualisation des offres</span>
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('search_offer_index') %}class="active"{% endif %}
                                    data-controller="Offer\OfferController\index">
                                    <a href="{{ url('search_offer_index') }}">
                                        <span class="sidebar-mini-icon">V</span>
                                        <span class="sidebar-normal">Recherche d'offres</span>
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('offer_canvas_index') %}class="active"{% endif %}
                                    data-controller="Offer\CanvasController\index">
                                    <a href="{{ url('offer_canvas_index') }}">
                                        <span class="sidebar-mini-icon">V</span>
                                        <span class="sidebar-normal">Visualisation des canevas</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
    <div class="main-panel">
        {% block nav %} <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize d-inline">
                            <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip"
                                    data-original-title="Menu On/Off" data-placement="right"
                                    data-controller="Utils\FrontController\toggleSidebar">
                                <i class="fas fa-align-center visible-on-sidebar-regular"></i>
                                <i class="fas fa-list visible-on-sidebar-mini"></i>
                            </button>
                        </div>
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" data-controller="Core\MainController\homepage"
                           href="{{ url('homepage') }}">Tableau de bord</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <form id="quick-search-person-form" action="{{ path("quick_search_person_id") }}"
                                      method="POST">
                                    <input id="quick-search-person-input" type="number" required minlength="1"
                                           class="form-control" placeholder="Recherche rapide de client par ID">
                                </form>
                            </li>
                            <li>
                                <div id="fixed-plugin-navbar" class="fixed-plugin">
                                    <div class="dropdown show-dropdown">
                                        <a href="#" data-toggle="dropdown">
                                            <i class="fa fa-cog btn-link"> </i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="header-title">Options de personnalisation</li>
                                            <li class="adjustments-line">
                                                <a href="javascript:void(0)" class="switch-trigger background-color"
                                                   data-controller="Utils\FrontController\changeMenuColor">
                                                    <div class="badge-colors text-center">
                                                    <span class="badge filter badge-primary"
                                                          data-color="primary"></span>
                                                        <span class="badge filter badge-info" data-color="blue"></span>
                                                        <span class="badge filter badge-success"
                                                              data-color="green"></span>
                                                        <span class="badge filter badge-warning"
                                                              data-color="orange"></span>
                                                        <span class="badge filter badge-danger" data-color="red"></span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </a>
                                                <div id="switch-bg" class="togglebutton switch-change-color mt-3"
                                                     data-controller="Utils\FrontController\toggleBackground">
                                                    <span class="label-switch">MODE NUIT</span>
                                                    <input checked class="bootstrap-switch" data-off-label=""
                                                           data-on-label=""
                                                           name="checkbox"
                                                           type="checkbox"/>
                                                    <span class="label-switch label-right">MODE JOUR</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="custom-search-bar">
                                <a class="nav-link" href="{{ url('core_search_person') }}" title="Moteur de recherche">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                            {# /!\ NE PAS SUPPRIMER : PEUT ETRE UTILE PLUS TARD /!\ #}
                            <!--<li class="search-bar input-group">
                                <button class="btn btn-link" id="search-button" data-toggle="modal"
                                        data-target="#searchModal"><i class="fas fa-search"></i>
                                    <span class="d-lg-none d-md-block">Rechercher</span>
                                </button>
                            </li>-->
                            <li class="dropdown nav-item dropdown-notification">
                                <a class="dropdown-toggle nav-link "
                                   data-toggle="dropdown">
                                    <div id="notifications-count"
                                         data-count="{{ mgilet_notification_unseen_count(app.user) }}"
                                         class="notification-custom {% if mgilet_notification_unseen_count(app.user) == 0 %}d-none{% else %}d-lg-block d-xl-block{% endif %} ">{{ mgilet_notification_unseen_count(app.user) }}</div>
                                    <i class="fas fa-bell"></i>
                                    <p class="d-lg-none">
                                        Notifications
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                                    {{ mgilet_notification_render(app.user,{ 'template': 'BaseTheme/notification.html.twig'})|raw }}
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="photo">
                                        <img src="{{ asset('bootstrap/img/mike.jpg') }}" alt="Profile Photo">
                                    </div>
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                    <p class="d-lg-none">
                                        Moi
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li class="nav-link">
                                        <a href="{{ url('staff_edit',{"id":app.user.id}) }}"
                                           class="nav-item dropdown-item">Profile</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="javascript:void(0)" class="nav-item dropdown-item">Paramètres</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-link">
                                        <a href="{{ url('app_logout') }}"
                                           class="nav-item dropdown-item">Déconnexion</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog"
             aria-labelledby="searchModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Rechercher"/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="div-alert-success d-none">
                    {{ msg }}
                </div>
            {% endfor %}
            {% for msg in app.session.flashBag.get('error') %}
                <div class="div-alert-error d-none">
                    {{ msg }}
                </div>
            {% endfor %}
            {% for msg in app.session.flashBag.get('warning') %}
                <div class="div-alert-warning d-none">
                    {{ msg }}
                </div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        </div>
        <!-- End Navbar -->
        {% block design %}
            <div class="tools-plugin {% if isCFML is defined and isCFML %}tools-cfml tools-cfml-div {% endif %}">
                {% block tools %}
                {% endblock %}
            </div>
        {% endblock %}
        <footer class="footer">
        </footer>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/core/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/core/popper.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/plugins/moment.min.js') }}"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{{ asset('bootstrap/js/plugins/bootstrap-switch.js') }}"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="{{ asset('bootstrap/js/plugins/sweetalert2.min.js') }}"></script>
    <!--  Plugin for Sorting Tables -->
    <script src="{{ asset('bootstrap/js/plugins/jquery.tablesorter.js') }}"></script>
    <!-- Forms Validations Plugin -->
    <script src="{{ asset('bootstrap/js/plugins/jquery.validate.min.js') }}"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="{{ asset('bootstrap/js/plugins/jquery.bootstrap-wizard.js') }}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{{ asset('bootstrap/js/plugins/bootstrap-selectpicker.js') }}"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="{{ asset('bootstrap/js/plugins/bootstrap-datetimepicker.js') }}"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="{{ asset('bootstrap/js/plugins/jquery.dataTables.min.js') }}"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="{{ asset('bootstrap/js/plugins/bootstrap-tagsinput.js') }}"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{{ asset('bootstrap/js/plugins/jasny-bootstrap.min.js') }}"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="{{ asset('bootstrap/js/plugins/jquery-jvectormap.js') }}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{{ asset('bootstrap/js/plugins/nouislider.min.js') }}"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag.
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    -->
    <!-- Chart JS -->
    <script src="{{ asset('bootstrap/js/plugins/chartjs.min.js') }}"></script>
    <!--  Notifications Plugin    -->
    <script src="{{ asset('bootstrap/js/plugins/bootstrap-notify.js') }}"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ asset('bootstrap/js/black-dashboard.js') }}"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="{{ asset('bootstrap/demo/demo.js') }}"></script>
    <script src="{{ asset('plugins/moment.french.js') }}"></script>
    {{ encore_entry_script_tags('customContent') }}
    <script>
        let dateTimePickerConfig = {
            locale: 'fr',
            icons: {
                time: "tim-icons icon-watch-time",
                date: "tim-icons icon-calendar-60",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'tim-icons icon-minimal-left',
                next: 'tim-icons icon-minimal-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        };

        let sidebar = $('.sidebar');
        let navbar = $('.navbar');
        let main_panel = $('.main-panel');
        let body = $('body');
        let full_page = $('.full-page');

        let sidebar_responsive = $('body > .navbar-collapse');

        let switch_bg = $('.bootstrap-switch-label');
        let badge_colors = {
            'primary': 'primary',
            'red': 'danger',
            'blue': 'info',
            'orange': 'warning',
            'green': 'success'
        };

        let sidebar_mini_active = "{{ app.session.get('mini_menu') }}";
        let white_color = {{ app.session.get('white_color')|json_encode() }};
        if (white_color === null) {
            white_color = true;
        }
        let switch_input = !white_color;

        let roles;
        let permissions = body.data('permissions-file');

        let window_width = $(window).width();

        let fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
        setUpMenuColor("{{ app.session.get('color') }}");
        $(document).ready(function () {
            setUpTooltips();

            if (!white_color) {
                $('.switch-change-color input').click();
                $('.bootstrap-switch-animate').click();
            }

            $(document).on('click', ['.btn-next', '.btn-previous'], function () {
                setUpMenuColor($('.badge.filter.active').data('color'));
            });

            setUpBackground();
            setUpMenuColor("{{ app.session.get('color') }}");

            $('.nav-pills').children('.nav-item').children('.nav-link').click(function () {
                $(this).parent().siblings().children('.nav-link').removeClass('bg-primary');
            });

            let myswal = "{{ app.session.get('swal')|json_encode() }}";
            let json_parse = JSON.parse(myswal.replace(/&quot;/g, '"'));
            if (json_parse != null) {
                swal(json_parse.title, json_parse.msg, json_parse.type).then({% set temp = app.session.remove('swal') %})
            }

            $('#fixed-plugin-navbar a').on('click', function (event) {
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('#quick-search-person-form').submit(function (event) {
                event.preventDefault();
                showWaitingSpinner();
                let requestId = $("#quick-search-person-input").val();
                $.ajax({
                    method: 'POST',
                    async: true,
                    data: {id: requestId},
                    url: $(this).attr('action'),
                    success: function (data) {
                        if (data.success !== undefined && data.success === false) {
                            hideWaitingSpinner();
                            swal({title: data.message, type: 'warning'});
                        } else {
                            if (data.redirectUrl === undefined) {
                                hideWaitingSpinner();
                                swal({title: 'Un problème est survenu dans la génération de l\'URL', type: 'warning'});
                            } else {
                                window.location = data.redirectUrl;
                            }
                        }
                    },
                    error: function (error) {
                        console.error(error);
                        hideWaitingSpinner();
                        swal({title: 'Erreur', type: 'error', text: error.message});
                    }
                });
            });

            if ($('.div-alert-success').exists()) {
                $('.div-alert-success').each(function () {
                    swal({
                        title: 'Succès',
                        type: 'success',
                        text: $(this).text()
                    })
                });
            }
            if ($('.div-alert-error').exists()) {
                $('.div-alert-error').each(function () {
                    swal({
                        title: 'Erreur',
                        type: 'error',
                        text: $(this).text()
                    })
                });
            }
            if ($('.div-alert-warning').exists()) {
                $('.div-alert-warning').each(function () {
                    swal({
                        title: 'Attention',
                        type: 'warning',
                        text: $(this).text()
                    })
                });
            }

            $('#fixed-plugin-navbar .background-color span').click(function () {
                $(this).siblings().removeClass('active');
                let new_color = $(this).data('color');
                setUpMenuColor(new_color);

                let url = '{{ path("change_menu_color", {'color': 'var_color'}) }}';
                url = url.replace("var_color", new_color);
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    async: true
                });
            });

            $('.accordion-link-etab').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
                window.location = $(this).attr('data-href');
            });

            /* Recherche Multi Critères*/
            $(".form-search-btn").click(function () {
                if (!$(this).hasClass('active')) {
                    let older_parent = $(this).parent().parent();
                    $('.form-search-btn').removeClass('active');
                    older_parent.children("input[type='hidden']").val("false");

                    let button_type = $(this).attr("data-type");
                    switch (button_type) {
                        case 'natural':
                            $("#search_person_lastName").attr('placeholder', 'Nom');
                            $("#form-search-lastName small p").text('Nom');
                            $("#form-search-lastName").show();
                            $("#form-search-firstName").show();
                            $("#search_person_corporateName").val("");
                            $("#form-search-corporateName").hide();
                            break;
                        case 'legal':
                            $("#search_person_firstName").val("");
                            $("#search_person_lastName").val("");
                            $("#form-search-lastName").hide();
                            $("#form-search-firstName").hide();
                            $("#form-search-corporateName").show();
                            break;
                        default:
                            $("#search_person_corporateName").val("");
                            $("#form-search-corporateName").hide();
                            $("#search_person_lastName").attr('placeholder', 'Nom / Raison Sociale');
                            $("#form-search-lastName small p").text('Nom / Raison Sociale');
                            $("#form-search-firstName").show();
                            $("#form-search-lastName").show();
                            break;
                    }
                    older_parent.children("input[name='option_" + button_type + "']").val("true");
                    $(this).addClass("active");
                }
            });
            /*******************************/

            $("#toolbox-person-infos .dropdown .dropdown-menu").click(function (event) {
                event.preventDefault();
                event.stopPropagation();
            });

            $("#dropdown-link-person").click(function () {
                window.location = $(this).attr('href');
            });

            $('.minimize-sidebar').click(function () {
                setUpMiniMenu();

                $.ajax({
                    url: '{{ path('toggle_sidebar') }}',
                    type: "GET",
                    dataType: "json",
                    async: true
                });

                // we simulate the window Resize so the charts will get updated in realtime.
                let simulateWindowResize = setInterval(function () {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function () {
                    clearInterval(simulateWindowResize);
                }, 1000);
            });

            $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {

                $.ajax({
                    url: '{{ path('toggle_background') }}',
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        white_color = !data.whiteColor;
                        $('.switch-change-color input').prop('checked', !white_color);
                        setUpBackground();
                    }
                });
            });

            /* Notifications */
            $('.notification-link').click(function () {
                document.location.href = $(this).attr("data-href");
            });
            /******************/

            $('.light-badge').click(function () {
                $('body').addClass('white-content');
            });

            $('.dark-badge').click(function () {
                $('body').removeClass('white-content');
            });

            if ($('#datatable').length > 0) {
                $('#datatable').DataTable({
                    "pagingType": "full_numbers",
                    language: {
                        "url": "{{ asset('plugins/datatable.french.json') }}"
                    }
                });
            }

            $('.datatables-matching').each(function () {
                $(this).DataTable({
                    "pagingType": "full_numbers",
                    language: {
                        "url": "{{ asset('plugins/datatable.french.json') }}"
                    }
                });
            });

            /* Form person natural jobname on change */
            let jobNameChangePersonNatural = function () {
                let select_jobname = $("#person_natural_jobName");
                let id_jobname = select_jobname.val();
                if (id_jobname !== 0 && id_jobname != null) {
                    $.ajax({
                        type: "POST",
                        url: "/core/person/natural/ajax/jobname/" + id_jobname,
                        success: function (data) {
                            if (data) {
                                $("#div-form-create-person-natural-quarantaine").append($(".person-natural-step-search-group"));
                                $("#form-person-natural-navigation-ul").children().css({"width": '33%'});
                            } else {
                                $("#create-person-nav-item-first-child").after($("#person-natural-step-search-group-nav"));
                                $('.create-person-content-item-first-child').after($(".person-natural-step-search-group-content"));
                                $("#form-person-natural-navigation-ul").children().css({"width": '25%'});
                            }
                            $("#form-person-natural .progress-bar").css({"width": $("#form-person-natural-navigation-ul").children().width() / 2});
                        }
                    });
                }
            };

            //lors de l'edit on lance une première fois la fonction
            if ($("#form-person-natural-edit").exists()) {
                jobNameChangePersonNatural();
            }
            $("#person_natural_jobName").change(jobNameChangePersonNatural);

            /***********/

            $('#mail-fields-list input.bootstrap-switch').each(toggleDefaultMail);
            $('.datetimepicker').datetimepicker(dateTimePickerConfig);
            $(".select-displayer").each(function (index, value) {
                bindSelectModalDisplay(value)
            });

            $('.add-another-collection-widget').click(function (e) {
                let list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                let counter = list.data('widget-counter') | list.children().length;

                // grab the prototype template
                let newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                let newElem = jQuery(list.attr('data-widget')).html(newWidget);

                newElem.appendTo(list);
                addElemFormDeleteLink(newElem);
                addBootstrapAfterJSInjection(newElem);
            });

            $('#add-another-mail-address').on('click', event => {
                let target = $($(event.target).attr('data-list-selector'));
                if (target.children().length === 1) {
                    $('input[id$=_isDefault]').click();
                }
            });

            $('.button-displayer').each(function (index, elem) {
                $(elem).bind('click', function (event) {
                    $(this).next('.d-none').find('.display-elem-content').append($(this).next('.d-none').data('display-elem'));
                    addBootstrapAfterJSInjection($(this).next('.d-none').find('.display-elem-content'));
                    $(this).next('.d-none').removeClass('d-none');
                    $(this).addClass('d-none');
                    event.preventDefault();
                })
            });

            $('.button-hidden').each(function (index, elem) {
                $(elem).bind('click', function (event) {
                    $(this).closest('.row').prev('.button-displayer').removeClass('d-none');
                    $(this).closest('.row').addClass('d-none');
                    $(this).closest('.row').find('.display-elem-content').empty();
                    event.preventDefault();
                })
            });

            $("[data-controller]").each(function () {
                let controller = $(this).data("controller");
                let isGranted = false;
                if (roles !== undefined) {
                    for (let i = 0; i < roles.length; i++) {
                        if (permissions[roles[i]] !== undefined && $.inArray(controller, permissions[roles[i]]) !== -1) {
                            isGranted = true;
                        }
                    }
                }
                if (isGranted) {
                    $(this).show();
                }
            });

            $('.form-tooltip').hover(function () {
                let tiptext = $(this).attr("data-tiptext");
                $(this).parent().append("<span id='tiptext' class='tiptext'>" + tiptext + "</span>");
                let height_tiptext = $("#tiptext").height();
                $('#tiptext').css({'transform': 'translateY(-' + height_tiptext / 2 + 'px)'});
            }, function () {
                $('#tiptext').remove();
            });

            $('.matching-see-substitution').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
                window.open($(this).attr('data-href'), '_blank');
            });

            /*CONTACT Institution form*/
            $('#contact_service_person_origin').selectpicker();
            /********/

            displayElementIsGranted();

            // Initialise the wizard
            demo.initNowUiWizard();
            //ajoute un effet de fade au .card.card-wizard
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);
        });

        function setUpTooltips() {
            $('[data-toggle="tooltip"]').tooltip();
        }

        function addElemFormDeleteLink(elemFormLi) {
            elemFormLi.find(".delete-btn").on('click', function (e) {
                elemFormLi.remove();
            });

        }

        function bindBootstrapInputFocus(element) {
            $(element).on("focus", function () {
                $(element).parent('.input-group').addClass("input-group-focus");
            }).on("blur", function () {
                $(element).parent('.input-group').removeClass("input-group-focus");
            });
        }

        function bindSelectModalDisplay(element) {
            let input = $(element).next().find('textarea');
            if ($(element).find('select').val() === '') {
                input.addClass('d-none');
            } else {
                changeInputWithSelectedOption(element, input)
            }

            $(element).find('select').change(function () {
                changeInputWithSelectedOption(element, input)
            })
        }

        // Input correspond au champ textarea généré par Symfony
        // Le changer est l'input généré pour remplacer le textarea au moment de l'affichage
        function changeInputWithSelectedOption(element, input) {
            // data correspond a l'objet créer dans CriterionValue/_form.html.twig
            let data = $.parseJSON($(element).data('input-type-' + $(element).find('select').val()));
            input.removeClass('d-none');
            input.parent().find('#changer').closest(".bootstrap-select").remove();
            input.parent().find('#changer').parent().closest(".bootstrap-switch").remove();
            input.parent().find('#changer').remove();
            if (data.type === 'select' || data.type === 'specialty') {
                input.addClass('d-none');
                input.parent().append('<select class="' + data.class + '" id="changer"></select>');
                let select = input.parent().find('#changer');
                $.each(data.value, function (index, item) {
                    var selected = '';
                    value = item;
                    if (index === input.val() || item === input.val()) {
                        selected = 'selected';
                    }
                    if (data.type === 'specialty') {
                        value = index;
                    }
                    select.append('<option ' + selected + ' value=' + value + '>' + item + '</option>')
                });
                input.val(select.children("option:selected").val());
                select.change(function () {
                    input.val(($(this).children("option:selected").val()))
                });
                select.selectpicker()
            } else if (data.type === 'checkbox') {
                input.addClass('d-none');
                input.parent().append('<input type="checkbox" class="' + data.class + '" id="changer">');
                input.removeClass("bootstrap-switch");
                input.val(1);
                let changer = input.parent().find('#changer');
                changer.bootstrapSwitch();
                changer.bootstrapSwitch('state', input.val());
                changer.on('switchChange.bootstrapSwitch', function (event, state) {
                    input.val(state === false ? 0 : 1)
                });
            } else if (data.type === 'number') {
                input.addClass('d-none');
                input.parent().append('<input type="number" value="' + input.val() + '" class="' + data.class + '" id="changer">');
                let changer = input.parent().find('#changer');
                changer.change(function () {
                    input.val($(this).val());
                });
            } else if (data.type === 'date') {
                input.addClass('d-none');
                if (!input.val().match("/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}.*/")) {
                    input.val((new Date($.now())).toLocaleDateString())
                }
                input.parent().append('<input type="text" value="' + input.val() + '" class="' + data.class + '" id="changer">');
                let changer = input.parent().find('#changer');
                changer.datetimepicker(dateTimePickerConfig);
                changer.on('dp.change', function (e) {
                    input.val($(this).val());
                });
            } else if (data.type === 'file') {
                let pathname = (document.location.pathname).split('/');
                input.addClass('d-none');
                let image = "/bootstrap/img/image_placeholder.jpg";
                if (input.val().match(/^[a-zA-Z0-9]+\-[0-9]+\.[a-zA-Z]{3,4}$/)) {
                    image = '/images/offer/' + input.val()
                }
                input.parent().append('<div class="fileinput fileinput-new text-center" data-provides="fileinput" id="changer"> <div class="fileinput-new thumbnail"> <img src="' + image + '" alt="..."> </div> <div class="fileinput-preview fileinput-exists thumbnail"></div> <div> <span class="btn btn-rose btn-round btn-file"> <span class="fileinput-new">Choisissez une image</span> <span class="fileinput-exists">Modifier</span> <input id="input-changer" name="input-file" type="file" name="..." /> </span> </div> </div>');
                let changer = input.parent().find('#input-changer');
                changer.change(function () {
                    input.val($(this).val());
                    form_data = new FormData();
                    if ($(this).prop('files').exists()) {
                        file = $(this).prop('files')[0];
                        form_data.append("file", file);
                    }

                    let offer_id = 0;
                    if (pathname[pathname.length - 1] === 'edit') {
                        offer_id = pathname[pathname.length - 2];
                    }
                    let url = '/file/offer/import/' + offer_id;
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: form_data,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            input.val(data);
                        },
                        error: function () {
                            input.parent().find('img').attr("src", '/bootstrap/img/error.png');
                            input.val("");
                        },
                    });
                });
            } else {
                input.attr('class', data.class);
                input.attr('type', data.type);
                if (input.val() === '') {
                    input.attr('value', data.value);
                }
            }
        }

        function changeColor(elements, new_color, type = '') {
            elements.each(function () {
                changeElementColor($(this), new_color, type);
            });
        }

        function changeElementColor(element, new_color, type) {
            if (element.attr('id') !== 'delete-btn' && !$(element).hasClass('delete-btn') && element.attr('id') !== 'cancel'
                && !element.hasClass('timeline-icon') && !element.hasClass('swal2-cancel') && element.html() !== 'Annuler') {

                element.removeClass(type + 'primary');
                element.removeClass(type + 'success');
                element.removeClass(type + 'info');
                element.removeClass(type + 'danger');
                element.removeClass(type + 'warning');
                element.addClass(type + badge_colors[new_color]);
            }
        }

        function setUpBackground() {

            if (white_color == true) {
                body.removeClass('change-background');
                body.addClass('white-content');
                $('#datatable_person_natural_info').addClass('c-light-black')
                $('span.bootstrap-switch-label').removeClass('switch-off');
                $('.list-mail').addClass('list-mail-color');
            } else {
                body.addClass('change-background');
                body.removeClass('white-content');
                $('#datatable_person_natural_info').removeClass('c-light-black')
                $('span.bootstrap-switch-label').addClass('switch-off');
                $('.list-mail').removeClass('list-mail-color');
            }
        }

        function setUpMenuColor(new_color) {
            //guardian
            if (new_color == '') {
                new_color = 'primary';
            }
            let simple_links = $('a.person-list');
            let links = $('a.btn');
            let fa_icons = $('.main-panel i.fas');
            let icons = $('i');
            let info_icon = $('.info-icon');
            let input_icons = $('.main-panel .input-group-text i');
            let input_btn = $('input.btn-next');
            let button = $('button.btn');
            let dropdown = $('.dropdown-toggle.nav-link');
            let photo = $('.photo');
            let pagination_links = $('.paginate_button.page-item a.page-link');
            let nav_link_checked = $('a.nav-link.checked');
            let nav_link_active = $('a.nav-link.active');
            let progress_bar = $('.progress-bar');
            let chevrons = $('i.fa');
            let tim_icon = $('i.tim-icons');
            let input_submit = $('input[type=submit]');
            let table_links = $('tbody tr td a');

            changeColor(links, new_color, 'btn-');
            changeColor(button, new_color, 'btn-');
            changeColor(input_btn, new_color, 'btn-');
            changeColor(input_submit, new_color, 'btn-');

            changeColor(table_links, new_color);
            changeColor(simple_links, new_color);
            changeColor(fa_icons, new_color);
            changeColor(input_icons, new_color);
            changeColor(chevrons, new_color);
            changeColor(tim_icon, new_color);
            changeColor(info_icon, new_color, 'icon-');
            changeColor(dropdown, new_color);
            changeColor(icons, new_color);

            changeColor(photo, new_color, 'border-');
            changeColor(pagination_links, new_color);
            changeColor(nav_link_checked, new_color, 'bg-');
            changeColor(nav_link_active, new_color, 'bg-');
            changeColor(progress_bar, new_color, 'bg-');

            $('span[data-color=' + new_color + ']').addClass('active');
            if (sidebar.length !== 0) {
                sidebar.attr('data', new_color);
            }

            if (main_panel.length !== 0) {
                main_panel.attr('data', new_color);
            }

            if (full_page.length !== 0) {
                full_page.attr('filter-color', new_color);
            }
            if (sidebar_responsive.length !== 0) {
                sidebar_responsive.attr('data', new_color);
            }
            $('.loader').css('border-top', '5px solid ' + new_color);
        }

        function setUpMiniMenu() {
            if (sidebar_mini_active === true) {
                $('body').removeClass('sidebar-mini');
                sidebar_mini_active = false;
            } else {
                $('body').addClass('sidebar-mini');
                sidebar_mini_active = true;
            }
        }

        function addBootstrapAfterJSInjection(elem) {
            elem.find('input.bootstrap-switch').each(toggleDefaultMail);
            elem.find('input.bootstrap-switch').bootstrapSwitch();
            elem.find('select.selectpicker').selectpicker();
            elem.find('.datetimepicker').datetimepicker(dateTimePickerConfig);
            elem.find(".form-control").each(function (index, value) {
                bindBootstrapInputFocus(value);
            });
            elem.find(".select-displayer").each(function (index, value) {
                bindSelectModalDisplay(value)
            });
        }

        function popupOnHtmlResponse(self, url, type = "GET") {
            showWaitingSpinner();
            $.ajax({
                url: url,
                type: type,
                dataType: "html",
                async: true,
                success: function (data) {
                    swal({
                        title: $(self).attr('title'),
                        html: data,
                        showConfirmButton: false,
                        showCancelButton: true,
                        cancelButtonText: "Annuler",
                        onOpen: () => {
                            const content = swal.getContent();
                            $(content).find('.form-control').each(function (index, value) {
                                bindBootstrapInputFocus(value);
                            });
                            $(content).parent().addClass("overflow-visible");
                            $(content).find('input.bootstrap-switch').bootstrapSwitch();
                            $(content).find('select.selectpicker').selectpicker({style: 'c-light-black'});
                            $(content).find('input.datetimepicker').datetimepicker(dateTimePickerConfig);
                            var firstInput = $(content).find('.form-control').first();
                            var originalValue = firstInput.val();
                            firstInput.val('');
                            firstInput.focus().val(originalValue);
                        }
                    });

                    try { //on check si la réponse est du JSON
                        const jsonResponse = JSON.parse(data);
                        if (jsonResponse.success === false) {
                            swal('Erreur', jsonResponse.message ?? '', 'error');
                        }
                    } catch (err) {
                        swal({
                            title: $(self).attr('title'),
                            html: data,
                            showConfirmButton: false,
                            showCancelButton: true,
                            cancelButtonText: "Annuler",
                            onOpen: () => {
                                const content = swal.getContent();
                                $(content).find('.form-control').each(function (index, value) {
                                    bindBootstrapInputFocus(value);
                                });
                                $(content).parent().addClass("overflow-visible");
                                $(content).find('input.bootstrap-switch').bootstrapSwitch();
                                $(content).find('select.selectpicker').selectpicker();
                                $(content).find('input.datetimepicker').datetimepicker(dateTimePickerConfig);
                                var firstInput = $(content).find('.form-control').first();
                                var originalValue = firstInput.val();
                                firstInput.val('');
                                firstInput.focus().val(originalValue);
                            }
                        });
                    }
                },
                error: function () {
                    swal({
                        type: 'error',
                        title: 'Erreur',
                        text: 'Une erreur est survenue. Réessayez'
                    });
                },
                complete: hideWaitingSpinner
            });
        }

        function popup(self, url) {
            html = $(self).data('form');
            let select = $(self).closest('select');
            if (html === undefined) {
                select.append('<option ' + selected + ' value=' + value + '>' + item + '</option>');
                input.val(select.children("option:selected").val());
                select.change(function () {
                    input.val(($(this).children("option:selected").val()))
                });
                select.selectpicker();
            } else if (data.type === 'checkbox') {
                input.addClass('d-none');
                input.parent().append('<input type="checkbox" class="' + data.class + '" id="changer">');
                input.removeClass("bootstrap-switch");
                input.val(1);
                let changer = input.parent().find('#changer');
                changer.bootstrapSwitch();
                changer.bootstrapSwitch('state', input.val());
                changer.on('switchChange.bootstrapSwitch', function (event, state) {
                    input.val(state === false ? 0 : 1)
                });
            } else if (data.type === 'number') {
                input.addClass('d-none');
                input.parent().append('<input type="number" value="' + input.val() + '" class="' + data.class + '" id="changer">');
                let changer = input.parent().find('#changer');
                changer.change(function () {
                    input.val($(this).val());
                });
            } else if (data.type === 'date') {
                input.addClass('d-none');
                if (!input.val().match("/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}.*/")) {
                    input.val((new Date($.now())).toLocaleDateString())
                }
                input.parent().append('<input type="text" value="' + input.val() + '" class="' + data.class + '" id="changer">');
                let changer = input.parent().find('#changer');
                changer.datetimepicker(dateTimePickerConfig);
                changer.on('dp.change', function (e) {
                    input.val($(this).val());
                });
            } else if (data.type === 'file') {
                let pathname = (document.location.pathname).split('/');
                input.addClass('d-none');
                let image = "/bootstrap/img/image_placeholder.jpg";
                if (input.val().match(/^[a-zA-Z0-9]+\-[0-9]+\.[a-zA-Z]{3,4}$/)) {
                    image = '/images/offer/' + input.val()
                }
                input.parent().append('<div class="fileinput fileinput-new text-center" data-provides="fileinput" id="changer"> <div class="fileinput-new thumbnail"> <img src="' + image + '" alt="..."> </div> <div class="fileinput-preview fileinput-exists thumbnail"></div> <div> <span class="btn btn-rose btn-round btn-file"> <span class="fileinput-new">Choisissez une image</span> <span class="fileinput-exists">Modifier</span> <input id="input-changer" name="input-file" type="file" name="..." /> </span> </div> </div>');
                let changer = input.parent().find('#input-changer');
                changer.change(function () {
                    input.val($(this).val());
                    form_data = new FormData();
                    if ($(this).prop('files').exists()) {
                        file = $(this).prop('files')[0];
                        form_data.append("file", file);
                    }

                    let offer_id = 0;
                    if (pathname[pathname.length - 1] === 'edit') {
                        offer_id = pathname[pathname.length - 2];
                    }
                    let url = '/file/offer/import/' + offer_id;

                    $.ajax({
                        url: url,
                        type: "GET",
                        dataType: "html",
                        async: false,
                        success: function (data) {
                            html = data;
                            input.val(data);
                        },
                        error: function () {
                            input.parent().find('img').attr("src", '/bootstrap/img/error.png');
                            input.val("");
                        },
                    });
                });
            } else {
                input.attr('class', data.class);
                input.attr('type', data.type);
                if (input.val() === '') {
                    input.attr('value', data.value);
                }

                if (input.hasClass('bootstrap-switch')) {
                    if (input.val() === '1' || ((input.val() === '0' && data.value === '1'))) {
                        input.attr('checked', 'checked');
                    }
                    input.parent().change(function () {
                        if ($(this).find('input').is(':checked')) {
                            input.attr('value', '1');
                        } else {
                            input.attr('value', '0');
                        }
                    });
                }
                swal({
                    title: $(self).attr('title'),
                    html: html,
                    showConfirmButton: false,
                    onOpen: () => {
                        const content = swal.getContent();
                        $(content).find('.form-control').each(function (index, value) {
                            bindBootstrapInputFocus(value);
                        });
                        $(content).parent().addClass("overflow-visible");
                        $(content).find('input.bootstrap-switch').bootstrapSwitch();
                        $(content).find('select.selectpicker').selectpicker();
                        $(content).find('input.datetimepicker').datetimepicker(dateTimePickerConfig);
                        let firstInput = $(content).find('.form-control').first();
                        let originalValue = firstInput.val();
                        firstInput.val('');
                        firstInput.focus().val(originalValue);
                    }

                });
            }
        }

        function popupFooter(self) {
            swal({
                title: $(self).attr('title'),
                html: html,
                showConfirmButton: false,
                onOpen: () => {
                    const content = swal.getContent();
                    $(content).find('.form-control').each(function (index, value) {
                        bindBootstrapInputFocus(value);
                    });
                    $(content).find('input.bootstrap-switch').bootstrapSwitch();
                    $(content).find('select.selectpicker').selectpicker();
                    $('.swal2-modal').addClass('swal-footer');
                    let firstInput = $(content).find('.form-control').first();
                    let originalValue = firstInput.val();
                    firstInput.val('');
                    firstInput.focus().val(originalValue);
                }
            });
        }

        function popupContactService(self, url, type = "GET") {
            showWaitingSpinner();
            $.ajax({
                url: url,
                type: type,
                dataType: "html",
                async: true,
                success: function (data) {
                    swal({
                        title: 'Nouveau Service',
                        html: data,
                        showConfirmButton: false,
                        showCancelButton: true,
                        cancelButtonText: "Annuler",
                        onOpen: () => {
                            const content = swal.getContent();
                            $(content).find('.form-control').each(function (index, value) {
                                bindBootstrapInputFocus(value);
                            });
                            $(content).parent().addClass("overflow-visible");
                            var firstInput = $(content).find('.form-control').first();
                            var originalValue = firstInput.val();
                            firstInput.val('');
                            firstInput.focus().val(originalValue);
                            $('#form-contact-service').submit(handleContactServiceSubmit.bind(swal));
                        }
                    });
                    hideWaitingSpinner();
                },
                error: function (error) {
                    console.error(error);
                    swal({
                        type: 'error',
                        title: 'Erreur',
                        text: 'Une erreur est survenue. Réessayez'
                    });
                    hideWaitingSpinner();
                },
            });
        }

        function handleContactServiceSubmit(oldSwal) {
            let btn_submit = $('#btn-contact-service-submit');
            let form = $('#form-contact-service');
            let old_btn_text = btn_submit.val();
            btn_submit.val('Traitement...');
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                dataType: "json",
                async: true,
                data: {
                    label: form.find('input[name=label]').val()
                },
                success: function (data) {
                    if (data.success !== true) {
                        swal({
                            type: 'error',
                            title: 'Erreur',
                            text: data.message
                        });
                    } else {
                        btn_submit.val(old_btn_text);
                        let selectpicker_service = $('#contact_institution_service');
                        selectpicker_service.append("<option value=\"" + data.serviceId + "\">" + data.serviceLabel + "</option>");
                        let new_select_picker = selectpicker_service.clone();
                        selectpicker_service.parent().after(new_select_picker);
                        selectpicker_service.parent().remove();
                        new_select_picker.selectpicker();
                        swal({
                            type: 'success',
                            message: 'Service créé',
                            title: 'Succès'
                        })
                    }
                },
                error: function (error) {
                    console.error(error);
                    swal({
                        type: 'error',
                        title: 'Erreur',
                        text: 'Une erreur est survenue. Réessayez'
                    });
                },
            });
            return false;
        }

        function confirmDelete(self, message, fallback, callback = null) {
            swal({
                title: message,
                text: "La suppression est irréversible",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                cancelButtonText: 'Annuler',
                confirmButtonText: 'Oui supprimer',
                buttonsStyling: false
            }).then(function () {
                $.ajax({
                    url: fallback,
                    type: 'DELETE',
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.success === true) {
                            let tr = $(self).closest('tr');
                            if (tr.hasClass('child')) {
                                tr.prev().remove();
                            }
                            tr.remove();
                            if (callback) {
                                location.href = callback;
                            }
                        } else {
                            swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Echec de la suppression'
                            });
                        }
                    }, error: function () {
                        swal({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Echec de la suppression'
                        });
                    }
                });


            }).catch(swal.noop);
        }

        function callControllerWithAjax(fallback) {
            $.ajax({
                url: fallback,
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.success) {
                        swal({
                            type: 'success',
                            title: 'Succès',
                            text: data.message
                        }).then(function () {
                            location.reload();
                        });
                    } else {
                        swal({
                            type: 'error',
                            title: 'Echec',
                            text: data.message
                        });
                    }
                }
            });
        }

        function notificationsCountLoading() {
            $('#notifications-count').text('...');
        }

        function notificationsCountValue(value) {
            let notif_count_element = $('#notifications-count');
            if (value === '0' || value === 0) {
                notif_count_element.removeClass('d-lg-block d-xl-block');
                notif_count_element.addClass('d-none');
            }
            notif_count_element.attr('data-count', value);
            notif_count_element.text(value);
        }

        function markAsSeenNotification(userID, notificationID) {
            notificationsCountLoading();
            $.ajax({
                url: '{{ path('notification_mark_as_seen') }}',
                type: "POST",
                dataType: "json",
                async: true,
                data: "userID=" + userID + "&notificationID=" + notificationID,
                success: function () {
                    let element = $("#notification-" + notificationID + "-user-" + userID + "");
                    let notif_count_element = $("#notifications-count");
                    let notification_count = notif_count_element.attr('data-count');
                    element.children(".the-icon-seen").remove();
                    element.removeClass('notification-content-not-seen bg-gray');
                    element.addClass('notification-content-seen');
                    notificationsCountValue(parseInt(notification_count) - 1);
                }
            });
        }

        function markAllAsSeenNotification(userID) {
            notificationsCountLoading();
            $.ajax({
                url: '{{ path('notification_mark_all_as_seen') }}',
                type: "POST",
                dataType: "json",
                async: true,
                data: "userID=" + userID,
                success: function () {
                    let elements = $(".notification-content");
                    elements.children(".the-icon-seen").remove();
                    elements.removeClass('notification-content-not-seen bg-gray');
                    elements.addClass('notification-content-seen');
                    notificationsCountValue(0);
                }
            });
        }

        function checkInputKey(event) {
            // which == keyCode mais cela depend du navigateur
            let key_code = (event.which) ? event.which : event.keyCode;
            let accept = '0123456789';
            return accept.indexOf(String.fromCharCode(key_code)) >= 0;
        }

        let toggleDefaultMail = function () {
            $(this).on('switchChange.bootstrapSwitch', function (event, state) {
                // Evite une recursivité infini
                if (state === true) {
                    let checkedInput = $(this).attr('id');
                    $('#mail-fields-list input.bootstrap-switch').each(function () {
                        if (checkedInput != $(this).attr('id')) {
                            $(this).bootstrapSwitch('state', false);
                        }
                    });
                }
            });
        };

        function showWaitingSpinner() {
            $('.wrapper').append("<div id='loading-spinner-container' class=\"loading-screen\">" +
                "<div class=\"loader\"></div>" +
                "</div>");
        }

        function hideWaitingSpinner() {
            $("#loading-spinner-container").remove();
        }

        function confirmAction(self, message, fallback, callback = null) {
            swal({
                title: message,
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Confirmer',
                cancelButtonText: 'Annuler',
                buttonsStyling: false
            }).then(function () {
                showWaitingSpinner();
                $.ajax({
                    url: fallback,
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data) {
                        hideWaitingSpinner();
                        if (data.success === true) {
                            if (callback) {
                                location.href = callback;
                            }
                        } else {
                            swal({
                                type: 'error',
                                title: 'Oops...',
                                text: "Echec de l'opération"
                            });
                        }
                    }, error: function () {
                        swal({
                            type: 'error',
                            title: 'Oops...',
                            text: "Echec de l'opération"
                        });
                    }
                });

            }).catch(swal.noop);
        }

        function showNotification(from, align, title, message) {
            $.notify({
                icon: "tim-icons icon-bell-55 text-white",
                message: message,
                title: title,
            }, {
                type: 'warning',
                delay: 0,
                placement: {
                    from: from,
                    align: align
                }
            });
        }

        function saveDataForPerson(element) {
            window.localStorage.clear();
            window.localStorage.setItem('person_lastname', $("#search_person_lastName").val());
            window.localStorage.setItem('person_firstname', $("#search_person_firstName").val());
            window.localStorage.setItem('person_classification', $("#search_person_classification").val());
            window.localStorage.setItem('person_email', $("#search_person_email").val());
            window.localStorage.setItem('person_telephone', $("#search_person_telephone").val());
            window.localStorage.setItem('person_postal_code', $("#search_person_postalCode").val());
            window.localStorage.setItem('person_locality', $("#search_person_locality").val());
            window.localStorage.setItem('person_corporate_name', $("#search_person_corporateName").val());
            window.location.href = $(element).attr("data-redirect");
        }

        function callSelectPicker(element) {
            $(element).selectpicker();
        }

        function refreshSelectPicker(element) {
            $(element).selectpicker('refresh');
        }

        function loadDataForPerson() {

            if (!stringNullOrEmpty(window.localStorage.getItem('person_corporate_name'))) {
                $("#person_legal_corporateName").val(window.localStorage.getItem('person_corporate_name'));
            } else {
                $("#person_legal_corporateName").val(window.localStorage.getItem('person_lastname'));
            }
            if (!stringNullOrEmpty(window.localStorage.getItem('person_lastname'))) {
                $("#person_natural_lastName").val(window.localStorage.getItem('person_lastname'));
            }
            if (!stringNullOrEmpty(window.localStorage.getItem('person_firstname'))) {
                $("#person_natural_firstName").val(window.localStorage.getItem('person_firstname'));
            }

            if (!stringNullOrEmpty(window.localStorage.getItem('person_email'))) {
                $("#add-another-mail-address").click();
                $("[id^=person_][id$=_address]").val(window.localStorage.getItem('person_email'));
            }
            if (!stringNullOrEmpty(window.localStorage.getItem('person_telephone'))) {
                $('#add-another-phone-number').click();
                $("[id^=person_][id$=_number]").val(window.localStorage.getItem('person_telephone'));
            }
            if (!stringNullOrEmpty(window.localStorage.getItem('person_postal_code')) || !stringNullOrEmpty(window.localStorage.getItem('person_locality'))) {
                $("#add-another-postal-address").click();
                if (!stringNullOrEmpty(window.localStorage.getItem('person_postal_code'))) {
                    $("[id^=person_][id$=_postalCode]").val(window.localStorage.getItem('person_postal_code'));
                }
                if (!stringNullOrEmpty(window.localStorage.getItem('person_locality'))) {
                    $("[id^=person_][id$=_locality]").val(window.localStorage.getItem('person_locality'));
                }
            }
            window.localStorage.clear();
        }

        function displayElementIsGranted() {
            let body_data = $('body').data();
            roles = body_data['permissions'].trim();
            roles = roles.replace(/&quot;|\[|\]|\"/g, "").split(',');
            $.ajax({
                    url: body_data['permissionsFile'].trim(),
                    type: "POST",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        permissions = data;
                    }
                }
            );

            $("[data-controller]").each(function () {
                let controller = $(this).data("controller");
                let isGranted = false;
                if (roles !== undefined) {
                    for (let i = 0; i < roles.length; i++) {
                        if (permissions[roles[i]] !== undefined && $.inArray(controller, permissions[roles[i]]) !== -1) {
                            isGranted = true;
                        }
                    }
                }
            });
        }

        let ajax_request_check_mail;

        function checkDuplicateMail(element) {
            if (ajax_request_check_mail && ajax_request_check_mail.readyState !== 4) {
                ajax_request_check_mail.abort();
            }
            if ($(element).val().match(/.{1,}@.{1,}\.[a-zA-Z]{2,}/) != null) {
                ajax_request_check_mail = $.ajax({
                    type: "POST",
                    url: "/core/person/natural/ajax/uniqueness",
                    data: {
                        'id': $('#info-bridge').data('personNaturalId'),
                        'mail': $(element).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.result !== false) {
                            let string = "<div>Cette adresse mail existe déjà pour :</div>";
                            string += "</br><small>";
                            data.result.forEach(function (element) {
                                string += "<div>[" + element.id + "] " + element.lastName + " " + element.firstName + " | " + element.postalCode + ", " + element.city + "</div>";
                            });
                            string += "</small>";
                            confirmStopAndRedirect(string, "/core/person/natural/");
                        }
                    }
                });
            }
        }

        let ajax_request_check_phone;

        function checkDuplicatePhoneNumber(element) {
            if (ajax_request_check_phone && ajax_request_check_phone.readyState !== 4) {
                ajax_request_check_phone.abort();
            }
            if ($(element).val().match(/[0-9]{10,20}/) != null) {
                ajax_request_check_phone = $.ajax({
                    type: "POST",
                    url: "/core/person/natural/ajax/uniqueness",
                    data: {
                        'phone_number': $(element).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.result !== false) {
                            let string = "<div>Ce téléphone existe déjà pour :</div>";
                            string += "</br><small>";
                            data.result.forEach(function (element) {
                                string += "<div>[" + element.id + "] " + element.lastName + " " + element.firstName + " | " + element.postalCode + ", " + element.city + "</div>";
                            });
                            string += "</small>";
                            confirmStopAndRedirect(string, "/core/person/natural/");
                        }
                    }
                });
            }
        }

        function confirmStopAndRedirect(html, redirectUrl) {
            swal({
                title: 'Attention',
                type: 'warning',
                html: html,
                showCancelButton: true,
                confirmButtonText: 'Continuer la saisie',
                cancelButtonText: 'Annuler la saisie'
            }).catch(function (error) {
                if (error === 'cancel') {
                    swal({
                        title: 'Attention',
                        type: 'warning',
                        text: 'Cette action annulera la création de la fiche client. Voulez-vous vraiment arrêter la saisie ?',
                        showCancelButton: true,
                        confirmButtonText: "Oui, j'arrête",
                        cancelButtonText: 'Non, je continue'
                    }).then(function (data) {
                        if (data === true) {
                            window.location = redirectUrl;
                        }
                    })
                }
            });
        }

        function criteriaDependency() {
            let dependency_tab = {};
            $('.has-dependency').each(function () {
                let dependency_value = $(this).attr('data-dependency-value').replace(/%20/gi, "\"").replace(/%27/gi, "'"); //pour palier les guillemets.
                let dependency_target_id = $(this).attr('data-dependency-id');
                let dependency_target = $("#input-criterion-" + dependency_target_id + "");
                let this_id = $(this).attr('data-value');
                if (dependency_target.length === 0) {
                    $(this).removeClass('d-none');
                } else {
                    try {
                        let dependencies = JSON.parse(dependency_value);
                        let dependency_target_value = dependency_target.val();
                        if (Array.isArray(dependency_target_value)) {
                            let showDependencyHidden = false;
                            dependency_target_value.forEach(function (element) {
                                if (dependencies.includes(element)) {
                                    showDependencyHidden = true;
                                }
                            });
                            if (showDependencyHidden) {
                                $(this).removeClass('d-none');
                            } else {
                                $(this).addClass('d-none');
                            }
                        } else {
                            if (dependencies.includes(dependency_target_value)) {
                                $(this).removeClass('d-none');
                            } else {
                                $(this).addClass('d-none');
                            }
                        }
                    } catch {
                        if (dependency_target.val() === dependency_value) {
                            $(this).removeClass('d-none');
                        } else {
                            $(this).addClass('d-none');
                        }
                    }
                }
                dependency_tab[this_id] = {};
                dependency_tab[this_id].id = dependency_target_id;
                dependency_tab[this_id].value = dependency_value;
            });

            $.each(dependency_tab, function (key, object) {
                let dependency_target = $("[id='input-criterion-" + object.id + "']");
                let dependency_hidden = $("[data-value='" + key + "']");
                $(dependency_target).change(function () {
                    let dependency_values;
                    try { // check si object.value est une chaine JSON (donc un tableau de valeurs)
                        dependency_values = JSON.parse(object.value);
                        let this_value = $(this).val();
                        if (Array.isArray(this_value)) {
                            let showDependencyHidden = false;
                            this_value.forEach(function (element) {
                                if (dependency_values.includes(element)) {
                                    showDependencyHidden = true;
                                }
                            });
                            if (showDependencyHidden) {
                                dependency_hidden.removeClass('d-none');
                            } else {
                                dependency_hidden.addClass('d-none');
                            }
                        } else {
                            if (dependency_values.includes(this_value)) {
                                dependency_hidden.removeClass('d-none');
                            } else {
                                dependency_hidden.addClass('d-none');
                            }
                        }
                    } catch (e) {
                        if ($(this).val() === object.value) {
                            dependency_hidden.removeClass('d-none');
                        } else {
                            dependency_hidden.addClass('d-none');
                        }
                    }
                });
            });
        }

        function stringNullOrEmpty(string) {
            return string === null || string === '';
        }

    </script>
{% endblock %}
</body>
</html>
