{% extends 'base.html.twig' %}
{% block title %}Recherche Multi-critères{% endblock %}

{% block body %}
    <h1>
        {{ block('title') }}
    </h1>
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="btn-group">
                <button id="form-search-btn-all" data-type="all" type="button"
                        class="form-search-btn btn btn-info active">Tous
                </button>
                <button id="form-search-btn-p-natural" data-type="natural" type="button"
                        class="form-search-btn btn btn-info">Pers. Physique
                </button>
                <button id="form-search-btn-p-legal" data-type="legal" type="button"
                        class="form-search-btn btn btn-info">Pers. Morale
                </button>
            </div>
            <input type="hidden" name="option_all" value="true">
            <input type="hidden" name="option_natural" value="false">
            <input type="hidden" name="option_legal" value="false">
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row mt-5">
                    <div class="col-md-6">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.id,'title':'ID'} %}
                            {% block icon %}<i class="far fa-user"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-6">
                        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.classification,'title':'Classification','placeholder':'Classification','emptyValue':'Aucune classification'} %}
                    </div>
                </div>
                <div id="form-search-names" class="row">
                    <div id="form-search-lastName" class="col-md-4 form-search-names">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.lastName,'title':'Nom / Raison Sociale'} %}
                            {% block icon %}<i class="fas fa-user"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div id="form-search-firstName" class="col-md-4 form-search-names">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.firstName,'title':'Prénom'} %}
                            {% block icon %}<i class="fas fa-user"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div id="form-search-corporateName" class="col-md-4 form-search-names" style="display:none">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.corporateName,'title':'Raison Sociale'} %}
                            {% block icon %}<i class="fas fa-building"></i>{% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.email,'title':'Email'} %}
                            {% block icon %}<i class="fas fa-at"></i>{% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.telephone,'title':'Téléphone'} %}
                            {% block icon %}<i class="fas fa-phone"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-4">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.postalCode,'title':'Code Postal'} %}
                            {% block icon %}<i class="fas fa-map-marker-alt"></i>{% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-4">
                        {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.locality,'title':'Ville'} %}
                            {% block icon %}<i class="fas fa-city"></i>{% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 form-group text-right">
                        {% include 'BaseTheme/toggleOnOff.html.twig' with {'field':form.exactResearch,'title':'Recherche exacte'} %}
                    </div>
                    <div class="col-md-7 form-group">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-finish btn-fill btn-primary'},'label':'Rechercher'}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% if isPageSubmitted is defined %}
        {% include 'Core/SearchPerson/resultResearch.html.twig' with {'persons': persons, 'jobName':jobName} %}
    {% endif %}
{% endblock %}