<h1>Résultat de la recherche</h1>
{% embed 'BaseTheme/datatable.html.twig' %}
    {% block thead %}
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Téléphone</th>
        <th>CP</th>
        <th>Ville</th>
        <th>Classification</th>
    {% endblock %}
    {% block tbody %}
        {% set jobnames = constant('LABEL',jobName) %}
        {% for personId,personTab in persons %}
            {% set person = personTab["person"] %}
            {% set personType = personTab["person_type"] %}
            <tr>
                <td>
                    <a href="{% if personType == "natural" %}{{ path('core_person_natural_show', {'id':personId}) }}{% else %}{{ path('core_person_legal_show', {'id':personId}) }}{% endif %}">
                        {{ personId }}</a>
                </td>
                <td>
                    <a href="{% if personType == "natural" %}{{ path('core_person_natural_show', {'id':personId}) }}{% else %}{{ path('core_person_legal_show', {'id':personId}) }}{% endif %}">
                        {{ person.name }}
                    </a>
                </td>
                <td>
                    <a href="{% if personType == "natural" %}{{ path('core_person_natural_show', {'id':personId}) }}{% else %}{{ path('core_person_legal_show', {'id':personId}) }}{% endif %}">
                        {% if personType == "natural" %}
                            {{ person.firstName }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% for mail in person.mails %}
                        <div>{{ mail.address }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for telephone in person.telephones %}
                        <div>{{ telephone.number }} {{ telephone.translate.icon(telephone.phoneType)|raw }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for addresse in person.addresses %}
                        <div>{{ addresse.postalCode }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for addresse in person.addresses %}
                        <div>{{ addresse.locality }}</div>
                    {% endfor %}
                </td>
                <td>{{ jobnames[person.mainJobName.classification] }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune personne trouvée. Souhaitez-vous :
                    <a class="link-redirect-new-person" data-redirect="{{ path('core_person_natural_new') }}"
                       onclick="saveDataForPerson(this)">Créer une personne physique</a> / <a
                            data-redirect="{{ path('core_person_legal_new') }}" onclick="saveDataForPerson(this)"
                            class="link-redirect-new-person">Créer une personne morale</a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}