<form action='{{ url }}' method='POST'>
    <div class="container">
        <div class="row">
            <label for='model-select'>Sélectionnez un modèle :</label>
            <select class='selectpicker' id="model-select" name='model'>
                {% for element in elements %}
                    <option value='{{ element['id'] }}'>{{ element['substitutionType'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <input type='submit' class='btn btn-primary' value='Créer'>
        </div>
    </div>
</form>