{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.canvas,'title':'Type','placeholder':'Type','emptyValue':'Aucun type'} %}
        </div>
        <div class="col-sm-4">
            {% include 'BaseTheme/toggleOnOff.html.twig' with {'field':form.isModel, 'title' : "Ajouter aux modèles de souhaits pour ce client ?"} %}
        </div>
    </div>
    <div class="row form-wishes-rows justify-content-center">
        <label class="col-md-2 col-form-label">
            <b>Distance(s)</b>
            <a id="btn-add-row-distance" title="ajouter une distance">
                <i class="fas fa-plus"></i>
            </a>
        </label>
        <div id="distance-value-rows-container" class="col-md-10 row distance-value-rows-container">
            {% set countGoodValues = 0 %}
            {% if '/new' not in app.request.uri %}
                {% for key,value in wish.distance %}
                    {% set countGoodValues = countGoodValues + 1 %}
                    <div class="distance-value-rows col-md-12 row">
                        <input class="col-md-2 form-control" type="number" name="distance[km][]"
                               value="{{ value['km'] }}">
                        <div class="col-md-4 text-center">par rapport à un code postal :</div>
                        <input class="form-control col-md-2" type="text" name="distance[cp][]" value="{{ value['cp'] }}"
                               pattern="[0-9]{5}"
                               title="Composé de 5 chiffres">
                        {% if countGoodValues > 1 %}
                            <i class='fas fa-times fa-2x cross-delete-one-row'></i>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if countGoodValues == 0 %}
                <div class="distance-value-rows col-md-12 row">
                    <input class="col-md-2 form-control" type="text" name="distance[km][]">
                    <div class="col-md-4">par rapport à un code postal :</div>
                    <input class="form-control col-md-2" type="text" name="distance[cp][]">
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <small>
                <p class="help-text">Date de début
                    <i class="fas fa-question-circle form-tooltip"
                       data-tiptext="Date à laquelle le souhait débute. Le remplaçant est en recherche à partir de cette date."></i>
                </p>
            </small>
            {{ form_widget(form.startingDate,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-md-4">
            <small>
                <p class="help-text">Date de fin
                    <i class="fas fa-question-circle form-tooltip"
                       data-tiptext="Date à laquelle le souhait se termine. Le remplaçant est en recherche jusqu'à cette date."></i>
                </p>
            </small>
            {{ form_widget(form.endDate,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div id="field-list" class="row">
        <input id="hidden_field_end_date" type="hidden"
               value="{% if end_date is defined and end_date is not null %}{{ end_date|date('Y-m-d') }}{% endif %}">
        {% if '/new' not in app.request.uri %}
            <div id="show-old-form" class="col-md-12">
                {% include "BaseTheme/CriterionCanvas/criterionCanvasFormFields.html.twig" with {
                    'canvasType': 'wish',
                } %}
            </div>
        {% endif %}
    </div>
    {% if '/edit' in app.request.uri and wish.isModel == true %}
        <div class="row">
            <div class="col-md-4">
                Dernier point fait le : <b>{{ wish.lastFullUpdateAt|date('d/m/Y H:i') }}</b>
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="wish-full-update" autocomplete="off" type="checkbox" class="form-check-input" name="wish_full_update" value="update">
                        <span class="form-check-sign"></span>
                        Actualiser ?
                    </label>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center div-content-criteria">
        <div class="row col-md-12 justify-content-center">
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center wishes-criteria-head">Critères impératifs</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center wishes-criteria-head">Critères disponible</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center wishes-criteria-head">Critères secondaires</div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 justify-content-center">
            <div id="wishes-criteria-important" data-type="2" class="col-md-4 wish-criteria-container">
                {% if criteriaRelevantness[2] is defined %}
                    {% for criterion in criteriaRelevantness[2] %}
                        <div id="relevantness-criterion-{{ criterion['id'] }}" class="wishes-criteria wishes-criteria-card wish-criteria-disabled row justify-content-center">
                            <input type="hidden" name="criteria[2][]" value="{{ criterion['id'] }}">
                            <div class="col-md-8 text-center wishes-criteria-label">{{ criterion['label'] }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="wishes-criteria-available" data-type="0" class="col-md-4 wish-criteria-container">
                {% if criteriaRelevantness[0] is defined %}
                    {% for criterion in criteriaRelevantness[0] %}
                        <div id="relevantness-criterion-{{ criterion['id'] }}" class="wishes-criteria wishes-criteria-card wish-criteria-disabled row justify-content-center">
                            <input type="hidden" name="criteria[0][]" value="{{ criterion['id'] }}">
                            <div class="col-md-8 text-center wishes-criteria-label">{{ criterion['label'] }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="wishes-criteria-secondary" data-type="1" class="col-md-4 wish-criteria-container">
                {% if criteriaRelevantness[1] is defined %}
                    {% for criterion in criteriaRelevantness[1] %}
                        <div id="relevantness-criterion-{{ criterion['id'] }}" class="wishes-criteria wishes-criteria-card wish-criteria-disabled row justify-content-center">
                            <input type="hidden" name="criteria[1][]" value="{{ criterion['id'] }}">
                            <div class="col-md-8 text-center wishes-criteria-label">{{ criterion['label'] }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        {{ form_widget(form.submit,{'attr': {'class': 'btn btn-finish btn-fill btn-primary'},'label':'Enregistrer'}) }}
    </div>
</div>
{{ form_end(form) }}

<div id="criterion-type-constants" class="d-none"
     data-bool="{{ constant("TYPE_BOOL",criterion) }}"
     data-integer="{{ constant("TYPE_INTEGER",criterion) }}"
     data-select="{{ constant("TYPE_SELECT",criterion) }}"
     data-date="{{ constant("TYPE_DATE",criterion) }}"
     data-specialty="{{ constant("TYPE_SPECIALTY",criterion) }}"
     data-choice-week="{{ constant("TYPE_CHOICE_WEEK",criterion) }}"
     data-text="{{ constant("TYPE_TEXT",criterion) }}"
     data-file="{{ constant("TYPE_FILE",criterion) }}"
     data-multi-select="{{ constant("TYPE_MULTI_SELECT",criterion) }}"
     data-location="{{ constant("TYPE_LOCATION",criterion) }}"
     data-input="{{ constant("TYPE_INPUT",criterion) }}"
     data-entity="{{ constant("TYPE_ENTITY",criterion) }}">
</div>
