<form method="post" action="{{ path('offer_wish_delete', {'id': wish.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="isAjaxCall" value="false">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wish.id) }}">
    <button class="btn">Supprimer</button>
</form>
