{% extends 'base.html.twig' %}

{% block title %}{{ wish.isModel ? 'Edition du modèle de souhait' : 'Edition de souhait' }} [{{ wish.id }}]{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('wish') }}
{% endblock %}

{% block body %}
    <h1>
        <a class="bubble-info" aria-label="Retour à la liste" data-controller="Offer\WishController\index"
           href="{{ url('offer_wish_index',{'personId':wish.person.id}) }}">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }}, {{ wishSubstitutionType }}
    </h1>
    <small>Dernière modification : {{ wish.lastUpdateDate|date('d/m/Y à H:i:s') }}</small>
    <a class="btn btn-primary link-matching-wish"
       href="{{ path('offer_wish_duplicate',{'id':wish.id}) }}">{{ wish.isModel ? 'Créer un souhait à partir de ce modèle' : 'Dupliquer' }}</a>
    {% if not wish.isModel %}
        <a class="btn btn-warning link-matching-wish"
           href="{{ path('matching_substitute_one_wish',{'id':wish.person.id,'oneWishId':wish.id}) }}">Matching sur ce
            souhait</a>
    {% endif %}

    {{ include('Offer/Wish/_form.html.twig') }}

    {{ include('Offer/Wish/deleteWish.html.twig') }}

    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('wish') }}
    {{ encore_entry_script_tags('criterion') }}
{% endblock %}
