{% extends 'base.html.twig' %}

{% block title %}Nouveau souhait{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('wish') }}
{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('offer_wish_index',{'personId':person.id}) }}" class="bubble-info"
           aria-label="Retour à la liste des souhaits">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }} pour <a href="{{ path('core_person_natural_show',{'id' : person.id}) }}">{{ person }}</a>
    </h1>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="btn btn-default" id="btn-create-wish-from-model"
                        {{ (person.modelsWishes|length > 0) ? 'title=""' : 'disabled title="Cette personne ne possède pas de modèle de souhait"' }}
                     onclick='popupOnHtmlResponse(this,"{{ path('wish_create_from_model',{'id':person.id}) }}")'>Créer
                    le souhait à partir d'un modèle
                </div>
            </div>
        </div>
    </div>
    {{ include('Offer/Wish/_form.html.twig') }}
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('wish') }}
    {{ encore_entry_script_tags('criterion') }}
{% endblock %}