{% extends 'base.html.twig' %}

{% block title %}Liste des souhaits{% endblock %}

{% block body %}
    <h1>{{ block('title') }} pour
        <a href="{{ path('core_person_natural_show',{'id':person.id}) }}">{{ person }}</a></h1>
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person}) }}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="row">
                <div class="col-11">
                    {% if person.mainJobName.classification==constant("SUBSTITUTE", person.mainJobName)
                        or person.mainJobName.label == "Médecin Installé effectuant des remplacements" %}
                        <a href="{{ path('matching_substitute',{'id':person.id}) }}" class="btn btn-warning">
                            matching
                        </a>
                    {% endif %}
                </div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer un nouveau souhait"
                       data-controller="Offer\WishController\new"
                       href="{{ url('offer_wish_new',{'personId':person.id}) }}">
                        <i class="fas fa-plus"
                           title='Nouveau souhait'></i>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block thead %}
            <th>Id</th>
            <th>Type</th>
            <th>Date de Début</th>
            <th>Date de Fin</th>
            <th>Date de création</th>
            <th>Actions</th>
        {% endblock %}
        {% block tbody %}
            {% for wish in wishes %}

                <tr>
                    <td>{{ wish.id }} {{ wish.isModel ? '(Modèle)' }}</td>
                    <td>{{ wish.canvas.label }}</td>
                    <td>{{ wish.timeRange.startDate ? wish.timeRange.startDate|date("d/m/Y") : '' }}</td>
                    <td>{{ wish.timeRange.endDate ? wish.timeRange.endDate|date("d/m/Y") : '' }}</td>
                    <td>{{ wish.creationDate ? wish.creationDate|date('d/m/Y') : '' }}</td>
                    <td>
                        {% if not wish.isModel %}
                        <a class="bubble-info" aria-label="Matching sur ce souhait"
                           href="{{ path('matching_substitute_one_wish',{'id':wish.person.id,'oneWishId':wish.id}) }}">
                            <i class="fas fa-calculator c-orange"></i>
                        </a>
                        {% endif %}
                        <a class="bubble-info" aria-label="Visualiser" data-controller="Offer\WishController\show"
                           href="{{ url("offer_wish_show",{"id":wish.id }) }}">
                            <i class="tim-icons icon-eye-19"></i>
                        </a>
                        <a class="bubble-info" aria-label="Modifier" data-controller="Offer\WishController\edit"
                           href="{{ url("offer_wish_edit",{"id":wish.id }) }}">
                            <i class="tim-icons icon-pencil"></i>
                        </a>
                        <a class="bubble-info" aria-label="{{ wish.isModel ? 'Créer un souhait' : 'Dupliquer' }}" data-controller="Offer\WishController\duplicate">
                            <i class="tim-icons icon-single-copy-04"
                               onclick="confirmAction(this,{{ wish.isModel ? "'Confirmez-vous la création d un nouveau souhait ?'" : "'Confirmez-vous la duplication de ce souhait ?'" }},'{{ url("offer_wish_duplicate",{"id":wish.id }) }}','{{ url("offer_wish_index",{"personId":wish.person.id }) }}')"></i>
                        </a>
                        <a class="bubble-info" aria-label="Supprimer" data-controller="Offer\WishController\delete">
                            <i class="tim-icons icon-simple-remove"
                               onclick='confirmDelete(this,"Confirmez-vous la suppression de ce souhait ?","{{ url("offer_wish_delete",{"id":wish.id }) }}")'></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun Souhait</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
