{% extends 'base.html.twig' %}

{% block title %}{{ wish.isModel ? 'Modèle de souhait' : 'Souhait' }} [{{ wish.id }}]{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('wish') }}
{% endblock %}

{% block body %}
    <h1>
        <a class="bubble-info" aria-label="Retour" data-controller="Offer\WishController\index"
           href="{{ url("offer_wish_index",{"personId":wish.person.id }) }}">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }}, {{ wishSubstitutionType }}
        <a class="bubble-info" aria-label="Modifier" data-controller="Offer\WishController\edit"
           href="{{ url("offer_wish_edit",{"id":wish.id }) }}">
            <i class="tim-icons icon-pencil"></i>
        </a>
        {% if not wish.isModel %}
            <a class="btn btn-warning"
               href="{{ path('matching_substitute_one_wish',{'id':wish.person.id,'oneWishId':wish.id}) }}">Matching sur ce
                souhait</a>
        {% endif %}
    </h1>

    <table id="wish-show-table" class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ wish.id }} {{ wish.isModel ? '(Modèle)' }}</td>
        </tr>
        <tr>
            <th>Date de création</th>
            <td>{{ wish.creationDate ? wish.creationDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>{{ wish.startingDate ? wish.startingDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ wish.readableEndDate }}</td>
        </tr>
        {% for substitutionCriterion in wish.substitutionCriteria %}
            <tr>
                <th>{{ substitutionCriterion.criterion.label }}</th>
                {% if substitutionCriterion.value is iterable %}
                    {% if in_array('FE',substitutionCriterion.value) %}
                        <td>France entière</td>
                    {% else %}
                        <td>{{ substitutionCriterion.value|join(', ') }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ substitutionCriterion.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <table id="wish-show-table-relevantness" class="table">
            <thead>
            <tr>
                <th class="text-center">Critères impératifs</th>
                <th class="text-center">Critères secondaires</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    {% for criterionLabel in criteriaRelevantness[2] %}
                        {{ criterionLabel }}<br>
                    {% endfor %}
                </td>
                <td class="text-center">
                    {% for criterionLabel in criteriaRelevantness[1] %}
                        {{ criterionLabel }}<br>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {{ include('Offer/Wish/deleteWish.html.twig') }}
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person':wish.person}) }}
    {% if not wish.isModel %}
        <a class="btn btn-warning"
           href="{{ path('matching_substitute_one_wish',{'id':wish.person.id,'oneWishId':wish.id}) }}">Matching sur ce
            souhait</a>
    {% endif %}
{% endblock %}
