{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-6">
        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.type,'title':'Type d\'échange','placeholder':'Type d\'échange','emptyValue':'Aucun Type d\'échange'} %}
    </div>
    <div class="col-sm-6">
        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.service,'title':'Service','placeholder':'Service'} %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12">
        {% include 'BaseTheme/inputText.html.twig' with {'field':form.subject,'title':'','placeholder':'Sujet'} %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12">
        {% include 'BaseTheme/textArea.html.twig' with {'field':form.memo,'title':'Détails','placeholder':'Détails','emptyValue':'Détails'} %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-5">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-fill btn-primary'},'label': 'Enregistrer'}) }}
    </div>
</div>
{{ form_end(form) }}