{% extends 'base.html.twig' %}
{% block title %}Liste des permissions{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('permission') }}
{% endblock %}
{% block body %}
    <h1>{{ block("title") }}</h1>
    <div class="col-md-12 mb-5 table-content">
        <small>Cliquez sur les categories (horizontales / verticales) afin de cocher toutes les cases d'une même ligne /
            colonne.
        </small>
        <div class="card">
            <div class="card-body">
                <div>
                    <table class="table" id="simple-table">
                        <thead class="text-primary">
                        <tr>
                            <th class="first-head-column " scope="row" id="check-all">
                                <input type="checkbox" id="check-all-input"
                                       name="all-checked" class="d-none">
                                FONCTIONNALITES\ ROLES
                            </th>
                            {% for role in roles %}
                                {% if role.name|slice(5)!='ROOT' %}
                                    <th class="first-head text-center roles-header" id="{{ role.id }}">
                                        {# remove ROLE_#}
                                        <input type="checkbox" class="check-all-column d-none"
                                               data-role-id="role{{ role.id }}"
                                               name="role{{ role.id }}">
                                        {{ role.name|slice(5) }}
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for feature in features %}
                            {% if not (feature.name starts with 'ajax_call') %}
                                <tr>
                                    <td class="first-column features-column" scope="row" id="{{ feature.id }}">
                                        <input type="checkbox" class="check-all-row d-none"
                                               data-feature-id="feature{{ feature.id }}" name="feature{{ feature.id }}">
                                        {{ feature.name }}
                                    </td>
                                    {% for role in roles %}
                                        {% if role.name|slice(5)!='ROOT' %}
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox"
                                                                {% for feature1 in role.features %}
                                                                    {% if feature1.id == feature.id %} checked="checked"  {% endif %}
                                                                {% endfor %}
                                                               class="permission-checkbox form-check-input"
                                                                {% if feature.name starts with 'ajax' %}  data-ajax="ajax-call"  {% endif %}
                                                               data-role-id="{{ role.id }}"
                                                               data-feature-id="{{ feature.id }}">
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success" id="submit-permissions">Valider</button>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('permission') }}
{% endblock %}