<div class="col-lg-12 form-address">
    <div class="form-error">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col-lg-6">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.domiciliations,'title':'Type d\'adresse','placeholder':'Type d\'adresse','emptyValue':'Type d\'adresse non défini'} %}

        </div>

        {% if '/legal/' not in app.request.uri %}
            <div class="col-lg-6">
                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.usages,'title':'Usage','placeholder':'Usage','emptyValue':'Choisissez un usage'} %}
            </div>
        {% endif %}
    </div>
    <div class='row'>
        <div class="col-lg-12">
            {% embed 'BaseTheme/inputText.html.twig' with {'field':form.addressLine1,'title':'Ligne d\'adresse 1'} %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% embed 'BaseTheme/inputText.html.twig' with {'field':form.addressLine2,'title':'Ligne d\'adresse 2'} %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            {% embed 'BaseTheme/inputText.html.twig' with {'field':form.postalCode,'title':'Code Postal'} %}
            {% endembed %}
        </div>
        <div class="col-lg-7">
            {% embed 'BaseTheme/inputText.html.twig' with {'field':form.locality,'title':'Ville'} %}
            {% endembed %}
        </div>
        <div class="col-lg-2">
            {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.countryCode,'title':'Pays','placeholder':'Pays'} %}
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-6">
            {% set icon_check =  "<i class='tim-icons icon-check-2'></i>" %}
            {% set icon_cross =  "<i class='tim-icons icon-simple-remove'></i>" %}
            {{ form_label(form.isCedex, "Cedex",{'label_attr': {'class': 'label-small'}}) }}
            {{ form_widget(form.isCedex, {'attr':{'class': 'bootstrap-switch','data-on-text':icon_check,'data-off-text':icon_cross,'data-on-label':icon_check,'data-off-label':icon_cross}}) }}
        </div>
        <div class="col-lg-6">
            <button type="button" class="delete-btn btn btn-danger">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
        </div>
    </div>
</div>
