[{% for elem in array %}
{% if translateObject is not defined %}
    {{ elem }}
{% else %}
    {{ translateObject.translate.label(elem) }}
{% endif %}
    {% if not loop.last %},{% endif %}
{% endfor %}]