{% if tabTimeRangesWithPerson is not defined %}
    {% set tabTimeRangesWithPerson = "{}" %}
{% endif %}
{% if tabNaturesWithNumberTimeRanges is not defined %}
    {% set tabNaturesWithNumberTimeRanges = "{}" %}
{% endif %}
{{ encore_entry_link_tags('calendar') }}
<div class="{% if size is defined %}{{ size }}{% endif %} ">
    {% if type != 'personLegal' %}
        <a class="btn btn-primary" href="{{ path("timerange_new",{'id':object.agenda.id}) }}">Nouvel évènement <i
                class="fas fa-plus text-white"></i></a>
    {% endif %}
    {% if isYear is not defined %}
        <div id="fullCalendar"
             data-agenda-id="{{ object.agenda.id }}"
             data-agenda-type="{{ type }}"
             data-agenda-is-year="{% if isYear is defined and isYear == true %}true{% endif %}"
             data-agenda-time-range-person="{{ tabTimeRangesWithPerson }}"
             data-agenda-tab-natures-with-number-time-ranges="{{ tabNaturesWithNumberTimeRanges }}"></div>
    {% endif %}
</div>
{{ encore_entry_script_tags('calendar') }}
