<div class="row mt-5 {% if class is defined %}{{ class }}{% endif %}">
    <div class="col-md-12">
        <div class="card">
            {% if header is defined and header == "no-header" %}
            {% else %}
                <div class="card-header">
                    <h4 class="card-title">
                        {% block tableName %}
                        {% endblock %}
                    </h4>
                </div>
            {% endif %}
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <table id="{% if tableId is defined %}{{ tableId }}{% else %}datatable{% endif %}" {% if data_wish_id is defined %}data-wish-id="{{ data_wish_id }}"{% endif %}
                       class="table table-striped datatables responsive nowrap {% if textCenter is defined %}{{ textCenter }}{% endif %} {% if tableClass is defined %}{{ tableClass }}{% endif %}">
                    <thead>
                    <tr>
                        {% block thead %}
                        {% endblock %}
                    </tr>
                    </thead>
                    <tbody>
                    {% block tbody %}
                    {% endblock %}
                    </tbody>
                </table>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>