{% if title is not defined %}
    {% set title = '' %}
{% endif %}
<div class="input-text-icon-group">
    <div class="row">
        <small>
            {% if field.vars.help is not null %}
                {{ form_help(field) }}
            {% else %}
                <p class="help-text">{{ title }}
                    {% if tooltip is defined %}
                        <i class="fas fa-question-circle form-tooltip" data-tiptext="{{ tooltip }}"></i>
                    {% endif %}
                </p>
            {% endif %}
        </small>
    </div>
    <div class="row">
        {% if default_date is not defined %}
            {{ form_widget(field,{'attr': {'class': 'form-control datetimepicker'}}) }}
        {% else %}
            {{ form_widget(field,{'attr': {'class': 'form-control datetimepicker', 'value' : default_date}}) }}
        {% endif %}
    </div>
    <div class="row">
        <div class="form-error">
            {{ form_errors(field) }}
        </div>
    </div>
</div>