{% if label is empty %}
    {% set label = '' %}
{% endif %}
<button class="btn button-displayer">{{ label }}</button>
<div class="row d-none" data-display-elem="{% apply escape %}{% block elem %}{% endblock %}{% endapply %}">
    <div class="col-md-10 display-elem-content">
    </div>
    <div class="col-md-2 my-auto">
        <button class="btn btn-danger button-hidden"><i class="tim-icons icon-simple-remove"></i></button>
    </div>
</div>