{% if title is not defined %}
    {% set title = '' %}
{% endif %}
{% if placeholder is not defined %}
    {% set placeholder = '' %}
{% endif %}
<div class="input-text-group">

    <small>
        {% if field.vars.help is not null %}
            {{ form_help(field) }}
        {% else %}
            <p class="help-text">{{ title }}
                {% if tooltip is defined %}
                    <i class="fas fa-question-circle form-tooltip" data-tiptext="{{ tooltip }}"></i>
                {% endif %}
            </p>
        {% endif %}
    </small>

    {{ form_widget(field,{'attr': {'class': 'form-control', 'placeholder' :  placeholder}}) }}

    <div class="row">
        <div class="form-error">
            {{ form_errors(field) }}
        </div>
    </div>
</div>