{% if title is not defined %}
    {% set title = '' %}
{% endif %}
{% if error is not defined %}
    {% set error = '' %}
{% endif %}
<div class="input-text-icon-group">
    <small>
        {% if field.vars.help is not null %}
            {{ form_help(field) }}
        {% else %}
            <p class="help-text">{{ title }}
                {% if tooltip is defined %}
                    <i class="fas fa-question-circle form-tooltip" data-tiptext="{{ tooltip }}"></i>
                {% endif %}
            </p>
        {% endif %}
    </small>
    <div class="row">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    {% block icon %}
                    {% endblock %}
                </div>
            </div>
            {% if onkeyup is not defined %}
                {{ form_widget(field,{'attr': {'class': 'form-control', 'placeholder' :  title, 'title' : error}}) }}
            {% else %}
                {{ form_widget(field,{'attr': {'class': 'form-control', 'placeholder' :  title, 'title' : error, 'onkeyup' : onkeyup}}) }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="form-error">
            {{ form_errors(field) }}
        </div>
    </div>
</div>

{#
    TODO - intégrer un js pour les changements de couleurs
    https://www.developpez.net/forums/d1920108/php/bibliotheques-frameworks/symfony/appeler-fonction-javascript/
    voir js dans base.html.twig ligne 1043 pour intégrer changement des couleurs d'icones
#}