{% if onkeyup is not defined %}
    {% set onkeyup = '' %}
{% endif %}
<div class="form-error">
    {{ form_errors(form) }}
</div>
<div class="col-lg-4 my-auto input-mail">
    {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.address,'title':'Mail','onkeyup':onkeyup} %}
        {% block icon %}<i class="fas fa-at"></i>{% endblock %}
    {% endembed %}
</div>
<div class="col-lg-3">
    {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.mailType,'title':'Type','placeholder':'Type','emptyValue':'Aucun Type'} %}
</div>
<div class="col-lg-3 my-auto">
    <div class="row">
        <div class="col-md-5 my-auto">
            {% set icon_check =  "<i class='tim-icons icon-check-2'></i>" %}
            {% set icon_cross =  "<i class='tim-icons icon-simple-remove'></i>" %}
            {{ form_widget(form.isDefault,{'attr': {'class': 'bootstrap-switch','data-on-label':icon_check,'data-off-label':icon_cross, 'data-on-text':icon_check,'data-off-text':icon_cross}}) }}
        </div>
        <div class="col-md-7">
            {{ form_label(form.isDefault, 'Email par défault', {'label_attr': {'class': 'label-small'}}) }}
        </div>
    </div>
</div>
<div class="col-lg-2 my-auto">
    <button type="button" class="delete-btn btn btn-danger">
        <i class="tim-icons icon-simple-remove"></i>
    </button>
</div>
