<div class="text-right">
    <span class="notification-all" onclick="markAllAsSeenNotification('{{ app.user.id }}')"
          data-controller="Utils\NotificationController\markAllAsSeenNotification">
        Toutes les marquer comme lues</span>
</div>
{% for notification in notificationList|reverse %}
    <li id="notification-{{ notification.notification.id }}-user-{{ app.user.id }}" class="notification-content nav-link
        {% if notification.seen == false %}notification-content-not-seen bg-gray{% else %}notification-content-seen{% endif %}">
        <div class="nav-item notification-link"
             data-href="{% if notification.notification.link is defined %}{{ notification.notification.link }}{% endif %}">
            <strong>
                {{ notification.notification.subject }}
            </strong>
            <small>{{ notification.notification.date|date('d/m/y') }}</small>
            <p>{{ notification.notification.message }}</p>
        </div>
        {% if notification.seen == false %}
            <i onclick="markAsSeenNotification('{{ app.user.id }}','{{ notification.notification.id }}')"
               class="far fa-eye the-icon-seen" title="Marquer comme lue" data-controller="Utils\NotificationController\markAsSeenNotification"></i>
        {% endif %}
    </li>
{% endfor %}