{% if title is not defined %}
    {% set title = '' %}
{% endif %}
{% if emptyValue is not defined %}
    {% set emptyValue = '' %}
{% endif %}
{% if placeholder is not defined %}
    {% set placeholder = '' %}
{% endif %}

<div class="input-text-group">
    <small>
        {% if field.vars is defined and field.vars.help is not null %}
            {{ form_help(field) }}
        {% else %}
            <p class="help-text-select">{{ title }}
                {% if tooltip is defined %}
                    <i class="fas fa-question-circle form-tooltip" data-tiptext="{{ tooltip }}"></i>
                {% endif %}
            </p>
        {% endif %}
    </small>
    {% if required is defined and required != false %}
        {{ form_widget(field,{'attr': {'class': 'selectpicker','title':emptyValue,'placeholder':placeholder,'required':'required'}}) }}
    {% else %}
        {{ form_widget(field,{'attr': {'class': 'selectpicker','title':emptyValue,'placeholder':placeholder}}) }}
    {% endif %}
    <div class="form-error">
        {{ form_errors(field) }}
    </div>
</div>