<div class="row mt-5">
    <!--<ol class="breadcrumb bg-transparent ml-3">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Library</a>
        </li>
        <li class="breadcrumb-item active">Data</li>
    </ol>-->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    {% block tableName %}

                    {% endblock %}
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                            {% block thead %}

                            {% endblock %}

                        </tr>
                        </thead>
                        <tbody>
                        {% block tbody %}

                        {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
