{% if onkeyup is not defined %}
    {% set onkeyup = '' %}
{% endif %}
<div class="form-error">
    {{ form_errors(form) }}
</div>
<div class="col-lg-5 my-auto">
    {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.number,'title':'Téléphone','onkeyup':onkeyup} %}
        {% block icon %}<i class="fas fa-phone"></i>{% endblock %}
    {% endembed %}

</div>
<div class="col-lg-5 my-auto">
    {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.phoneType,'title':'Type','placeholder':'Type','emptyValue':'Aucun Type'} %}
</div>
<div class="col-lg-2 my-auto">
    <div class="input-group-prepend">
        <button type="button" class="delete-btn btn btn-danger">
            <i class="tim-icons icon-simple-remove"></i>
        </button>
    </div>
</div>