{% if title is not defined %}
    {% set title = '' %}
{% endif %}
<div class="input-text-icon-group">
    <div class="row">
        <small>
            {% if field.vars.help is not null %}
                {{ form_help(field) }}
            {% elseif field.vars.value is not empty %}
                <p class="help-text">{{ title }}</p>
            {% else %}
                <p class="help-text">&nbsp;</p>
            {% endif %}
        </small>
    </div>
    <div class="row">
        {{ form_widget(field,{'attr': {'class': 'customtextarea', 'placeholder' :  title}}) }}
    </div>
    <div class="row">
        <div class="form-error">
            {{ form_errors(field) }}
        </div>
    </div>
</div>
