{% if title is not defined %}
    {% set title = '' %}
{% endif %}
<small>
    {% if field.vars.help is not null %}
        {{ form_help(field) }}
    {% elseif field.vars.value is not empty %}
        <p class="help-text">{{ title }}
            {% if tooltip is defined %}
                <i class="fas fa-question-circle form-tooltip" data-tiptext="{{ tooltip }}"></i>
            {% endif %}
        </p>
    {% else %}
        <p class="help-text">&nbsp;</p>
    {% endif %}
</small>

{% if isChecked is defined %}
    {{ form_widget(field, {'attr': {'title':  title,'class': 'bootstrap-switch','data-on-label':"<i class='tim-icons icon-check-2'></i>",
        'data-off-label':"<i class='tim-icons icon-simple-remove custom-color-switch'></i>",'checked':isChecked}}) }}
{% else %}
    {{ form_widget(field, {'attr': {'title':  title,'class': 'bootstrap-switch','data-on-label':"<i class='tim-icons icon-check-2'></i>",
        'data-off-label':"<i class='tim-icons icon-simple-remove'></i>"}}) }}
{% endif %}


<div class="form-error">
    {{ form_errors(field) }}
</div>
