{% block stylesheets %}
    {{ encore_entry_link_tags('error') }}
{% endblock %}

{% block body %}
    <div id='error'>
        <div id='error-text'>
            <span id="error-status-code">{{ status_code }}</span>
            <p>ACCES REFUSE</p>
            <div id="error-funny-text"><small></small></div>
            <p class='hmpg'><a href='{{ url('homepage') }}' class="back">Revenir au tableau de bord</a></p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('error') }}
{% endblock %}