{% if canvas is not null %}
<div id="{{ canvasType }}-edit-canvas-old" data-value="{{ canvas.id }}">
    {% if canvas.formDisposition is not null and canvas.formDisposition is not empty %}
        {% for row in canvas.formDisposition %}
            <div class="row">
            {% for critera in row %}
                {% set criterionId = critera[0] %}
                {% set criterionCol = critera[1] %}
                {% if criterionId is not null and criterionCol is not null %}
                    {% if criterionArray[criterionId]["criterionValue"] is defined and criterionArray[criterionId]["criterionValue"] is not null %}
                        {% set criterionVal = criterionArray[criterionId]["criterionValue"] %}
                    {% else %}
                        {% set criterionVal = null %}
                    {% endif %}

                    <div class='form-group col-{{ criterionCol }} input-in-row {% if criterionArray[criterionId]["dependency"] is not empty %}has-dependency d-none'
                        data-dependency-id='{{ criterionArray[criterionId]["dependency"]['id'] }}' data-dependency-value='{% if criterionArray[criterionId]["dependency"]['value']|is_array %}{{ array_to_json(criterionArray[criterionId]["dependency"]['value']) }}{% else %}{{ criterionArray[criterionId]["dependency"]['value'] }}{% endif %}'{% else %}'{% endif %}
                    data-value='{{ criterionId }}' data-col='{{ criterionCol }}'>
                    {% if criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_BOOL") %}
                        <label for='input-criterion-{{ criterionId }}'
                               class='full-width'>{{ criterionArray[criterionId]["label"] }}</label>
                        <input id="input-criterion-{{ criterionId }}"
                               class='form-control bootstrap-switch'
                               name='criterion_{{ canvasType }}[{{ criterionId }}]' data-on-label="Oui"
                               data-off-label="Non" type='checkbox'
                               {% if criterionVal != null and criterionVal == "on" %}checked{% endif %}>

                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_INTEGER") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <input id='input-criterion-{{ criterionId }}'
                               name='criterion_{{ canvasType }}[{{ criterionId }}]'
                               class='form-control full-width' type='number'
                               value="{% if criterionVal != null %}{{ criterionVal }}{% endif %}"
                               min='0' max='999999999' onkeypress="return checkInputKey(event);">

                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_SELECT") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <select id='input-criterion-{{ criterionId }}' name='criterion_{{ canvasType }}[{{ criterionId }}]'
                                class='form-control full-width selectpicker'>
                            <option>N/C</option>
                            {% for value in criterionArray[criterionId]["value"] %}
                                <option value="{{ value }}"
                                        {% if criterionVal != null and criterionVal == value %}selected="selected"{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>

                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_DATE") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <input id='input-criterion-{{ criterionId }}'
                               name='criterion_{{ canvasType }}[{{ criterionId }}]'
                               class='form-control full-width' type='date'
                               {% if criterionVal != null %}value="{{ criterionVal }}"{% endif %}
                        >

                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_SPECIALTY") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <input id='input-criterion-{{ criterionId }}'
                               name='criterion_{{ canvasType }}[{{ criterionId }}]'
                               class='form-control full-width' type='text'
                               placeholder='{{ criterionArray[criterionId]["label"] }}'
                               {% if criterionVal != null %}value="{{ criterionVal }}"{% endif %}>

                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_CHOICE_WEEK") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <select id='input-criterion-{{ criterionId }}'
                                name='criterion_{{ canvasType }}[{{ criterionId }}][]'
                                class='form-control full-width selectpicker' multiple>
                            <option value="0"
                                    {% if criterionVal != null and criterionVal[0] == 1 %}selected="selected"{% endif %}>
                                Lundi Matin
                            </option>
                            <option value="1"
                                    {% if criterionVal != null and criterionVal[1] == 1 %}selected="selected"{% endif %}>
                                Lundi Après-midi
                            </option>
                            <option value="2"
                                    {% if criterionVal != null and criterionVal[2] == 1 %}selected="selected"{% endif %}>
                                Mardi Matin
                            </option>
                            <option value="3"
                                    {% if criterionVal != null and criterionVal[3] == 1 %}selected="selected"{% endif %}>
                                Mardi Après-midi
                            </option>
                            <option value="4"
                                    {% if criterionVal != null and criterionVal[4] == 1 %}selected="selected"{% endif %}>
                                Mercredi Matin
                            </option>
                            <option value="5"
                                    {% if criterionVal != null and criterionVal[5] == 1 %}selected="selected"{% endif %}>
                                Mercredi Après-midi
                            </option>
                            <option value="6"
                                    {% if criterionVal != null and criterionVal[6] == 1 %}selected="selected"{% endif %}>
                                Jeudi Matin
                            </option>
                            <option value="7"
                                    {% if criterionVal != null and criterionVal[7] == 1 %}selected="selected"{% endif %}>
                                Jeudi Après-midi
                            </option>
                            <option value="8"
                                    {% if criterionVal != null and criterionVal[8] == 1 %}selected="selected"{% endif %}>
                                Vendredi Matin
                            </option>
                            <option value="9"
                                    {% if criterionVal != null and criterionVal[9] == 1 %}selected="selected"{% endif %}>
                                Vendredi Après-midi
                            </option>
                            <option value="10"
                                    {% if criterionVal != null and criterionVal[10] == 1 %}selected="selected"{% endif %}>
                                Samedi Matin
                            </option>
                            <option value="11"
                                    {% if criterionVal != null and criterionVal[11] == 1 %}selected="selected"{% endif %}>
                                Samedi Après-midi
                            </option>
                            <option value="12"
                                    {% if criterionVal != null and criterionVal[12] == 1 %}selected="selected"{% endif %}>
                                Dimanche Matin
                            </option>
                            <option value="13"
                                    {% if criterionVal != null and criterionVal[13] == 1 %}selected="selected"{% endif %}>
                                Dimanche Après-midi
                            </option>
                        </select>

                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_TEXT") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <textarea id='input-criterion-{{ criterionId }}'
                                  name='criterion_{{ canvasType }}[{{ criterionId }}]'
                                  class='form-control full-width'
                        >{% if criterionVal != null %}{{ criterionVal }}{% else %}{{ criterionArray[criterionId]["label"] }}{% endif %}</textarea>

                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_FILE") %}
                        <div class="fileinput fileinput-{% if criterionVal is not empty %}exists{% else %}new{% endif %} full-width text-center"
                             data-provides="fileinput">
                            <label for="input-criterion-{{ criterionId }}">{{ criterionArray[criterionId]["label"] }}</label>
                            <div class="fileinput-{% if criterionVal is not empty %}exists{% else %}new{% endif %} thumbnail file-input-edit">
                                <img {% if criterionVal is not empty %}alt="{{ criterionVal }}"
                                     src="{{ asset('/images/offer/'~criterionVal) }}"
                                     {% else %}alt="..." src=""{% endif %}>
                            </div>
                            {% if criterionVal is not empty %}
                                <input class="criterion-{{ canvasType }}-old-file" type="hidden"
                                       name="criterion_{{ canvasType }}_old_file[{{ criterionId }}]"
                                       value="{{ criterionVal }}">
                            {% endif %}
                            <div class="fileinput-preview fileinput-exists thumbnail">
                            </div>
                            <div>
                                        <span class="btn btn-rose btn-round btn-file btn-change-file">
                                            <span class="fileinput-new">Select File</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input id="input-criterion-{{ criterionId }}" type="file"
                                                   name='criterion_{{ canvasType }}[{{ criterionId }}]'
                                                   accept="image/*"/>
                                        </span>
                                <span class="btn btn-danger btn-round fileinput-exists btn-remove-file"
                                      data-dismiss="fileinput" data-value="{{ criterionId }}"><i
                                            class="fa fa-times"></i> Remove</span>
                            </div>
                        </div>
                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_MULTI_SELECT") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <select id='input-criterion-{{ criterionId }}'
                                name='criterion_{{ canvasType }}[{{ criterionId }}][]'
                                class='form-control col-md-4 full-width selectpicker' multiple>
                            {% for value in criterionArray[criterionId]["value"] %}
                                <option value="{{ value }}"
                                        {% if criterionVal != null and in_array(value, criterionVal) %}selected="selected"{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_ENTITY") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <select id='input-criterion-{{ criterionId }}'
                                name='criterion_{{ canvasType }}[{{ criterionId }}][]'
                                class='form-control col-md-4 full-width selectpicker' multiple>
                            {% for value in criterionArray[criterionId]["value"] %}
                                <option value="{{ value }}"
                                        {% if criterionVal != null and in_array(value, criterionVal) %}selected="selected"{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_LOCATION") %}
                        <label for='input-criterion-{{ criterionId }}'>{{ criterionArray[criterionId]["label"] }}</label>
                        <select id='input-criterion-{{ criterionId }}'
                                name='criterion_{{ canvasType }}[{{ criterionId }}][]'
                                class='form-control full-width selectpicker' multiple>
                            <option value="FE"
                                    {% if criterionArray[criterionId]['selected'] is defined and criterionArray[criterionId]['selected'] != null and in_array('FE', criterionArray[criterionId]['selected']) %}selected="selected"{% endif %}>
                                France Entière
                            </option>
                            {% for region in criterionVal %}
                                <optgroup label="{{ region.name }}">
                                    {% for department in region.departments %}
                                        <option value="{{ department.code }}"
                                                {% if criterionArray[criterionId]['selected'] is defined and criterionArray[criterionId]['selected'] != null and in_array(department, criterionArray[criterionId]['selected']) %}selected="selected"{% endif %}>{{ department.code }}
                                            - {{ department.name }}
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    {% elseif criterionArray[criterionId]["type"] == constant("App\\Entity\\Offer\\Criterion::TYPE_INPUT") %}
                        <label for="input-criterion-{{ criterionId }}">{{ criterionArray[criterionId]["label"] }}</label>
                        <input id="input-criterion-{{ criterionId }}" name="criterion_wish[{{ criterionId }}]"
                               class="form-control full-width"
                               placeholder="{{ criterionArray[criterionId]["label"] }}"
                               value="{{ criterionVal }}">
                    {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endif %}