{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="row justify-content-center">
    <div class="col-md-5">
        <small class="help-text">Nature</small>
        {{ form_widget(form.nature) }}
        {% if timerange is defined and timerange.person is not null %}
            avec <a href="{{ url('redirect_from_person_instance',{'id':timerange.person.id}) }}">{{ timerange.person.name }}</a>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center form-timerange-row">
    <div class="col-md-4">
        <small class="help-text">Date de début</small>
        {{ form_widget(form.startDate) }}
    </div>
    <div class="col-md-4">
        <small class="help-text">Date de fin</small>
        {{ form_widget(form.endDate) }}
    </div>
</div>
<div class="row justify-content-center form-timerange-row">
    <div class="col-md-8">
        <small class="help-text">Description</small>
        {{ form_widget(form.description) }}
    </div>
</div>
<div class="row justify-content-center form-timerange-row">
    <input type="submit" class="btn btn-primary" value="Enregistrer">
</div>
{{ form_end(form) }}