{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>
<div class="row justify-content-center">
    <div class="col-md-7">
        {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.nature,'title':'Nature','placeholder':'Nature'} %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6">
        {% include 'BaseTheme/datetimepicker.html.twig' with {'field':form.startDate,'title':'Date de début','default_date':default_date} %}
    </div>
    <div class="col-sm-6">
        {% include 'BaseTheme/datetimepicker.html.twig' with {'field':form.endDate,'title':'Date de fin','default_date':default_end_date} %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-sm-5">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-fill btn-primary'},'label': 'Enregistrer'}) }}
    </div>
</div>
{{ form_end(form) }}