{% extends 'base.html.twig' %}

{% block title %}Nouvelle période{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('timerange_redirect_via_agenda',{"agendaId":agenda.id }) }}"
           class="bubble-info"
           aria-label="Retour agenda">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }}
    </h1>
    <div class="container">
        {% include 'Core/TimeRange/_form.html.twig' with {'form' : form} %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
