{% extends 'base.html.twig' %}

{% block title %}Période{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('timerange_redirect',{"id":timerange.id }) }}"
           class="bubble-info"
           aria-label="Retour agenda">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ constant('LABEL',timerange)[timerange.nature] }} :
        {% if customer is not null %}
            {% if customer["type"] == "natural" %}
                <a href="{{ path('core_person_natural_show',{"id":customer["person"].id}) }}">{{ customer["person"].lastName }} {{ customer["person"].firstName }}</a>
                {% if timerange.nature == constant('NATURE_SEARCH',timerange) and timerange.wish is null %}
                    <a class="btn btn-primary" href="{{ path('offer_wish_new_with_timerange',{'personId':person_id,'timeRangeId':timerange.id}) }}">Créer
                        un souhait associé</a>
                {% endif %}
            {% elseif customer["type"] == "legal" %}
                <a href="{{ path('core_person_legal_show',{"id":customer["person"].id}) }}">{{ customer["person"].corporateName }}</a>
            {% else %}
                <a class="btn btn-default" href="{{ path('homepage') }}">Retour tableau de bord</a>
            {% endif %}
        {% endif %}

        {% if timerange.wish is defined and timerange.wish is not null %}
            <a class="btn btn-warning"
               href="{{ path('matching_substitute_one_wish',{'id':timerange.wish.person.id,'oneWishId':timerange.wish.id}) }}">Matching sur le souhait
                associé</a>
            <a class="btn btn-primary" href="{{ path('offer_wish_edit',{'id':timerange.wish.id}) }}">Voir le souhait</a>
        {% endif %}
    </h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ timerange.id }}</td>
        </tr>
        <tr>
            <th>Créateur</th>
            <td>{{ timerange.creator.nickname }}</td>
        </tr>
        <tr>
            <th>Agenda</th>
            <td>{{ timerange.agenda.id }}</td>
        </tr>
        </tbody>
    </table>
    {% if customer is defined and customer is not null %}
        {% if customer['type'] == 'person_legal' %}
            <a class="btn btn-default" href="{{ path('core_person_legal_show',{'id':person_id}) }}">Retour fiche client</a>
        {% elseif customer['type'] == 'person_natural' %}
            <a class="btn btn-default" href="{{ path('core_person_natural_show',{'id':person_id}) }}">Retour fiche
                client</a>
            {% if timerange.nature == constant('NATURE_SEARCH',timerange) and timerange.wish is null %}
                <a class="btn btn-primary"
                   href="{{ path('offer_wish_new_with_timerange',{'personId':person_id,'timeRangeId':timerange.id}) }}">Créer
                    un souhait associé</a>
            {% endif %}
        {% else %}
            <a class="btn btn-default" href="{{ path('homepage') }}">Retour tableau de bord</a>
        {% endif %}
    {% endif %}

    {% include 'Core/TimeRange/_form.html.twig' with {'form' : form, 'timerange': timerange} %}

    <a class="btn btn-default" href="{{ path('timerange_delete_one',{'id':timerange.id}) }}">Supprimer</a>
{% endblock %}
