{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tinymceCss') }}
    {{ encore_entry_link_tags('preWrittenMail') }}
    {{ encore_entry_link_tags('mailExchange') }}
{% endblock %}
{% block body %}
    <div class="row">
        <h1>Définir un mail par défaut
            <a class="bubble-info" aria-label="modifier" href="/mail/manager/edit/mail">
                <i class="fas fa-edit" title="modifier"></i>
            </a>
        </h1>
        <div class="col-md-12">
            <div class="card">
                <form id="mail-sample-form" name="mail-sample-form" data-status="create">
                    <div class="card-header">
                        <label for="mail-sample-title">Intitulé du mail</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="mail-sample-title" name="mail-sample-title">
                            <div id="sample-saving-error" class="error"></div>
                        </div>
                        <label for="mail-sample-content">Contenu du mail</label>
                        <textarea id="mail-sample-content" class="tinymce"></textarea>
                        <input name="image" type="file" id="upload-file" class="d-none" onchange="">
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-fill btn-primary" id="save-sample-mail" value="Enregistrer">
                        <button type="button" id="cancel-sample-mail" class="btn btn-fill btn-default">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tinymceTextarea') }}
    {{ encore_entry_script_tags('preWrittenMail') }}
{% endblock %}