{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tinymceCss') }}
    {{ encore_entry_link_tags('preWrittenMail') }}
    {{ encore_entry_link_tags('mailExchange') }}
{% endblock %}
{% block body %}
    {% if preWrittenMailList|length > 0 %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Choisir le mail à modifier</h1>
                    </div>
                    <div class="card-body mailList">
                        <div class="mail-sample">
                            {% for preWrittenMail in preWrittenMailList %}
                                <div id="sample{{ preWrittenMail.id }}" class="btn list-mail-sample"
                                     data-mail-sample-id="{{ preWrittenMail.id }}">
                                    {{ preWrittenMail.subject }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <form id="mail-sample-form" name="mail-sample-form" data-status="edit" class="d-none">
                        <div class="card-header">
                            <h1>Définir un mail par défaut</h1>
                            <label for="mail-sample-title">Intitulé du mail</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mail-sample-title"
                                       name="mail-sample-title">
                                <div id="sample-saving-error" class="error"></div>
                            </div>
                            <label for="mail-sample-content">Contenu du mail</label>
                            <textarea id="mail-sample-content" class="tinymce"></textarea>
                            <input name="image" type="file" id="upload-file" class="d-none" onchange="">
                        </div>
                        <div class="card-footer">
                            <input type="submit" class="btn btn-fill btn-primary" id="save-sample-mail"
                                   value="Enregistrer">
                            <button type="button" id="cancel-sample-mail" class="btn btn-fill btn-default">Annuler
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Aucun mail prédéfini
            <a class="bubble-info" aria-label="créer" href="/mail/manager/create/mail">
                <i class="fas fa-file" title="créer"></i>
            </a>
        </h1>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tinymceTextarea') }}
    {{ encore_entry_script_tags('preWrittenMail') }}
{% endblock %}