<div class="mail-content">
    <p id="mail-content-greetings" class="mail-content-alterable" title="Modifier le texte">{{ greeting|raw }}</p>
    <p>{{ content|raw }}</p>
    <br>
    <p id="mail-content-thanks" class="mail-content-alterable" title="Modifier le texte">{{ thanks|raw }}</p>
    <p id="mail-content-signature" class="mail-content-alterable" title="Modifier le texte">{{ signature|raw }}</p>
</div>
