{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tinymceCss') }}
    {{ encore_entry_link_tags('preWrittenMail') }}
    {{ encore_entry_link_tags('mailExchange') }}
{% endblock %}
{% block body %}
    <h1>{% if person is defined %}
            Echanges de mails avec
            {% if person.corporateName is defined %}
                {{ person.corporateName }}
            {% else %}
                {{ person.lastName }} {{ person.firstName }}
            {% endif %}
        {% else %}
            Boîte mail de {{ staff.email }}
        {% endif %}
    </h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills nav-pills-primary">
                        {% for mailBoxName,mailBox in mailBoxes %}
                            <li class="nav-item">
                                <a class="nav-link box-choice link-{{ mailBoxName }} {% if mailBoxName=="inBox" %}active{% endif %} "
                                   data-toggle="tab"
                                   data-staff-id="{{ staff.id }}"
                                        {% if person is defined %}
                                            data-client-id="{{ person.id }}"
                                        {% endif %}
                                   href="#{{ mailBoxName }}">
                                    {% if mailBoxName=="inBox" %}Reçus{% else %}Envoyés{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="nav-item">
                            <a id="new-mail" class="nav-link" data-toggle="tab"
                               href="#mail-sample">
                                Rédiger mail
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body mailList">
                    <div class="tab-content tab-space" role="tablist" aria-multiselectable="true">
                        {% for mailBoxName,mailBox in mailBoxes %}
                            <div class="card tab-pane {% if mailBoxName=="inBox" %}active show{% endif %}"
                                 id="{{ mailBoxName }}">
                                {% if mailBoxName=='inBox' %}
                                    <h1>La gestion des mails reçus sont en standby! Merci de votre compréhension </h1>
                                {% endif %}
                            </div>
                            {% if mailBoxName =='sentBox' %}
                                {% if pagination.totalItemCount > 0 %}
                                    <div class="pagination d-none"
                                         data-page-number="{{ pagination.totalItemCount/pagination.itemNumberPerPage }}">
                                    <span class="btn-outline-primary" id="first-mail-page">
                                        <i class="fa fa-chevron-left"></i>
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                        <span class="btn-outline-primary " id="previous-mail-page">
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                        <span id="current-mail-page"></span>
                                        <form id="page-search" name="page-search" class="d-none" method="post">
                                            <input id="input-page-number" type="text" value="1"/>
                                            <input type="submit" class="d-none">
                                        </form>
                                        <span class=" btn-outline-primary" id="next-mail-page">
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                        <span class=" btn-outline-primary" id="last-mail-page">
                                        <i class="fa fa-chevron-right"></i>
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div id="mail-sample" class="card tab-pane mail-sample">
                            <div id="heading" class="btn list-mail-sample"
                                 {% if person is defined %}data-client-mail="{{ clientMail }}"{% endif %}>
                                Nouveau Mail
                            </div>
                            {% for preWrittenMail in preWrittenMailList %}
                                <div id="sample{{ preWrittenMail.id }}" class="btn list-mail-sample"
                                     {% if person is defined %}data-client-mail="{{ clientMail }}"{% endif %}
                                     data-mail-sample-id="{{ preWrittenMail.id }}">
                                    {{ preWrittenMail.subject }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 card d-none mail-content">
            <div class="row" id="received-card">
                <div class="col-md-10">
                    <div id="message-box" class="card-header d-none">
                        <div id="sender-address"></div>
                        <div id="subject-message"></div>
                        <label for="mail-message">Message:</label>
                        <div class="card" id="mail-message"></div>
                        <button id="answer" type="button" class="btn btn-fill btn-default">Répondre</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="attachments-received"></div>
                </div>
            </div>
            <div id="sending-mail-form" class="row d-none">
                <form action="" id="send-mail" name="send-mail" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-header">
                                <label for="subject">Objet</label>
                                <div id="error-subject" class="error"></div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="subject">
                                </div>
                                <label for="email-address">Destinataire</label>
                                <div id="error-mail" class="error"></div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email-address" name="email-address"
                                           data-client-id="{% if person is defined %}{{ person.id }}{% endif %}">
                                </div>
                                <label for="send-message">Message à envoyer</label>
                                <div id="error-message" class="error"></div>
                                <textarea id="send-message" class="tinymce"></textarea>
                                <input name="image" type="file" id="upload-image" class="d-none" onchange="">
                                <div class="card-footer">
                                    <input type="submit" class="btn btn-fill btn-primary" id="send-mail-button"
                                           value="Envoyer">
                                    <button type="button" id="cancel" class="btn btn-fill btn-default">Annuler
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" id="attachment-column">
                            <input name="attachments[]" type="file" id="upload-input-attachment" multiple="multiple"/>
                            <span id="new-attachment" class='btn btn-sm'>joindre un fichier</span>
                            <div id="attachments-list"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person}) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tinymceTextarea') }}
    {{ encore_entry_script_tags('mailExchange') }}
{% endblock %}