{% extends 'base.html.twig' %}

{% block title %}
    Visualisation des Services
{% endblock %}
{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}

            <div class="row">
                <div class="col-11">Liste des services</div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer un nouveau service"
                       data-controller="Core\ServiceController\new">
                        <i class="fas fa-plus"
                           title='Nouveau Service'
                           onclick='popupOnHtmlResponse(this, "{{ url("core_service_new") }}","POST")'></i>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block thead %}
            <th>Id</th>
            <th>Libellé</th>
            <th>Codification</th>
            <th>Actions</th>
        {% endblock %}
        {% block tbody %}
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.codification }}</td>
                    <td>
                        <div class="row">
                            <div class="col-6">
                                <a class="bubble-info" aria-label="Modifier"
                                   data-controller="Core\ServiceController\edit">
                                    <i class="fas fa-pen"
                                       title='Modifier Service'
                                       onclick='popupOnHtmlResponse(this, "{{ url("core_service_edit",{"id":service.id }) }}","POST")'></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <a class=" bubble-info" aria-label="Supprimer"
                                   data-controller="Core\ServiceController\delete">
                                    <i class="fas fa-trash-alt"
                                       onclick='confirmDelete(this,"Confirmez-vous la suppression de ce service ?","{{ url("core_service_delete",{"id":service.id }) }}")'>
                                    </i>
                                </a></div>
                        </div>
                    </td>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun service existant</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
