{{ form_start(form) }}
<div class="card-body">
    {{ form_errors(form) }}
    <div class="row justify-content-center mt-2">
        <div class="col-sm-5">{% include 'BaseTheme/selectpicker.html.twig' with {'field':form.substitutionType, 'title':'Type'} %}</div>
        <div class="col-sm-5">{% include 'BaseTheme/selectpicker.html.twig' with {'field':form.canvasType, 'title':'Nature'} %}</div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-sm-5">
            {% include 'BaseTheme/inputText.html.twig' with {'field':form.label, 'title' : 'Nom du canevas'} %}
        </div>
        <div class="col-sm-5">{% include 'BaseTheme/selectpicker.html.twig' with {'field':form.criteria, 'title':'Critères', 'emptyValue':'Sélectionnez au moins un critère'} %}</div>
    </div>
</div>
<div class="row justify-content-center mt-2">
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-fill btn-primary'}, 'label':'Soumettre'}) }}
</div>
<div class="d-none">{{ form_rest(form) }}</div>

{{ form_end(form) }}

<div id="criterion-type-constants" class="d-none"
     data-bool="{{ constant("TYPE_BOOL",oneCriterion) }}"
     data-integer="{{ constant("TYPE_INTEGER",oneCriterion) }}"
     data-select="{{ constant("TYPE_SELECT",oneCriterion) }}"
     data-date="{{ constant("TYPE_DATE",oneCriterion) }}"
     data-specialty="{{ constant("TYPE_SPECIALTY",oneCriterion) }}"
     data-choice-week="{{ constant("TYPE_CHOICE_WEEK",oneCriterion) }}"
     data-text="{{ constant("TYPE_TEXT",oneCriterion) }}"
     data-file="{{ constant("TYPE_FILE",oneCriterion) }}"
     data-multi-select="{{ constant("TYPE_MULTI_SELECT",oneCriterion) }}"
     data-entity="{{ constant("TYPE_ENTITY",oneCriterion) }}"
     data-json="{{ constant("TYPE_JSON",oneCriterion) }}"
     data-location="{{ constant("TYPE_LOCATION",oneCriterion) }}"
     data-input="{{ constant("TYPE_INPUT",oneCriterion) }}">
</div>

{% if '/new' not in app.request.uri %}
    <div id="change-category-message" style="display:none">Veuillez enregistrer vos modifications afin de pouvoir créer
        / modifier votre canevas.
    </div>
    <div class="card-view-canvas">
        <h1>Disposition des champs dans le canevas
            <a class="bubble-info" aria-label="Voir le Canevas"
               href="{{ url("offer_canvas_show",{"id":canvas.id }) }}">
                <i class="fas fa-eye"></i>
            </a>
        </h1>
        <div class="row justify-content-center content-canvas-edition">
            <div class="col-2 canvas-row-list-element canvas-border-cols">
                {% for criterion in canvasCriteria %}
                    <div class="canvas-criteria options-countable" data-value="{{ criterion['id'] }}"
                         canvas-type="{% if criterion["possible_value"] is not null %}{{ criterion["possible_value"].criterionType }}{% else %}{{ constant('TYPE_TEXT',oneCriterion) }}{% endif %}"
                         {% if criterion['id'] in criterionArray|keys %}style="display:none"{% endif %}>{{ criterion["label"] }}</div>
                {% endfor %}
            </div>
            <div class="col-8">
                <div id="canvas-view-content" class="canvas-view-content">
                    {% if canvas.formDisposition is not null and canvas.formDisposition is not empty %}
                        {% for row in canvas.formDisposition %}
                            <div class='row canvas-another-row'>
                                {% for critera in row %}
                                    {% set criteraId = critera[0] %}
                                    {% set criteraCol = critera[1] %}
                                    <div class='form-group col-{{ criteraCol }} input-in-row'
                                         data-value='{{ criteraId }}' data-col='{{ criteraCol }}'>
                                        {% if criterionArray[criteraId]["type"] == constant("TYPE_BOOL",oneCriterion) %}
                                            <label for='check-option'
                                                   class="full-width">{{ criterionArray[criteraId]["label"] }}</label>
                                            <input class='form-control bootstrap-switch d-block' data-on-label="Oui"
                                                   data-off-label="Non" id='check-option' type='checkbox' checked>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_INTEGER",oneCriterion) %}
                                            <label for='input-option-number'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <input id='input-option-number' class='form-control full-width'
                                                   type='number' value="0" min='0'>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_SELECT",oneCriterion) %}
                                            <label for='input-option-select'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <select id='input-option-select' class='form-control full-width selectpicker'>
                                                <option>Choisissez une option</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>...</option>
                                            </select>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_DATE",oneCriterion) %}
                                            <label for='input-option-date'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <input id='input-option-date' class='form-control datepicker full-width'
                                                   type='date'>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_SPECIALTY",oneCriterion) %}
                                            <label for='input-option-text'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <input id='input-option-text' class='form-control full-width' type='text'
                                                   placeholder='{{ criterionArray[criteraId]["label"] }}'>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_CHOICE_WEEK",oneCriterion) %}
                                            <label for='input-option-multiple'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <select id='input-option-select-multiple' class='form-control selectpicker' multiple>
                                                <option>Lundi Matin</option>
                                                <option>Lundi Après-midi</option>
                                                <option>Mardi Matin</option>
                                                <option>Mardi Après-midi</option>
                                                <option>Mercredi Matin</option>
                                                <option>Mercredi Après-midi</option>
                                                <option>Jeudi Matin</option>
                                                <option>Jeudi Après-midi</option>
                                                <option>Vendredi Matin</option>
                                                <option>Vendredi Après-midi</option>
                                                <option>Samedi Matin</option>
                                                <option>Samedi Après-midi</option>
                                                <option>Dimanche Matin</option>
                                                <option>Dimanche Après-midi</option>
                                            </select>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_TEXT",oneCriterion) %}
                                            <label for='input-option-textarea'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <textarea id='input-option-textarea'
                                                      class='form-control full-width'>{{ criterionArray[criteraId]["label"] }}</textarea>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_FILE",oneCriterion) %}
                                            <div class="fileinput fileinput-new full-width text-center"
                                                 data-provides="fileinput">
                                                <label for="input-option-file">{{ criterionArray[criteraId]["label"] }}</label>
                                                <div class="fileinput-new thumbnail">
                                                    <img alt="...">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                <div>
                                                    <span class="btn btn-rose btn-round btn-file">
                                                        <span class="fileinput-new">Select File</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input id="input-option-file" type="file" accept="image/*">
                                                    </span>
                                                    <a class="btn btn-danger btn-round fileinput-exists"
                                                       data-dismiss="fileinput">
                                                        <i class="fa fa-times"></i> Remove</a>
                                                </div>
                                            </div>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_MULTI_SELECT",oneCriterion)
                                            or criterionArray[criteraId]["type"] == constant("TYPE_JSON",oneCriterion)
                                            or criterionArray[criteraId]["type"] == constant("TYPE_LOCATION",oneCriterion) %}
                                            <label for='input-option-multi-select'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <select id='input-option-multi-select' class='form-control full-width selectpicker' multiple>
                                                <option>Choisissez une option</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>...</option>
                                            </select>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_ENTITY",oneCriterion) %}
                                            <label for='input-option-entity'>{{ criterionArray[criteraId]["label"] }}</label>
                                            <select id='input-option-entity' class='form-control full-width selectpicker' multiple>
                                                <option>Choisissez une option</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>...</option>
                                            </select>

                                        {% elseif criterionArray[criteraId]["type"] == constant("TYPE_INPUT",oneCriterion) %}
                                            <label>{{ criterionArray[criteraId]["label"] }}</label>
                                            <input type="text" class="form-control" placeholder="{{ criterionArray[criteraId]["label"] }}">

                                        {% else %}
                                            <label>{{ criterionArray[criteraId]["label"] }}</label>
                                            <input type="text" placeholder="Text Example">
                                        {% endif %}
                                        <i class='icon-remove tim-icons icon-simple-remove'
                                           onclick='iconRemoveClick({{ criteraId }});'></i>
                                        <i class='tim-icons icon-pencil' onclick="iconEditClick({{ criteraId }});"></i>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class='row canvas-another-row'></div>
                    {% endif %}
                </div>
                <div class="row-btn">
                    <div id="btn-add-row" class="btn">Ajouter une ligne</div>
                    <div id="btn-del-row" class="btn btn-danger d-none">Supprimer la ligne</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div id="btn-add-canvas-disposition" class="btn btn-primary" data-id-canvas="{{ canvas.id }}">
                        Enregistrer le canevas
                    </div>
                </div>
            </div>
            <div id="canvas-row-parameters" class="col-sm-2 canvas-border-cols"></div>
        </div>
    </div>
{% endif %}

<script src="{{ asset('bootstrap/js/core/jquery.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /* DOC CANEVAS -> README.md */

        sortCriteriaList();
        //criterionListUpdate();
        $("#canvas_substitutionType").change(criterionListUpdate);
        $("#canvas_canvasType").change(criterionListUpdate);

        // ajout de ligne pour structurer le canevas (+affichage des options selectionnables(à gauche) et du bouton suppression de ligne)
        $("#btn-add-row").click(function () {
            let nb_lignes = $('.canvas-another-row').length;
            if (nb_lignes > 0) {
                if ($(".canvas-another-row").hasClass("canvas-row-selected")) {
                    let old_row_selected = $(".canvas-row-selected");
                    $(".canvas-another-row").removeClass('canvas-row-selected');
                    old_row_selected.after("<div class='row canvas-another-row canvas-row-selected'></div>");
                } else {
                    $("#canvas-view-content").append("<div class='row canvas-another-row canvas-row-selected'></div>");
                }
            } else {
                $("#canvas-view-content").append("<div class='row canvas-another-row canvas-row-selected'></div>");
            }
            $("#btn-del-row").removeClass("d-none");
            $('.canvas-another-row').click(function () {
                $(".canvas-another-row").removeClass('canvas-row-selected');
                $(this).addClass('canvas-row-selected');
                $("#btn-del-row").removeClass("d-none");
            });
        });

        //suppression de la ligne
        $("#btn-del-row").click(function () {
            let childs_current_row = $('.canvas-row-selected > *');
            childs_current_row.each(function () {
                $(".options-countable[data-value='" + $(this).attr('data-value') + "']").show();
            });
            $(".canvas-row-selected").remove();
            $(this).addClass("d-none");
        });

        //lorsqu'on clique sur un des éléments à gauche
        $(".options-countable").click(function () {
            if ($(".canvas-another-row").hasClass("canvas-row-selected")) {
                let criterion_id = $(this).attr("data-value");
                let criterion_type = $(this).attr("canvas-type");
                let criterion_label = $(this).text();

                let current_row = $(".canvas-row-selected");

                let childs_current_row = $('.canvas-row-selected > *');
                let number_cols_current_row = 0;
                let parsed;
                childs_current_row.each(function () {
                    parsed = parseInt($(this).attr("data-col"), 10);
                    number_cols_current_row += parsed;
                });
                if (number_cols_current_row < 12) {
                    let nb_col_available = 4;
                    if (number_cols_current_row > 8) {
                        nb_col_available = 12 - number_cols_current_row;
                    }
                    let input_string = "<div class='form-group col-" + nb_col_available + " input-in-row' data-value='" + criterion_id + "' data-col='" + nb_col_available + "'>";
                    let div_criterion_type_constants = $("#criterion-type-constants");
                    switch (criterion_type) {
                        case div_criterion_type_constants.attr("data-bool"):
                            input_string += "<label for='check-option' class='full-width'>" + criterion_label + "</label><input class='form-control bootstrap-switch full-width' data-on-label='Oui' data-off-label='Non' id='check-option' type='checkbox' checked>";
                            break;
                        case div_criterion_type_constants.attr("data-integer"):
                            input_string += "<label for='input-option-number'>" + criterion_label + "</label><input id='input-option-number' class='form-control full-width' type='number' min='0'>";
                            break;
                        case div_criterion_type_constants.attr("data-select"):
                            input_string += "<label for='input-option-select'>" + criterion_label + "</label><select id='input-option-select' class='form-control full-width selectpicker'><option>Choisissez une option</option><option>Option 1</option><option>Option 2</option><option>...</option></select>";
                            break;
                        case div_criterion_type_constants.attr("data-date"):
                            input_string += "<label for='input-option-date'>" + criterion_label + "</label><input id='input-option-date' class='form-control full-width' type='date'>";
                            break;
                        case div_criterion_type_constants.attr("data-specialty"):
                            input_string += "<label for='input-option-text'>" + criterion_label + "</label><input id='input-option-text' class='form-control full-width' type='text' placeholder='" + criterion_label + "'>";
                            break;
                        case div_criterion_type_constants.attr("data-choice-week"):
                            input_string += "<label for='input-option-multiple'>" + criterion_label + "</label><select id='input-option-select-multiple' class='form-control full-width selectpicker' multiple><option>Lundi Matin</option><option>Lundi Après-midi</option><option>Mardi Matin</option><option>Mardi Après-midi</option><option>Mercredi Matin</option><option>Mercredi Après-midi</option><option>Jeudi Matin</option><option>Jeudi Après-midi</option><option>Vendredi Matin</option><option>Vendredi Après-midi</option><option>Samedi Matin</option><option>Samedi Après-midi</option><option>Dimanche Matin</option><option>Dimanche Après-midi</option></select>";
                            break;
                        case div_criterion_type_constants.attr("data-text"):
                            input_string += "<label for='input-option-textarea'>" + criterion_label + "</label><textarea id='input-option-textarea' class='form-control full-width'>" + criterion_label + "</textarea>";
                            break;
                        case div_criterion_type_constants.attr("data-file"):
                            input_string += "<div class=\"fileinput fileinput-new full-width text-center\" data-provides=\"fileinput\">" +
                                "<label for='input-option-file'>" + criterion_label + "</label>" +
                                "<div class=\"fileinput-new thumbnail\">" +
                                "<img alt=\"image\">" +
                                "</div>" +
                                "<div class=\"fileinput-preview fileinput-exists thumbnail\"></div>" +
                                "<div>" +
                                "<span class=\"btn btn-rose btn-round btn-file\">" +
                                "<span class=\"fileinput-new\">Select File</span>" +
                                "<span class=\"fileinput-exists\">Change</span>" +
                                "<input id='input-option-file' type=\"file\" name=\"...\" accept=\"image/*\" />" +
                                "</span>" +
                                "<a class=\"btn btn-danger btn-round fileinput-exists\" data-dismiss=\"fileinput\"><i class=\"fa fa-times\"></i> Remove</a>" +
                                "</div>" +
                                "</div>";
                            $(".fileinput").parent().addClass("text-center");
                            break;
                        case div_criterion_type_constants.attr("data-json"):
                        case div_criterion_type_constants.attr("data-location"):
                        case div_criterion_type_constants.attr("data-multi-select"):
                            input_string += "<label for='input-option-multi-select'>" + criterion_label + "</label>" +
                                "<select id='input-option-multi-select' class='form-control full-width selectpicker' multiple>" +
                                "<option>Choisissez une option</option>" +
                                "<option>Option 1</option>" +
                                "<option>Option 2</option>" +
                                "<option>...</option>" +
                                "</select>";
                            break;
                        case div_criterion_type_constants.attr("data-entity"):
                            input_string += "<label for='input-option-entity'>" + criterion_label + "</label>" +
                                "<select id='input-option-entity' class='form-control full-width selectpicker' multiple>" +
                                "<option>Choisissez une option</option>" +
                                "<option>Option 1</option>" +
                                "<option>Option 2</option>" +
                                "<option>...</option>" +
                                "</select>";
                            break;
                        case div_criterion_type_constants.attr("data-input"):
                            input_string += "<label>" + criterion_label + "</label>" +
                                "<input type=\"text\" class=\"form-control\" placeholder='" + criterion_label + "'>";
                            break;
                    }
                    input_string += "<i class='icon-remove tim-icons icon-simple-remove' onclick='iconRemoveClick(" + criterion_id + ");'></i><i class='tim-icons icon-pencil' onclick='iconEditClick(" + criterion_id + ");'></i></div>";
                    current_row.append(input_string);
                    $(".selectpicker").selectpicker();
                    $(this).hide();
                } else {
                    swal({
                        type: 'warning',
                        title: 'La ligne est pleine',
                        text: 'Essayez de réduire la taille des champs ou créez/sélectionnez une nouvelle ligne'
                    });
                }
            } else {
                swal({
                    type: 'warning',
                    title: 'Vous devez d\'abord choisir une ligne.'
                });
            }

        });

        //Au click sur une ligne
        $('.canvas-another-row').click(function () {
            $(".canvas-another-row").removeClass('canvas-row-selected');
            $(this).addClass('canvas-row-selected');
            $("#btn-del-row").removeClass("d-none");
        });

        //On enregistre la disposition du canevas créé par l'utilisateur. Ce qui est stocké est un tableau json. Le format de ce tableau est détaillé ci-dessous
        $("#btn-add-canvas-disposition").click(function () {
            let id_canvas = $(this).attr("data-id-canvas");

            //format de tableau : id_row_1=>[index1=>[id_crit_1,"taille_colonne"],index2=>[id_crit_2,"taille_colonne"]]
            let tab_options = [];
            let tabJSON;
            $(".canvas-another-row").each(function (index_row) {
                //c'est un objet car sinon il y des soucis d'index
                tab_options[index_row] = {};
                $(this).children("div").each(function (index) {
                    let id_option = $(this).attr("data-value");
                    tab_options[index_row][index] = [id_option, $(this).attr("data-col")];
                });
            });
            tabJSON = JSON.stringify(tab_options);
            showWaitingSpinner();
            $.ajax({
                type: "POST",
                url: "/offer/canvas/" + id_canvas + "/edit/disposition",
                data: tabJSON,
                dataType: 'json',
                success: function () {
                    hideWaitingSpinner();
                    swal({
                        type: 'success',
                        title: 'Canevas bien enregistré !'
                    });
                },
                error: function () {
                    hideWaitingSpinner();
                    swal({
                        type: 'error',
                        title: 'Erreur',
                        text: 'Echec de l\'envoi des données... Actualisez la page et réessayez.'
                    });
                }
            });
        });
    });

    function iconRemoveClick(id_option) {
        $(".options-countable[data-value='" + id_option + "']").show();
        $(".input-in-row[data-value='" + id_option + "']").remove();
    }

    function iconEditClick(id_option) {
        let nb_col_option = $(".input-in-row[data-value='" + id_option + "']").attr('data-col');
        $("#canvas-row-parameters").html("");
        $("#canvas-row-parameters").append("<div id='section-param-option'>" +
            "<div>Edition de l'option : <strong>" + $(".options-countable[data-value='" + id_option + "']").text() + "</strong>" +
            "</div>Taille : " +
            "<input id='input-range-view-canvas' type='range' min='1' max='12' value='" + nb_col_option + "' onchange='lengthOption(" + id_option + ");' oninput='displayRange();'>" +
            "<span id='display-number-range'>" + nb_col_option + "</span></div>");
    }

    function lengthOption(id_option) {
        let current_option = $(".input-in-row[data-value='" + id_option + "']");
        let childs_current_row = $('.canvas-row-selected').children();
        let number_cols_current_row = 0;
        let parsed;
        childs_current_row.each(function () {
            parsed = parseInt($(this).attr("data-col"), 10);
            number_cols_current_row += parsed;
        });

        let nb_col_option = parseInt(current_option.attr("data-col"), 10);
        let range_val = $("#input-range-view-canvas").val();

        $("#display-number-range").text(range_val);

        let max_col_possible = 12 - (number_cols_current_row - nb_col_option);

        if (range_val > max_col_possible) {
            if (max_col_possible == 0) {
                swal({
                    type: 'warning',
                    title: 'Les éléments sur cette ligne prennent déjà toute la place.'
                });
            } else {
                swal({
                    type: 'warning',
                    title: 'Vous ne pouvez pas mettre une taille aussi grande sinon les éléments ne tiendront pas dans la ligne ! Essayez avec une valeur plus petite.'
                });
            }
        } else {
            current_option.removeClass("col-" + nb_col_option + "");
            current_option.addClass("col-" + range_val + "");
            current_option.attr("data-col", range_val);
        }
    }

    function displayRange() {
        $("#display-number-range").text($("#input-range-view-canvas").val());
    }

    function criterionListUpdate() {
        let substitution_type_id = $("#canvas_substitutionType").val();
        let substitution_nature_id = $("#canvas_canvasType").val();
        let canvas_criteria = $("#canvas_criteria");
        let div_button_text = $(canvas_criteria).parent().find(".dropdown-toggle");
        let button = div_button_text.attr('title').split(', ');
        div_button_text.attr("title", 'Chargement...');
        div_button_text.children("span").text('Chargement...');
        $.ajax({
            type: "POST",
            url: "/offer/canvas/ajax/" + substitution_type_id + "/" + substitution_nature_id + "/criteria",
            async:true,
            success: function (data) {
                let select = canvas_criteria.parent().children(".dropdown-menu").children("ul").children('li');
                select.each(function () {
                    $(this).show();
                    if (!data.includes(parseInt($(this).attr('data-original-index'), 10) + 1)) {//+1 car l'index en base de données commence à 1 et pas à 0
                        $(this).hide();
                        if (button.includes($(this).children("a").children('.text').text())) {
                            button.splice(button.indexOf($(this).children("a").children().text()), 1);
                        }
                        $("#canvas_criteria option[value=" + (parseInt($(this).attr('data-original-index'), 10) + 1) + "]").attr('selected', false);
                        $(this).removeClass('selected');
                        $(this).children('a').attr('aria-selected', false);
                    }else{
                        if (!button.includes($(this).children("a").children('.text').text())) {
                            button.splice(0, 0,$(this).children("a").children().text());
                        }
                        $("#canvas_criteria option[value=" + (parseInt($(this).attr('data-original-index'), 10) + 1) + "]").attr('selected', true);
                        $(this).addClass('selected');
                        $(this).children('a').attr('aria-selected', true);
                    }
                });
                let button_text = button.join(', ');
                div_button_text.attr("title", button_text);
                div_button_text.children("span").text(button_text);
            }
        });
    }

    function sortCriteriaList() {
        let options = $("#canvas_criteria option");
        let select = $("#canvas_criteria").parent().children(".dropdown-menu").children("ul");
        let select_options = select.children('li');
        select.html('');
        let criteria_elements = [];
        let criteria_labels_sorted = [];
        let criteria_labels = [];
        options.each(function (key, element) {
            criteria_elements[key] = select_options[key];
            criteria_labels_sorted[key] = $(element).text();
            criteria_labels[key] = $(element).text();
        });
        criteria_labels_sorted.sort();
        criteria_labels_sorted.forEach(function (text) {
            select.append(criteria_elements[criteria_labels.indexOf(text)]);
        });
    }
</script>