{% extends 'base.html.twig' %}

{% block title %}Nouveau canevas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('canvas') }}
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}
        <a class="bubble-info" aria-label="Retour à la liste" href="{{ path('offer_canvas_index') }}">
            <i class="fas fa-list return"></i>
        </a>
    </h1>

    {{ include('Offer/Canvas/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
