{% set isValidOnCall = false %}
{% if onCall is defined and onCall is not null and onCall is not empty %}
    {% set isValidOnCall = true %}
{% endif %}
<div id="on-call-form" class="on-call-form d-none">
    <input type="hidden" id="on-call-hidden-input" name="onCall[displayed]" value="false">
    {% if errors is defined and errors is not empty %}
        <div class="row on-call-form-rows alert alert-danger">
            {% for error in errors %}
            <div>- {{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row on-call-form-rows">
        <div class="col-md-2">
            <label for="on-call-nb-days">Nombre de jours</label>
            <select id="on-call-nb-days" name="onCall[nb_days]" class="selectpicker">
                {% for i in 1..5 %}
                    <option value="{{ i }}" {{ ( (isValidOnCall and onCall['nb_days'] == i) ? 'selected' : '' ) }}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% set nbDays = 1 %}
    {% if isValidOnCall %}
        {% set nbDays = onCall['nb_days'] %}
    {% endif %}
    {% for i in 1..5 %}
        <div class="row on-call-dates on-call-form-rows {{ (i > nbDays) ? 'd-none' : '' }}" data-index="{{ i }}">
            <div class="col-md-3">
                <label>Date</label>
                <input type="date" name="onCall[dates][{{ i }}][day]" value="{{ (isValidOnCall) ? onCall['dates'][i]['day'] : '' }}" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Heure Début</label>
                <input type="number" name="onCall[dates][{{ i }}][start]" value="{{ (isValidOnCall) ? onCall['dates'][i]['start'] : '20' }}" class="form-control" min="0" max="23">
            </div>
            <div class="col-md-2">
                <label>Heure Fin</label>
                <input type="number" name="onCall[dates][{{ i }}][end]" value="{{ (isValidOnCall) ? onCall['dates'][i]['end'] : '3' }}" class="form-control" min="0" max="23">
            </div>
        </div>
    {% endfor %}
    <div class="row on-call-form-rows">
        <div class="col-md-4">
            <label>Pour un secteur de combien de médecins ?</label>
            <input type="text" name="onCall[nb_doctors]" value="{{ (isValidOnCall) ? onCall['nb_doctors'] : '' }}" class="form-control">
        </div>
        <div class="col-md-5">
            <label></label>
            <div>
                de <input type="number" name="onCall[min_patient]" value="{{ (isValidOnCall) ? onCall['min_patient'] : '' }}" min="0" max="1000" class="form-control on-call-nb-patients-field">
                à <input type="number" name="onCall[max_patient]" value="{{ (isValidOnCall) ? onCall['max_patient'] : '' }}" min="0" max="1000" class="form-control on-call-nb-patients-field"> patients
            </div>
        </div>
        <div class="col-md-2">
            <label>Régulée par le 15 ?</label><br>
            <input type="checkbox" name="onCall[regulated]" {{ (not isValidOnCall or (onCall['regulated'] is defined and onCall['regulated'] == 'on')) ? 'checked' : '' }} class="bootstrap-switch" data-on-label="<i class='tim-icons icon-check-2'></i>" data-off-label="<i class='tim-icons icon-simple-remove'></i>">
        </div>
    </div>
    <div class="row on-call-form-rows">
        <div class="col-md-4">
            <label>Rétrocession d'honoraires</label>
            <select name="onCall[retrocession]" class="selectpicker">
                {% for i in [70,80,90,100] %}
                    <option value="{{ i }}" {{ ( (isValidOnCall and onCall['retrocession'] == i) ? 'selected' : '' ) }}>
                        {{ i }} %</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label>Indemnités CPAM reversées au remplaçant ?</label>
            <select id="on-call-compensation-choice" name="onCall[compensation][choice]" class="selectpicker">
                <option value="oui" {{ ( (isValidOnCall and onCall['compensation']['choice'] == 'oui') ? 'selected' : '' ) }}>Oui</option>
                <option value="non" {{ ( (not isValidOnCall or onCall['compensation']['choice'] == 'non') ? 'selected' : '' ) }}>Non</option>
            </select>
        </div>
        <div id="on-call-compensation-value-div" class="col-md-2 d-none">
            <label>Montant</label>
            <select name="onCall[compensation][value]" class="selectpicker">
                <option value="150" {{ ( (isValidOnCall and onCall['compensation']['value'] == '150') ? 'selected' : '' ) }}>150€ /12h</option>
                <option value="100" {{ ( (isValidOnCall and onCall['compensation']['value'] == '100') ? 'selected' : '' ) }}>100€ de 0h à 8h</option>
                <option value="50" {{ ( (isValidOnCall and onCall['compensation']['value'] == '50') ? 'selected' : '' ) }}>50€ de 20h à 0h</option>
            </select>
        </div>
    </div>
</div>
