{% extends 'base.html.twig' %}

{% block title %}Liste des canevas{% endblock %}

{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="row">
                <div class="col-11">Liste des canevas</div>
                <div class="col-1">
                    <a class="bubble-info" aria-label="Créer un nouveau canevas"
                       data-controller="Offer\CanvasController\new"
                       href="{{ url('offer_canvas_new') }}">
                        <i class="tim-icons icon-simple-add"></i>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block thead %}
            <th>Id</th>
            <th>Nom</th>
            <th>Nature</th>
            <th>Type</th>
            <th>actions</th>
        {% endblock %}
        {% block tbody %}
            {% for canvasOne in canvas %}
                <tr>
                    <td>{{ canvasOne.id }}</td>
                    <td>{{ canvasOne.label }}</td>
                    <td>{{ constant('LABEL',canvasOne)[canvasOne.canvasType] }}</td>
                    <td>{{ constant('LABEL',canvasOne.substitutionType)[canvasOne.substitutionType.substitutionType] }}</td>
                    <td>
                        <a class="bubble-info" aria-label="Visualiser" data-controller="Offer\CanvasController\show"
                           href="{{ url("offer_canvas_show",{"id":canvasOne.id }) }}">
                            <i class="tim-icons icon-eye-19"></i>
                        </a>
                        <a class="bubble-info" aria-label="Modifier" data-controller="Offer\CanvasController\edit"
                           href="{{ url("offer_canvas_edit",{"id":canvasOne.id }) }}">
                            <i class="tim-icons icon-pencil"></i>
                        </a>
                        <a class=" bubble-info" aria-label="Supprimer"
                           data-controller="Offer\CanvasController\delete">
                            <i class="tim-icons icon-simple-remove"
                               onclick='confirmDelete(this,"Confirmez-vous la suppression de ce canevas ?","{{ url("offer_canvas_delete",{"id":canvasOne.id }) }}")'>
                            </i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun canevas trouvé</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
