{% extends 'base.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('canvas') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ canvas.label }} [{{ canvas.id }}]
                <a aria-label="Modifier"
                   href="{{ url("offer_canvas_edit",{"id":canvas.id }) }}">
                    <i class="fas fa-edit"></i>
                </a>
            </h1>
        </div>
    </div>
    <div class="container">
        <div id="show-old-form" class="col-md-12">
            {% include "BaseTheme/CriterionCanvas/criterionCanvasFormFields.html.twig" with {'canvasType': canvasType} %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('criterion') }}
{% endblock %}
