<div class="col-md-10 mr-auto ml-auto">
    <!--      Wizard container        -->
    <div id="form-person-natural" class="wizard-container">
        <div class="card card-wizard" data-color="primary" id="wizardProfile">
            {{ form_start(form) }}
            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="card-header text-center">
                <div class="wizard-navigation">
                    <div class="progress-with-circle">
                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1"
                             aria-valuemax="3" style="width: 21%;"></div>
                    </div>
                    <ul id="form-person-natural-navigation-ul">
                        <li id="create-person-nav-item-first-child" class="nav-item">
                            <a class="nav-link active" href="#about" data-toggle="tab">
                                <i class="tim-icons icon-single-02"></i>
                                <p>Informations personnelles</p>
                            </a>
                        </li>
                        <li id="person-natural-step-search-group-nav" class="nav-item person-natural-step-search-group">
                            <a class="nav-link" href="#link" data-toggle="tab">
                                <i class="tim-icons icon-single-02"></i>
                                <p>Cabinet de groupe</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#account" data-toggle="tab">
                                <i class="tim-icons icon-settings-gear-63"></i>
                                <p>Informations</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#address" data-toggle="tab">
                                <i class="tim-icons icon-delivery-fast"></i>
                                <p>Autres</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane show active create-person-content-item-first-child" id="about">
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-5">
                                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.lastName,'title':'Nom'} %}
                                    {% block icon %}<i class="fas fa-user"></i>{% endblock %}
                                {% endembed %}
                            </div>
                            <div class="col-sm-5">
                                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.firstName,'title':'Prénom'} %}
                                    {% block icon %}<i class="far fa-user"></i>{% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                        <div id="list-person-name-exists" class="alert alert-warning d-none"></div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-4">
                                <span class="d-none" id="substitute-jobnames" data-value="{{ (substituteJobnames ?? [])|json_encode }}"></span>
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.mainJobName,'title':'Catégorie','placeholder':'Catégorie','emptyValue':'Aucune Catégorie'} %}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-2">
                                <div class="row">
                                    <i class="fas fa-at"></i> Adresse Mail &nbsp;
                                    <i id="add-another-mail-address" class="fas fa-plus add-another-collection-widget"
                                       data-list-selector="#mail-fields-list"></i>
                                </div>
                                <div class="row">
                                    <div class="form-error">
                                        {% for error in form.vars.errors %}
                                            {% if error.message is not null or 'mails' in error.cause.propertyPath %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul id="mail-fields-list"
                                    data-prototype='{% apply escape %}{{ include('BaseTheme/mailForm.html.twig', {'form':form.mails.vars.prototype,'onkeyup':"checkDuplicateMail(this)"}) }}{% endapply %}'
                                    data-widget="{{ '<li class="row"> </li>'|e }}"
                                    data-widget-counter="{{ form.children|length }}">
                                    {% for mail in form.mails %}
                                        <li class="row">
                                            {{ include('BaseTheme/mailForm.html.twig', {'form':mail,'onkeyup':"checkDuplicateMail(this)"}) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-2">
                                <i class="fas fa-phone"></i> Téléphone <i
                                        id="add-another-phone-number"
                                        class="fas fa-plus add-another-collection-widget"
                                        data-list-selector="#phone-fields-list"></i>
                            </div>
                            <div class="col-sm-8">
                                <ul id="phone-fields-list"
                                    data-prototype='{% apply escape %}{{ include('BaseTheme/telephoneForm.html.twig', {'form':form.telephones.vars.prototype,'onkeyup':"checkDuplicatePhoneNumber(this)"}) }}{% endapply %}'
                                    data-widget="{{ '<li class="row"> </li>'|e }}"
                                    data-widget-counter="{{ form.children|length }}">
                                    {% for phone in form.telephones %}
                                        <li class="row align-middle">
                                            {{ include('BaseTheme/telephoneForm.html.twig', {'form':phone,'onkeyup':"checkDuplicatePhoneNumber(this)"}) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-2">
                                <i class="fas fa-address-card"></i>
                                Adresses postales
                                <i id="add-another-postal-address" class="fas fa-plus add-another-collection-widget"
                                   data-list-selector="#address-fields-list"></i>
                            </div>
                            <div class="col-sm-8">
                                <ul id="address-fields-list"
                                    data-prototype='{% apply escape %}{{ include('BaseTheme/addressForm.html.twig', {'form':form.addresses.vars.prototype}) }}{% endapply %}'
                                    data-widget="{{ '<li class="row"> </li>'|e }}"
                                    data-widget-counter="{{ form.children|length }}">
                                    {% for address in form.addresses %}
                                        <li class="row">
                                            {{ include('BaseTheme/addressForm.html.twig', {'form':address}) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="text-center tab-pane person-natural-step-search-group person-natural-step-search-group-content"
                         id="link">
                    </div>
                    <div class="tab-pane" id="account">
                        <h5 class="info-text"> Informations </h5>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-6 {% if '/new' not in app.request.uri %}d-none{% endif %}">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.origin,'title':'Origine de la création','placeholder':'Origine de la création','emptyValue':'Aucune Origine'} %}
                            </div>
                            <div class="col-md-6">
                                {% include 'BaseTheme/inputText.html.twig' with {'field':form.birthDate,'title':'Date de naissance'} %}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-6">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.gender,'title':'Genre','placeholder':'Genre','emptyValue':'Choisir un genre'} %}
                            </div>
                            <div class="col-md-6">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.advisor,'title':'Portefeuille CR','placeholder':'Portefeuille CR','emptyValue':'Non Affecté'} %}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-md-6">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.jobStatus,'title':"Type d'exercice",'placeholder':"Type d'exercice",'emptyValue':"Aucun type d'exercice"} %}
                            </div>
                            <div class="col-md-6">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.personStatus,'title':'Statut','placeholder':'Statut','emptyValue':'Aucun Statut'} %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="address">
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-5">
                                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.RPPSNumber,'title':'Numéro RPPS'} %}
                                    {% block icon %}<i class="far fa-user"></i>{% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-5">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.diploma,'title':'Diplome','placeholder':'Diplome','emptyValue':'Aucun diplome'} %}
                            </div>
                            <div class="col-sm-5">
                                {% embed 'BaseTheme/inputTextIcon.html.twig' with {'field':form.yearsExperience,'title':"Nombre d'année d'expérience"} %}
                                    {% block icon %}<i class="far fa-user"></i>{% endblock %}
                                {% endembed %}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-5">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.specialty,'title':'Choix des spécialités','placeholder':'Choix des spécialités','emptyValue':'Aucune spécialité'} %}
                            </div>
                            <div class="col-sm-5">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.skills,'title':'Choix des compétences','placeholder':'Choix des compétences','emptyValue':'Aucune compétence'} %}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-5">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.formations,'title':'Choix des formations','placeholder':'Choix des formations','emptyValue':'Aucune formation'} %}
                            </div>
                            <div class="col-sm-5">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.orientations,'title':'Choix des orientations','placeholder':'Choix des orientations','emptyValue':'Aucune orientation'} %}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-5">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':form.capacities,'title':"Disciplines complémentaires d'exercice autorisée",'placeholder':'Choix des capacités','emptyValue':'Aucune capacité'} %}
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center mt-5">
                            <div class="col-sm-8">
                                {% include 'Core/Note/informationForm.html.twig' with {'form':form.additionalInformation} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Suivant'>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-finish btn-fill btn-primary'},'label':'Enregistrer'}) }}
                </div>
                <div class="pull-left">
                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                           value='Précédent'>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="d-none">{{ form_rest(form) }}</div>
            {{ form_end(form) }}
        </div>
        <div id="div-form-create-person-natural-quarantaine" class="d-none"></div>
        <span id="form-person-natural-edit" class="d-none">{% if '/new' not in app.request.uri %}:D{% endif %}</span>
    </div>
    <!-- wizard container -->
</div>