{% extends 'base.html.twig' %}

{% block title %}
    Rechercher une offre
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('personNaturalAssociateOffer') }}
{% endblock %}

{% block body %}
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : PersonNatural}) }}
    <h1>{{ block('title') }}pour <a href="{{ url('core_person_natural_show',{'id':PersonNatural.id}) }}">{{ PersonNatural }}</a></h1>
    {{ form_start(form) }}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <small>ID de l'offre</small>
                <input type="number" id="offer-id-search-field" data-href="{{ path('ajax_search_offer_request') }}" class="form-control">
                <input type="hidden" id="offer_to_associate" name="offer_to_associate">
                <div id="loader-search-container" class="d-none">
                    <div id="loader-search"></div>
                </div>
                <div id="result-research-offer" class="d-none">
                    <div>Offre trouvée :</div>
                    <table id="offer-result-research-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Etat</th>
                            <th>Créateur</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a id="result-research-offer-id" data-href="{{ path('offer_offer_show', {'id' : 1}) }}"></a>
                            </td>
                            <td>
                                <a id="result-research-offer-state"></a>
                            </td>
                            <td>
                                <a id="result-research-offer-person" data-href="{{ path('core_person_natural_show', {'id' : 1}) }}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="error-offer-search" class="alert alert-danger d-none" role="alert"></div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div id="add_offer_to_person_natural_submit-container" class="col-sm-10 text-center d-none">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-fill btn-primary'},'label':'Pourvoir cette offre'}) }} {# TODO : Gérer le fait de pourvoir une offre #}
                {% if PersonNatural.mails|length > 0 %}
                    <div id="search-offer-send-offer-btn" class="btn btn-default"><i class="fas fa-envelope text-white"></i> Envoyer par mail</div>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personNaturalAssociateOffer') }}
{% endblock %}

