{% extends 'base.html.twig' %}
{% block title %}Édition client{% endblock %}

{% block body %}
    <div id="info-bridge" class="d-none" data-person-natural-id="{{ personNatural.id }}"></div>
    <h1>
        <a href="{{ path('core_person_natural_show',{'id':personNatural.id}) }}"
           class=" bubble-info"
           aria-label="Retour fiche client">
            <i class="fas fa-arrow-left"></i>
        </a>
        {{ block('title') }} {{ personNatural.name }}
    </h1>
    {% include 'Core/PersonNatural/_form.html.twig' with {'isCFML' : isCFML} %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personNatural') }}
{% endblock %}