{% extends 'base.html.twig' %}
{% block title %}Matching Remplaçant{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('matchingSubstitute') }}
{% endblock %}

{% block body %}
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : person}) }}
    <h1>
        {{ block('title') }} : <a href="{{ path('core_person_natural_show',{'id':person.id}) }}">{{ person.firstName }} {{ person.lastName }}</a>
    </h1>
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if isOneWish == false %}
                    <ul class="nav nav-pills nav-pills-primary">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#Liberal">
                                Libéral {% if numberWishes['Liberal'] > 0 %}<b>({{ numberWishes['Liberal'] }})</b>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Salariat">
                                Salariat {% if numberWishes['Salariat'] > 0 %}<b>({{ numberWishes['Salariat'] }})</b>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Cession">
                                Cession / Association {% if numberWishes['Cession'] > 0 %}<b>({{ numberWishes['Cession'] }})</b>{% endif %}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">
                        {% set i = 1 %}
                        {% for type, wishes in resultMatching %}
                            <div class="tab-pane {% if i == 1 %}active show{% endif %}" id="{{ type }}">
                                <div id="accordion-matching{{ i }}" class="card-collapse" role="tablist" aria-multiselectable="true">
                                    {% for rowWish in wishes %}
                                        <div class="card card-plain matching-accordion-card">
                                            <div class="card-header" id="wish{{ rowWish['wish'].id }}">
                                                <a data-toggle="collapse" data-parent="#accordion-matching{{ i }}"
                                                   href="#collapseWish{{ rowWish['wish'].id }}" aria-expanded="false"
                                                   aria-controls="collapseWish{{ rowWish['wish'].id }}" class="collapsed">
                                                    Souhait
                                                    n°<b>{{ rowWish['wish'].id }}</b>, {{ constant('LABEL',oneSubstitutionType)[rowWish['wish'].canvas.substitutionType.substitutionType] }}
                                                    . Du <span
                                                            class="text-underline">{{ rowWish['wish'].timeRange.startDate|date("d/m/Y") }}</span> au
                                                    <span class="text-underline">{{ rowWish['wish'].timeRange.endDate|date("d/m/Y") }}</span> {% if rowWish['offers'] is defined and rowWish['offers'] is not empty %}
                                                        <b>({{ rowWish['offers']|length }} résultat{% if rowWish['offers']|length > 1 %}s{% endif %}
                                                        )</b>{% endif %}
                                                    <small class="matching-see-wish matching-see-substitution"
                                                           data-href="{{ path('offer_wish_edit',{'id':rowWish['wish'].id}) }}">voir le souhait</small>
                                                    <i class="tim-icons icon-minimal-down"></i>
                                                </a>
                                            </div>
                                            <div id="collapseWish{{ rowWish['wish'].id }}" class="collapse" role="tabpanel"
                                                 aria-labelledby="wish{{ rowWish['wish'].id }}" style="">
                                                <div class="card-body">
                                                    {% if rowWish['offers'] is defined and rowWish['offers'] is not empty %}
                                                        {% embed 'BaseTheme/datatable.html.twig' with {'class':'matching-substitute-table-container',
                                                            "tableClass":"datatables-matching",'header':'no-header','textCenter':'text-center',
                                                            'tableId':'resultMatching-table'~rowWish['wish'].id,'data_wish_id':rowWish['wish'].id } %}
                                                            {% block thead %}
                                                                <th></th>
                                                                <th>ID</th>
                                                                <th>Nom</th>
                                                                <th>Créateur</th>
                                                                <th>Début</th>
                                                                <th>Fin</th>
                                                                <th>Taux de correspondance</th>
                                                                <th>Distance</th>
                                                            {% endblock %}
                                                            {% block tbody %}
                                                                {% for offer in rowWish['offers'] %}
                                                                    <tr id="row-offer-{{ offer['offer'].id }}-{{ rowWish['wish'].id }}">
                                                                        <td>
                                                                            <input type="checkbox" data-wish-id="{{ rowWish['wish'].id }}"
                                                                                   autocomplete="off" name="selectedOffers[]"
                                                                                   value="{{ offer['offer'].id }}" class="checkboxes-select-offers">
                                                                        </td>
                                                                        <td>
                                                                            <a href="{{ path('offer_offer_edit',{'id':offer['offer'].id}) }}"
                                                                               target="_blank" title="voir l'offre">{{ offer['offer'].id }}</a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="{{ path('offer_offer_edit',{'id':offer['offer'].id}) }}"
                                                                               target="_blank"
                                                                               title="voir l'offre">{{ offer['offer'].canvas.label }}</a>
                                                                        </td>
                                                                        <td>
                                                                            <a title="voir le profil"
                                                                               href="{% if offer['offer'].person|instanceof('PersonLegal') %}{{ path('core_person_legal_show',{'id':offer['offer'].person.id}) }}{% else %}{{ path('core_person_natural_show',{'id':offer['offer'].person.id}) }}{% endif %}"
                                                                               target="_blank">{% if offer['offer'].person|instanceof('PersonNatural') %}Dr {% endif %}{{ offer['offer'].person.name }}</a>
                                                                        </td>
                                                                        <td>{{ offer['offer'].startingDateOrAsap }}{% if offer['isStartDateModulable'] == true %}
                                                                                <i class="fab fa-medium-m modularity-icon"
                                                                                   title="Date de début modulable"></i>{% endif %}</td>
                                                                        <td>
                                                                            {{ offer['offer'].readableEndDate }}{% if offer['isEndDateModulable'] is defined and offer['isEndDateModulable'] == true %}
                                                                                <i class="fab fa-medium-m modularity-icon"
                                                                                   title="Date de fin modulable"></i>{% endif %}
                                                                        </td>
                                                                        <td>{{ offer['percentage']|round(1,'floor') }}%</td>
                                                                        <td>{% if offer['distance'] is not null %}{{ offer['distance'] }} Km{% else %}Invalide
                                                                                <i class="fas fa-question-circle form-tooltip"
                                                                                   data-tiptext="Il se peut qu'une des adresses renseignées (côté rempla ou côté dépositaire) soit invalide"></i>{% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endblock %}
                                                        {% endembed %}
                                                        <button class="btn btn-primary btn-round btn-icon btn-send-mail-selected-offers"
                                                                data-dependency-id="resultMatching-table{{ rowWish['wish'].id }}"
                                                                data-person-id="{{ person.id }}" data-wish-id="{{ rowWish['wish'].id }}"
                                                                title="Envoyer par mail les offres sélectionnées">
                                                            <i class="tim-icons icon-email-85"></i>
                                                        </button>
                                                        <button class="btn btn-primary btn-round btn-icon btn-remove-from-matching"
                                                                data-dependency-id="resultMatching-table{{ rowWish['wish'].id }}"
                                                                data-wish-id="{{ rowWish['wish'].id }}"
                                                                title="Retirer du matching, pour ce souhait, les offres sélectionnées">
                                                            <i class="tim-icons icon-simple-remove"></i>
                                                        </button>
                                                    {% else %}
                                                        <div>Aucune offre n'a été trouvé pour ce souhait</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div>Il n'y a pas de souhait à matcher pour cette catégorie.</div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : resultMatching['wish'].person}) }}
                    <h3>Souhait n°{{ resultMatching['wish'].id }}
                        - {{ constant('LABEL',oneSubstitutionType)[resultMatching['wish'].canvas.substitutionType.substitutionType] }} -
                        Du {{ resultMatching['wish'].timeRange.startDate|date('d/m/Y') }}
                        au {{ resultMatching['wish'].timeRange.endDate|date('d/m/Y') }}
                        <a href="{{ path('offer_wish_edit',{'id':resultMatching['wish'].id}) }}" class="bubble-info" aria-label="Voir le souhait"><i
                                    class="fas fa-eye"></i></a>
                    </h3>
                    {% if resultMatching['offers'] is defined and resultMatching['offers'] is not empty %}
                        {% embed 'BaseTheme/datatable.html.twig' with {'class':'matching-substitute-table-container',
                            "tableClass":"datatables-matching",'header':'no-header','textCenter':'text-center',
                            'tableId':'resultMatching-table'~resultMatching['wish'].id,'data_wish_id':resultMatching['wish'].id } %}
                            {% block thead %}
                                <th></th>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Créateur</th>
                                <th>Début</th>
                                <th>Fin</th>
                                <th>Taux de correspondance</th>
                                <th>Distance</th>
                            {% endblock %}
                            {% block tbody %}
                                {% for offer in resultMatching['offers'] %}
                                    <tr id="row-offer-{{ offer['offer'].id }}-{{ resultMatching['wish'].id }}">
                                        <td>
                                            <input type="checkbox" data-wish-id="{{ resultMatching['wish'].id }}" autocomplete="off"
                                                   name="selectedOffers[]" value="{{ offer['offer'].id }}"
                                                   class="checkboxes-select-offers">
                                        </td>
                                        <td>
                                            <a href="{{ path('offer_offer_edit',{'id':offer['offer'].id}) }}" target="_blank"
                                               title="voir l'offre">{{ offer['offer'].id }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('offer_offer_edit',{'id':offer['offer'].id}) }}" target="_blank"
                                               title="voir l'offre">{{ offer['offer'].canvas.label }}</a>
                                        </td>
                                        <td>
                                            <a title="voir le profil"
                                               href="{% if offer['offer'].person|instanceof('PersonLegal') %}{{ path('core_person_legal_show',{'id':offer['offer'].person.id}) }}{% else %}{{ path('core_person_natural_show',{'id':offer['offer'].person.id}) }}{% endif %}"
                                               target="_blank">{% if offer['offer'].person|instanceof('PersonNatural') %}Dr{% endif %} {{ offer['offer'].person.name }}</a>
                                        </td>
                                        <td>{{ offer['offer'].startingDateOrAsap }}{% if offer['isStartDateModulable'] == true %}<i
                                                    class="fab fa-medium-m modularity-icon" title="Date de début modulable"></i>{% endif %}</td>
                                        <td>
                                            {{ offer['offer'].readableEndDate }}{% if offer['isEndDateModulable'] is defined and offer['isEndDateModulable'] == true %}
                                                <i class="fab fa-medium-m modularity-icon" title="Date de fin modulable"></i>{% endif %}
                                        </td>
                                        <td>{{ offer['percentage']|round(1,'floor') }}%</td>
                                        <td>{% if offer['distance'] is not null %}{{ offer['distance'] }} Km{% else %}Invalide <i
                                                    class="fas fa-question-circle form-tooltip"
                                                    data-tiptext="Il se peut qu'une des adresses renseignées (côté rempla ou côté dépositaire) soit invalide"></i>{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        {% endembed %}
                        <button class="btn btn-primary btn-round btn-icon btn-send-mail-selected-offers"
                                data-dependency-id="resultMatching-table{{ resultMatching['wish'].id }}"
                                data-person-id="{{ person.id }}" data-wish-id="{{ resultMatching['wish'].id }}"
                                title="Envoyer par mail les offres sélectionnées">
                            <i class="tim-icons icon-email-85"></i>
                        </button>
                        <button class="btn btn-primary btn-round btn-icon btn-remove-from-matching"
                                data-dependency-id="resultMatching-table{{ resultMatching['wish'].id }}"
                                data-wish-id="{{ resultMatching['wish'].id }}" title="Retirer du matching, pour ce souhait, les offres sélectionnées">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    {% else %}
                        <div>Aucune offre n'a été trouvé pour ce souhait</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('matchingSubstitute') }}
{% endblock %}