{% extends 'base.html.twig' %}
{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>
        {{ block('title') }}
    </h1>
    {% include 'Core/PersonNatural/_form.html.twig' with {'isCFML' : isCFML} %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('personNatural') }}
{% endblock %}
