{% extends 'base.html.twig' %}

{% block title %}
    Visualisation des clients
{% endblock %}
{% block body %}
    {% embed 'BaseTheme/datatable.html.twig' %}
        {% block tableName %}
            <div class="toolbar">
                <div class="row">
                    <h1 class="col-11">Liste des clients ({{ count }})</h1>
                    <div class="col-1">
                        <a class="bubble-info" aria-label="Nouveau"
                           data-controller=""
                           href="{{ path('core_person_natural_new') }}">
                            <i class="fas fa-user-plus" title=""></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block thead %}
            <th>Nom Prénom</th>
            <th>Id</th>
            <th>Catégorie</th>
            <th>Mail</th>
            <th>CP</th>
            <th>Ville</th>
            <th>Genre</th>
            <th>actions</th>
        {% endblock %}
        {% block tbody %}
            {% for item in data %}
                <tr>
                    <td>
                        {{ item.full_name|raw }}
                    </td>
                    <td>
                        {{ item.id|raw }}
                    </td>
                    <td>
                        {{ item.job_name|raw }}
                    </td>
                    <td>
                        {{ item.mail|raw }}
                    </td>
                    <td>
                        {{ item.postal_code|raw }}
                    </td>
                    <td>
                        {{ item.locality|raw }}
                    </td>
                    <td>
                        {{ item.gender|raw }}
                    </td>
                    <td>
                        {{ item.action|raw }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}