{% extends 'base.html.twig' %}


{% block title %}
    Historique des échanges client
{% endblock %}
{% block body %}
    <div class="content">
        <div class="header text-center">
            <h3 class="title"><a
                        href="{{ path('core_person_natural_show', {'id': PersonNatural.id}) }}"
                        data-controller="Core\PersonNaturalController\show">{{ PersonNatural.lastName }} {{ PersonNatural.firstName }}</a>
                <a class="bubble-info" aria-label="Ajouter une action"
                   data-controller="Core\DiscussionController\new">
                    <i class="fas fa-comment-dots" data-controller="Core\DiscussionController\new"
                       title='Nouvelle discussion'
                       onclick='popupOnHtmlResponse(this,"{{ url("core_discussion_new", {"id":PersonNatural.id}) }}")'></i>
                </a>
            </h3>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <select class="selectpicker" id="select-discussion-type">
                    <option value="" selected>Tous les types</option>
                    {% for discussionType,discussionLabel in constant("LABEL",oneDiscussion) %}
                        <option value="{{ discussionType }}">{{ discussionLabel }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="selectpicker" id="select-discussion-service">
                    <option value="">Tous les services</option>
                    {% for service in services %}
                        <option value="{{ service.id }}" {% if service.id == app.user.service.id %}selected{% endif %}>{{ service.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="selectpicker" id="select-discussion-period">
                    <option value="">Toutes les périodes</option>
                    {% for periodType, periodName in constant('PERIODS_LABELS',oneDiscussion) %}
                        <option value="{{ periodType }}" {% if periodType == constant('PERIOD_ONE_YEAR',oneDiscussion) %}selected{% endif %}>{{ periodName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-timeline card-plain">
                    <div class="card-body">
                        <ul class="timeline">
                            {% for typeTime, discussions in sortedDiscussions %}
                                {% for discussion in discussions %}
                                    {% set discussionClassType="success" %}
                                    {% if(discussion.type is not even) %}
                                        {% set discussionClassType="danger" %}
                                    {% endif %}
                                    <li class="discussion-type-{{ discussion.type }} discussion-service-{{ discussion.service.id }} discussion-period-{{ typeTime }} {% if discussion.type is not even %} timeline-inverted {% endif %}">
                                        <div class="timeline-badge {{ discussionClassType }}">
                                            {{ discussion.translate.icon(discussion.type) |raw }}
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span class="badge badge-pill badge-{{ discussionClassType }}">{{ discussion.translate.label(discussion.type) }}</span>
                                                    </div>
                                                    <div class="col-4">
                                                        <h6>
                                                            <i class="ti-time"></i>
                                                            {{ discussion.creationDate|date('d/m/Y H:i') }}
                                                        </h6>
                                                    </div>
                                                    <div class="col-2">
                                                        <h6>{{ discussion.creator }}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline-body">
                                                <p>{{ discussion.memo|nl2br }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('Core/Person/viewPersonInfo.html.twig',{'person' : PersonNatural}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('timeLinePersonNatural') }}
{% endblock %}