{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('toolBox') }}
 {% endblock %}

{% block title %}{{ personNatural.name }}{% endblock %}
{% block tools %}
    {% include 'Core/ToolBox/toolBox.html.twig' with { 'personNatural' : personNatural , 'isCFML' : isCFML } %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {% if isCFML == false %}
                <h2>{{ personNatural.mainJobName.label }}</h2>
            {% endif %}
            <h1 class="text-left">{{ personNatural.lastName }} {{ personNatural.firstName }} ({{ personNatural.id }})
                {% if isCFML == false %},
                    {{ specialty }}
                {% endif %}
                <a aria-label="Modifier" data-controller="Core\PersonNaturalController\edit"
                   href="{{ url("core_person_natural_edit",{"id":personNatural.id }) }}">
                    <i class="fas fa-user-edit"></i>
                </a>
            </h1>
        </div>
        {% if personNatural.mainJobName.personAccesses[0] is defined and is_granted(constant('CANDIDATE_TO_LIBERAL_ANNOUNCE',personNatural.mainJobName.personAccesses[0]),personNatural) %}
            <div class="col-md-1">
                <a href="{{ path('matching_substitute',{'id':personNatural.id}) }}"
                   class="bubble-info"
                   aria-label="Matching">
                    <i class="far fa-list-alt c-orange"></i>
                </a>
            </div>
        {% endif %}
        {% if personNatural.mainJobName.personAccesses[0] is defined and  is_granted(constant('CANDIDATE_TO_LIBERAL_ANNOUNCE',personNatural.mainJobName.personAccesses[0]),personNatural) %}
            <div class="col-md-1">
                <a href="{{ path('offer_wish_index',{'personId':personNatural.id}) }}"
                   class="bubble-info"
                   aria-label="Voir les souhaits">
                    <i class="fas fa-magic"></i>
                </a>
            </div>
        {% endif %}
        {% if personNatural.discussions|length > 0 %}
            <div class="col-md-1">
                <a href="{{ path('core_person_natural_viewtimeline',{"id":personNatural.id }) }}"
                   class="bubble-info"
                   aria-label="Voir les échanges">
                    <i class="fas fa-comments"></i>
                </a>
            </div>
        {% endif %}

        {% if isRAorRT %}
            <div class="col-md-1">
                <a type="button"
                   data-toggle="modal"
                   data-target="#modal_of_specific_status"
                   class="bubble-info"
                   aria-label="Statut spécifique client CFML">
                    <i class="fas fa-scroll"></i>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="mt-5 row justify-content-center">
        <div class="row justify-content-center col-md-12">
            <div class="col-md-5">
                <!-- Infos principales (tel, mail, adresse) -->
                <div class="card">
                    <div class="card-body">
                        Téléphones
                        <div class="data">
                            <div class="row">
                                {% for telephone in personNatural.telephones %}
                                    <div class="col">
                                        {% if telephone.phoneType==constant('CELL', telephone) %}
                                            {# TODO LIEN VERS ENVOI SMS A ENVOYER SUR PHONE#}
                                            {% set phone = telephone.number|slice(1, 9) %}
                                        {% else %}
                                            {# TODO LIEN VERS CLIC TO CALL#}
                                            {% set lien="" %}
                                        {% endif %}
                                        {{ telephone.translate.icon(telephone.phoneType)|raw }}
                                        {% set tel=telephone.number|split('',2) %}
                                        {% for number in tel %}
                                            {{ number }}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr class="separate">
                        <div class="row">
                            <div class="col">Mails</div>
                            <div class="col-6"></div>
                        </div>
                        <div class="data">
                            {% for mail in personNatural.mails %}
                                <div class="row">
                                    <div class="col">
                                        {{ mail.translate.icon(mail.mailType)|raw }}
                                        {% set lien="mailto:"~mail.address %}
                                        <a href="{{ lien }}">
                                            <span class="{% if (mail.isDefault==false) %}not-default{% endif %}">{{ mail.address }}</span>
                                        </a>
                                    </div>
                                    {% if (userWebsite is not null) and userWebsite.login==mail.address %}
                                        <div class="col-1"><i class="fas fa-globe fa-valid" title="Compte site"></i>
                                        </div>
                                        <div class="col-3">
                                            <em>{{ userWebsite.pass }}</em>
                                        </div>
                                        {% if (adhWebsite is not null and adhWebsite.cus_valide is not null) %}
                                            <div class="col-1">
                                                <i title="Portail d'annonce ouvert"
                                                   class="fas fa-check fa-valid"></i>
                                            </div>
                                        {% else %}
                                            {% if (userWebsite.cus_envoi is not null) %}
                                                <div class="col-1">
                                                    <i title="CUAM pour ouverture du portail d'annonces de remplacement envoyé le {{ userWebsite.cus_envoi | date('d/m/Y') }}"
                                                       class="fas fa-share-square fa-in-progress"></i>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {#TODO contrôle d'affichage de l'envoi des CUAM en fonction de la situation de la personne 'remplaçant, installé à la recherche de remplaçant etc.....' voir condition avec AGNES + contrôle de l'affichage en fonction des droits staff (CR+COMM) + contrôle de l'affichage en fonction de si âge renseigné et compte site déjà existant + contrôle si personne non blacklisté ou décédé#}
                                        {% if (userWebsite.cus_envoi==null) %}
                                            <div class="col-2"
                                                 data-controller="Core\PersonNaturalController\validateEULA"
                                                 onclick='callControllerWithAjax("{{ url("core_person_natural_validate_eula",{"id":personNatural.id }) }}")'>
                                                <i title="Envoi des CUAM pour ouverture du portail d'annonces de remplacement"
                                                   class="fas fa-share-square fa-middle-x"></i>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if (userWebsite is null)  and mail.isDefault==true %}
                                            {% if isCFML == false %}
                                                <div class="col-2"><i title="création d'un compte site"
                                                                      class="fas fa-plus "
                                                                      data-controller="Core\PersonNaturalController\createWebsiteAccount"
                                                                      onclick='callControllerWithAjax("{{ url("core_person_natural_create_website_account",{"id":personNatural.id }) }}")'>
                                                    </i></div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        <hr class="separate">
                        Adresses
                        <div class="data">
                            <div class="row">
                                {% for address in personNatural.addresses %}
                                    {% for usage in address.usages %}
                                        {% if usage==constant('FISCAL', address) %}
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <hr class="separate">
                                                        Adresse Fiscale
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        {{ address.addressLine1 }}<br/>
                                                        {% if address.addressLine2!='' %}
                                                            {{ address.addressLine2 }}<br/>
                                                        {% endif %}
                                                        {{ address.postalCode }} {{ address.locality }} {% if address.isCedex==true %} CEDEX{% endif %}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% for domiciliation in address.domiciliations %}
                                                            {{ address.translate.icon(domiciliation)|raw }}<br/>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {% for usage in address.usages %}
                                                            {{ address.translate.icon(usage)|raw }}<br/>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for usage in address.usages %}
                                        {% if usage==constant('CORRESPONDENCE',address) %}
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <hr class="separate">
                                                        Adresse de correspondance
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        {{ address.addressLine1 }}<br/>
                                                        {% if address.addressLine2!='' %}
                                                            {{ address.addressLine2 }}<br/>
                                                        {% endif %}
                                                        {{ address.postalCode }} {{ address.locality }}  {% if address.isCedex==true %} CEDEX{% endif %}
                                                    </div>
                                                    <div class="col-md-1">{% for domiciliation in address.domiciliations %}
                                                            {{ address.translate.icon(domiciliation)|raw }}<br/>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="col-md-1">{% for usage in address.usages %}
                                                            {{ address.translate.icon(usage)|raw }}<br/>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <hr class="separate">
                        <div class="d-flex">
                            <p>Status de la personne : &nbsp;</p>
                            <p id="before_last_specific_status"
                               class="text-warning text-underline">
                                {% if membershipCfml != null %}
                                    {{ membershipCfml.translate.label(membershipCfml.specificStatus) }}
                                {% else %}
                                    Aucun
                                {% endif %}
                            </p>
                        </div>
                        <hr class="separate">
                        <div class="card-header pt-0 accordion-list-elements-header"
                             id="accordion-detail-card">
                            <a data-toggle="collapse" data-parent="#accordion-detail"
                               href="#historization-detail" aria-expanded="false"
                               aria-controls="collapse-detail" class="collapsed">
                                Historisation du status
                                <i class="tim-icons icon-minimal-down"></i>
                            </a>
                        </div>
                        <div id="historization-detail" class="collapse" role="tabpanel"
                             aria-labelledby="accordion-detail-card">

                            <div class="card-body accordion-list-elements-body"><br/>
                                <div class="row">
                                    <div class="col">
                                        {% for status in historizeStatus %}
                                            <p>Le {{ status.dateHistorize|date("m/d/Y") }}</p>
                                            <p>Ancien status
                                                <strong>{{ membershipCfml.translate.label(status.oldSpecificStatus) }}</strong>
                                            </p>
                                            <p>Changer par <strong>{{ status.membership.creator }}</strong></p>
                                            <br/>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card card-chart">
                    <div class="card-body">
                        <!-- Dernier échange -->
                        <div>
                            <div class="row">
                                <div class="col-4 label">{% if lastExchange is not null %}
                                        Dernier échange
                                        <br/>{{ lastExchange.translate.label(lastExchange.type) }}{% endif %}
                                </div>
                                <div class="col-8 value text-right">{% if lastExchange is not null %}{{ lastExchange.creator.lastName }} {{ lastExchange.creator.firstName }}
                                        <br/>le {{ lastExchange.creationDate|date('d/m/Y à H:i:s') }}{% else %}Aucun échange{% endif %}
                                </div>
                            </div>
                            <hr class="one-hr">
                        </div>
                        <!-- Infos complémentaires moins importantes (origine, créé le, ...) -->
                        <div>
                            <div id="accordion-detail" class="card-collapse" role="tablist" aria-multiselectable="true">
                                <div class="card card-plain">
                                    <div class="card-header pt-0 accordion-list-elements-header"
                                         id="accordion-detail-card">
                                        <a data-toggle="collapse" data-parent="#accordion-detail"
                                           href="#collapse-detail" aria-expanded="false"
                                           aria-controls="collapse-detail" class="collapsed">
                                            Plus de détails
                                            <i class="tim-icons icon-minimal-down"></i>
                                        </a>
                                    </div>
                                    <div id="collapse-detail" class="collapse" role="tabpanel"
                                         aria-labelledby="accordion-detail-card">
                                        <div class="card-body accordion-list-elements-body">
                                            <div class="row">
                                                <div class="col-3 label">Statut</div>
                                                <div class="col-8 value">{{ personNatural.translate.label(personNatural.personStatus) }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3 label">Genre</div>
                                                <div class="col-3 value">{{ personNatural.translate.label(personNatural.gender) }}</div>
                                                <div class="col-3 label">Age</div>
                                                <div class="col-3 value">{% if personNatural.age is not empty %}{{ personNatural.age }} ans {% endif %} </div>
                                            </div>
                                            <hr class="one-hr">
                                            <div class="row">
                                                <div class="col-3 label">Origine</div>
                                                <div class="col-3 value">{{ personNatural.origin.label }}</div>
                                            </div>
                                            <hr class="one-hr">
                                            <div class="row">
                                                <div class="col-2 label">Crée le</div>
                                                <div class="col-4 value">{{ personNatural.creationDate|date('d/m/Y H:i:s') }}</div>
                                                <div class="col-2 label">Par</div>
                                                <div class="col-4 value">{{ personNatural.creator.lastName }} {{ personNatural.creator.firstName }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="one-hr">
                        <!-- Liste Etab -->
                        {% if personNatural.mainJobName.classification == constant('BASED', personNatural.mainJobName)
                            or personNatural.mainJobName.classification == constant('INSTITUTION_FUNCTION', personNatural.mainJobName) and personNatural.personLegals is not empty %}
                            <div class="mt-2">
                                <div>
                                    <strong>Liste des établissements & clients associées</strong>
                                </div>
                                {% if personNatural.personLegals|length == 0 %}
                                    <div>
                                        <span class="font-italic">Aucun établissement associé</span>
                                    </div>
                                {% endif %}
                                <div id="accordion" class="card-collapse" role="tablist" aria-multiselectable="true">
                                    {% for personLegal in personNatural.personLegals %}
                                        <div class="card card-plain">
                                            <div class="card-header accordion-list-elements-header"
                                                 id="heading-{{ personLegal.id }}">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse-{{ personLegal.id }}" aria-expanded="false"
                                                   aria-controls="collapse-{{ personLegal.id }}"
                                                   class="collapsed accordion-etab">
                                                    {{ personLegal.corporateName }} <span class="accordion-link-etab"
                                                                                          data-href="{{ path('core_person_legal_show',{'id':personLegal.id}) }}">fiche étab</span>
                                                    <i class="tim-icons icon-minimal-down"></i>
                                                </a>
                                            </div>
                                            <div id="collapse-{{ personLegal.id }}" class="collapse" role="tabpanel"
                                                 aria-labelledby="heading-{{ personLegal.id }}" style="">
                                                <div class="card-body accordion-list-elements-body">
                                                    {% if personLegal.personNaturals|length > 1 %}
                                                        <div class="card-collapse accordion" role="tablist"
                                                             aria-multiselectable="true">
                                                            {% for personNaturalInPersonLegal in personLegal.personNaturals %}
                                                                {% if personNaturalInPersonLegal.id != personNatural.id %}
                                                                    <div class="card card-plain">
                                                                        <div class="card-header"
                                                                             id="heading-offer-{{ personLegal.id }}-{{ personNaturalInPersonLegal.id }}">
                                                                            <div data-toggle="collapse"
                                                                                 data-parent="#accordion"
                                                                                 href="#collapse-offer-{{ personLegal.id }}-{{ personNaturalInPersonLegal.id }}"
                                                                                 aria-expanded="false"
                                                                                 aria-controls="collapse-offer-{{ personLegal.id }}-{{ personNaturalInPersonLegal.id }}"
                                                                                 class="row person-natural-in-person-legal person-natural-in-person-legal-rows collapsed">
                                                                                <a class="col-md-7 person-natural-in-person-legal-a"
                                                                                   title="Voir la fiche"
                                                                                   href="{{ url("core_person_natural_show",{"id":personNaturalInPersonLegal.id }) }}"
                                                                                   target="_blank">
                                                                                    {{ personNaturalInPersonLegal.lastName }} {{ personNaturalInPersonLegal.firstName }}</a>
                                                                                <span class="col-md-3 col-adh-person-natural">Type Adhérent{# TODO : Gestion des adhérents #}</span>
                                                                                <span class="col-md-2">
                                                                        <i class="fas fa-user-md"
                                                                           title="Voir les offres en cours"></i>
                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        <div id="collapse-offer-{{ personLegal.id }}-{{ personNaturalInPersonLegal.id }}"
                                                                             class="collapse" role="tabpanel"
                                                                             aria-labelledby="heading-offer-{{ personLegal.id }}-{{ personNaturalInPersonLegal.id }}"
                                                                             style="">
                                                                            <div class="card-body accordion-list-elements-body">
                                                                                {% if personNaturalInPersonLegal.substitutions is not empty %}
                                                                                    <div class="row">
                                                                                        <div class="col-md-3">Offres
                                                                                        </div>
                                                                                        <div class="col-md-2">
                                                                                            <strong>Id</strong>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <strong>Etat</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                    {% for substitution in personNaturalInPersonLegal.substitutions %}
                                                                                        {% if substitution|instanceof('Offer') %}
                                                                                            <div class="row">
                                                                                                <div class="col-md-3"></div>
                                                                                                <div class="col-md-2"><a
                                                                                                            title="Voir l'offre"
                                                                                                            href="{{ url("offer_offer_show",{"id":substitution.id }) }}"
                                                                                                            target="_blank">{{ substitution.id }}</a>
                                                                                                </div>
                                                                                                <div class="col-md-6"><a
                                                                                                            title="Voir l'offre"
                                                                                                            href="{{ url("offer_offer_show",{"id":substitution.id }) }}"
                                                                                                            target="_blank">{{ constant("LABEL",substitution)[substitution.state] }}</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                {% else %}
                                                                                    <div>Il n'y a pas d'offre associée à
                                                                                        cette
                                                                                        personne
                                                                                    </div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        <div>Il n'y a pas d'autres membres</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center col-md-12">
            {% if isCFML == false %}
                <!-- Offres -->
                <div class="col-md-10">
                    {% if personNatural.mainJobName.classification == constant('SUBSTITUTE', personNatural.mainJobName) %}
                        {% include 'Offer/Offer/personOffer/viewSubstituteOffer.html.twig' with {'personNatural':personNatural} %}
                    {% elseif  personNatural.mainJobName.classification == constant('BASED', personNatural.mainJobName) %}
                        {% include 'Offer/Offer/personOffer/viewApplicantOffer.html.twig' with {'person':personNatural} %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center col-md-12">
            {% if isCFML == false %}
                <!-- Calendrier -->
                <div class="col-md-10">
                    {% if personNatural.mainJobName.classification == constant('SUBSTITUTE', personNatural.mainJobName)
                        or "effectuant des remplacements" in personNatural.mainJobName.label %}
                        <div class="card card-calendar">
                            <div class="card-body">
                                {% include 'BaseTheme/calendar.html.twig' with {'size':'calendar-small','object':personNatural,'type':'personNatural'} %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center col-md-12">
            <div class="col-md-5">
                <!-- Infos complémentaires -->
                {% if personNatural.additionalInformation is not null %}
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="card card-chart">
                                <div class="card-header">
                                    Informations complémentaires
                                </div>
                                <div class="card-body">
                                    {{ personNatural.additionalInformation.text }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-5">
                <!-- Notes -->
                {% if personNatural.mainJobName.classification == constant('SUBSTITUTE', personNatural.mainJobName) %}
                    <div class="card">
                        <div class="card-header">Notes</div>
                        <div class="card-body">
                            <!-- TODO : remonter les notes (liées au clients, pas aux offres) de nantu (à moins que le champ 'additionnalInformation' serve à ça) -->
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2>Derniers échanges avec le service [{{ app.user.service.name }}]</h2>
                {% if personNatural.discussions|length > 0 %}
                    <div class="col-md-1">
                        <a href="{{ path('core_person_natural_viewtimeline',{"id":personNatural.id }) }}"
                           class="bubble-info"
                           aria-label="Voir tous les échanges">
                            <i class="fas fa-comments"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if discussionsService is not empty %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-timeline card-plain">
                                <div class="card-body">
                                    <ul class="timeline">
                                        {% for discussion in discussionsService %}
                                            {% set discussionClassType="success" %}
                                            {% if(discussion.type is not even) %}
                                                {% set discussionClassType="danger" %}
                                            {% endif %}
                                            <li class="discussion-type-{{ discussion.type }} discussion-service-{{ discussion.service.id }} {% if discussion.type is not even %} timeline-inverted {% endif %}">
                                                <div class="timeline-badge {{ discussionClassType }}">
                                                    {{ discussion.translate.icon(discussion.type) |raw }}
                                                </div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span class="badge badge-pill badge-{{ discussionClassType }}">{{ discussion.translate.label(discussion.type) }}</span>
                                                            </div>
                                                            <div class="col-4">
                                                                <h6>
                                                                    <i class="ti-time"></i>
                                                                    {{ discussion.creationDate|date('d/m/Y H:i') }}
                                                                </h6>
                                                            </div>
                                                            <div class="col-2">
                                                                <h6>{{ discussion.creator }}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <p>{{ discussion.memo|nl2br }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="text-center">Il n'y a encore eu aucun échange avec ce client
                </div>
            {% endif %}
        </div>
    </div>

    {#  Modal pour les gestion de status specifique (specific status) #}
    <div class="modal fade" id="modal_of_specific_status" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            {{ form_start(formMembershipCfmlSpecificStatusHistorizationType, {'action': path('add_specific_status_to_membeship_cfml', { 'id' : personNatural.id}) , 'attr': {'id': 'formMembershipCfmlSpecificStatusHistorization'},  'method': 'POST'}) }}
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Modifier le status de la personne</h3>
                </div>
                <div class="modal-body">
                    <div class="data">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(formMembershipCfmlSpecificStatusHistorizationType) }}
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                {% include 'BaseTheme/selectpicker.html.twig' with {'field':formMembershipCfmlSpecificStatusHistorizationType.oldSpecificStatus} %}
                                {{ form_widget(formMembershipCfmlSpecificStatusHistorizationType.oldSpecificStatus) }}
                                <p class=""
                                   id="msg_event_form_membership_cfml_specific_status_historization_type"></p>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close_modal_specific_status" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form_widget(formMembershipCfmlSpecificStatusHistorizationType.submit, {'attr': {'class': 'btn btn-finish btn-fill btn-primary'},'label':'Enregistrer'}) }}
                </div>
                {{ form_end(formMembershipCfmlSpecificStatusHistorizationType) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('offer') }}
    {{ encore_entry_script_tags('matchingSubstitute') }}
    {{ encore_entry_script_tags('personToContact') }}
    {{ encore_entry_script_tags('personAlreadyHired') }}
    {{ encore_entry_script_tags('formMembershipCfmlSpecificStatusHistorization') }}
    {{ encore_entry_script_tags('opinions') }}
{% endblock %}